<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TProjectReturnResultMap" type="com.dimeng.entity.table.project.TProjectReturn" >
    <id column="return_id" property="returnId" jdbcType="VARCHAR" />
    <result column="support_amount" property="supportAmount" jdbcType="DECIMAL" />
    <result column="upper_count" property="upperCount" jdbcType="INTEGER" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="date_update" property="dateUpdate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="return_describe" property="returnDescribe" jdbcType="VARCHAR" />
    <result column="surplus_count" property="surplusCount" jdbcType="INTEGER" />
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="TProjectReturn_Column_List" >
    return_id, support_amount, upper_count, date_create, project_id, date_update, create_id, 
    update_id, return_describe, surplus_count, image_id, image_url
  </sql>
  <select id="findByIdTProjectReturn" resultMap="TProjectReturnResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TProjectReturn_Column_List" />
    from t_project_return
    where return_id = #{returnId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTProjectReturn" parameterType="java.lang.String" >
    delete from t_project_return
    where return_id = #{returnId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTProjectReturn" parameterType="com.dimeng.entity.table.project.TProjectReturn" >
    insert into t_project_return
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="returnId != null" >
        return_id,
      </if>
      <if test="supportAmount != null" >
        support_amount,
      </if>
      <if test="upperCount != null" >
        upper_count,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="dateUpdate != null" >
        date_update,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="returnDescribe != null" >
        return_describe,
      </if>
      <if test="surplusCount != null" >
        surplus_count,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="returnId != null" >
        #{returnId,jdbcType=VARCHAR},
      </if>
      <if test="supportAmount != null" >
        #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="upperCount != null" >
        #{upperCount,jdbcType=INTEGER},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="returnDescribe != null" >
        #{returnDescribe,jdbcType=VARCHAR},
      </if>
      <if test="surplusCount != null" >
        #{surplusCount,jdbcType=INTEGER},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTProjectReturn" parameterType="com.dimeng.entity.table.project.TProjectReturn" >
    update t_project_return
    <set >
      <if test="supportAmount != null" >
        support_amount = #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="upperCount != null" >
        upper_count = #{upperCount,jdbcType=INTEGER},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="returnDescribe != null" >
        return_describe = #{returnDescribe,jdbcType=VARCHAR},
      </if>
      <if test="surplusCount != null" >
        surplus_count = #{surplusCount,jdbcType=INTEGER},
      </if>
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where return_id = #{returnId,jdbcType=VARCHAR}
  </update>
</mapper>