<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TProjectInfoResultMap" type="com.dimeng.entity.table.project.TProjectInfo" >
    <id column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="CHAR" />
    <result column="project_creator_id" property="projectCreatorId" jdbcType="VARCHAR" />
    <result column="target_amount" property="targetAmount" jdbcType="DECIMAL" />
    <result column="raised_amount" property="raisedAmount" jdbcType="DECIMAL" />
    <result column="project_intro" property="projectIntro" jdbcType="VARCHAR" />
    <result column="project_status" property="projectStatus" jdbcType="CHAR" />
    <result column="financing_days" property="financingDays" jdbcType="VARCHAR" />
    <result column="date_raised_end" property="dateRaisedEnd" jdbcType="TIMESTAMP" />
    <result column="freight_describe" property="freightDescribe" jdbcType="VARCHAR" />
    <result column="deliver_describe" property="deliverDescribe" jdbcType="VARCHAR" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="VARCHAR" />
    <result column="date_update" property="dateUpdate" jdbcType="TIMESTAMP" />
    <result column="qr_code_addr" property="qrCodeAddr" jdbcType="VARCHAR" />
    <result column="date_success" property="dateSuccess" jdbcType="TIMESTAMP" />
    <result column="project_label" property="projectLabel" jdbcType="VARCHAR" />
    <result column="is_nedd_addr" property="isNeddAddr" jdbcType="CHAR" />
    <result column="date_project_failure" property="dateProjectFailure" jdbcType="TIMESTAMP" />
    <result column="failure_reason" property="failureReason" jdbcType="VARCHAR" />
    <result column="operator_failure_id" property="operatorFailureId" jdbcType="VARCHAR" />
    <result column="date_project_delete" property="dateProjectDelete" jdbcType="TIMESTAMP" />
    <result column="delete_reason" property="deleteReason" jdbcType="VARCHAR" />
    <result column="operator_delete_id" property="operatorDeleteId" jdbcType="VARCHAR" />
    <result column="cover_image_id" property="coverImageId" jdbcType="VARCHAR" />
    <result column="cover_image_url" property="coverImageUrl" jdbcType="VARCHAR" />
    <result column="project_details" property="projectDetails" jdbcType="LONGVARCHAR" />
    <result column="shield_status" property="shieldStatus" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="TProjectInfo_Column_List" >
    project_id, project_no, project_name, project_type, project_creator_id, target_amount, 
    raised_amount, project_intro, project_status, financing_days, date_raised_end, freight_describe, 
    deliver_describe, date_create, modify_id, date_update, qr_code_addr, date_success, 
    project_label, is_nedd_addr, date_project_failure, failure_reason, operator_failure_id, 
    date_project_delete, delete_reason, operator_delete_id, cover_image_id, cover_image_url, project_details,shield_status
  </sql>
  <select id="findByIdTProjectInfo" resultMap="TProjectInfoResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TProjectInfo_Column_List" />
    from t_project_info
    where project_id = #{projectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTProjectInfo" parameterType="java.lang.String" >
    delete from t_project_info
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTProjectInfo" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
    insert into t_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectNo != null" >
        project_no,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="projectCreatorId != null" >
        project_creator_id,
      </if>
      <if test="targetAmount != null" >
        target_amount,
      </if>
      <if test="raisedAmount != null" >
        raised_amount,
      </if>
      <if test="projectIntro != null" >
        project_intro,
      </if>
      <if test="projectStatus != null" >
        project_status,
      </if>
      <if test="financingDays != null" >
        financing_days,
      </if>
      <if test="dateRaisedEnd != null" >
        date_raised_end,
      </if>
      <if test="freightDescribe != null" >
        freight_describe,
      </if>
      <if test="deliverDescribe != null" >
        deliver_describe,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="dateUpdate != null" >
        date_update,
      </if>
      <if test="qrCodeAddr != null" >
        qr_code_addr,
      </if>
      <if test="dateSuccess != null" >
        date_success,
      </if>
      <if test="projectLabel != null" >
        project_label,
      </if>
      <if test="isNeddAddr != null" >
        is_nedd_addr,
      </if>
      <if test="dateProjectFailure != null" >
        date_project_failure,
      </if>
      <if test="failureReason != null" >
        failure_reason,
      </if>
      <if test="operatorFailureId != null" >
        operator_failure_id,
      </if>
      <if test="dateProjectDelete != null" >
        date_project_delete,
      </if>
      <if test="deleteReason != null" >
        delete_reason,
      </if>
      <if test="operatorDeleteId != null" >
        operator_delete_id,
      </if>
      <if test="coverImageId != null" >
        cover_image_id,
      </if>
      <if test="coverImageUrl != null" >
        cover_image_url,
      </if>
      <if test="projectDetails != null" >
        project_details,
      </if>
      <if test="shieldStatus != null" >
        shield_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=CHAR},
      </if>
      <if test="projectCreatorId != null" >
        #{projectCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="targetAmount != null" >
        #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="raisedAmount != null" >
        #{raisedAmount,jdbcType=DECIMAL},
      </if>
      <if test="projectIntro != null" >
        #{projectIntro,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=CHAR},
      </if>
      <if test="financingDays != null" >
        #{financingDays,jdbcType=VARCHAR},
      </if>
      <if test="dateRaisedEnd != null" >
        #{dateRaisedEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="freightDescribe != null" >
        #{freightDescribe,jdbcType=VARCHAR},
      </if>
      <if test="deliverDescribe != null" >
        #{deliverDescribe,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCodeAddr != null" >
        #{qrCodeAddr,jdbcType=VARCHAR},
      </if>
      <if test="dateSuccess != null" >
        #{dateSuccess,jdbcType=TIMESTAMP},
      </if>
      <if test="projectLabel != null" >
        #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="isNeddAddr != null" >
        #{isNeddAddr,jdbcType=CHAR},
      </if>
      <if test="dateProjectFailure != null" >
        #{dateProjectFailure,jdbcType=TIMESTAMP},
      </if>
      <if test="failureReason != null" >
        #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorFailureId != null" >
        #{operatorFailureId,jdbcType=VARCHAR},
      </if>
      <if test="dateProjectDelete != null" >
        #{dateProjectDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteReason != null" >
        #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeleteId != null" >
        #{operatorDeleteId,jdbcType=VARCHAR},
      </if>
      <if test="coverImageId != null" >
        #{coverImageId,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectDetails != null" >
        #{projectDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="shieldStatus != null" >
        #{shieldStatus,jdbcType=CHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateTProjectInfo" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
    update t_project_info
    <set >
      <if test="projectNo != null" >
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=CHAR},
      </if>
      <if test="projectCreatorId != null" >
        project_creator_id = #{projectCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="targetAmount != null" >
        target_amount = #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="raisedAmount != null" >
        raised_amount = #{raisedAmount,jdbcType=DECIMAL},
      </if>
      <if test="projectIntro != null" >
        project_intro = #{projectIntro,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        project_status = #{projectStatus,jdbcType=CHAR},
      </if>
      <if test="financingDays != null" >
        financing_days = #{financingDays,jdbcType=VARCHAR},
      </if>
      <if test="dateRaisedEnd != null" >
        date_raised_end = #{dateRaisedEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="freightDescribe != null" >
        freight_describe = #{freightDescribe,jdbcType=VARCHAR},
      </if>
      <if test="deliverDescribe != null" >
        deliver_describe = #{deliverDescribe,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCodeAddr != null" >
        qr_code_addr = #{qrCodeAddr,jdbcType=VARCHAR},
      </if>
      <if test="dateSuccess != null" >
        date_success = #{dateSuccess,jdbcType=TIMESTAMP},
      </if>
      <if test="projectLabel != null" >
        project_label = #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="isNeddAddr != null" >
        is_nedd_addr = #{isNeddAddr,jdbcType=CHAR},
      </if>
      <if test="dateProjectFailure != null" >
        date_project_failure = #{dateProjectFailure,jdbcType=TIMESTAMP},
      </if>
      <if test="failureReason != null" >
        failure_reason = #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorFailureId != null" >
        operator_failure_id = #{operatorFailureId,jdbcType=VARCHAR},
      </if>
      <if test="dateProjectDelete != null" >
        date_project_delete = #{dateProjectDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteReason != null" >
        delete_reason = #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeleteId != null" >
        operator_delete_id = #{operatorDeleteId,jdbcType=VARCHAR},
      </if>
      <if test="coverImageId != null" >
        cover_image_id = #{coverImageId,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        cover_image_url = #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectDetails != null" >
        project_details = #{projectDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="shieldStatus != null" >
        shield_status = #{shieldStatus,jdbcType=CHAR},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=VARCHAR}
  </update>
</mapper>