<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TProjectDynamicResultMap" type="com.dimeng.entity.table.project.TProjectDynamic" >
    <id column="dynamic_id" property="dynamicId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="dynamic_info" property="dynamicInfo" jdbcType="VARCHAR" />
    <result column="dynamic_type" property="dynamicType" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="support_amount" property="supportAmount" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="TProjectDynamic_Column_List" >
    dynamic_id, project_id, date_create, dynamic_info, dynamic_type, creator,
    support_amount, order_no
  </sql>
  <select id="findByIdTProjectDynamic" resultMap="TProjectDynamicResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TProjectDynamic_Column_List" />
    from t_project_dynamic
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTProjectDynamic" parameterType="java.lang.String" >
    delete from t_project_dynamic
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </delete> 
  <insert id="insertTProjectDynamic" parameterType="com.dimeng.entity.table.project.TProjectDynamic" >
    insert into t_project_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        dynamic_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="dynamicInfo != null" >
        dynamic_info,
      </if>
      <if test="dynamicType != null" >
        dynamic_type,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="supportAmount != null" >
        support_amount,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        #{dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicInfo != null" >
        #{dynamicInfo,jdbcType=VARCHAR},
      </if>
      <if test="dynamicType != null" >
        #{dynamicType,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="supportAmount != null" >
        #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTProjectDynamic" parameterType="com.dimeng.entity.table.project.TProjectDynamic" >
    update t_project_dynamic
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicInfo != null" >
        dynamic_info = #{dynamicInfo,jdbcType=VARCHAR},
      </if>
      <if test="dynamicType != null" >
        dynamic_type = #{dynamicType,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="supportAmount != null" >
        support_amount = #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </update>
</mapper>