<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>/</display-name>
	<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		    classpath*:spring/applicationContext*.xml 
        </param-value>
  </context-param>
  <listener>
    <listener-class>  
            org.springframework.web.util.IntrospectorCleanupListener  
        </listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
  </listener>
  <filter>
		<filter-name>XssFilter</filter-name>
		<filter-class>com.dimeng.front.exception.XssFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>illegalChars</param-name>
			<param-value>|,',\',\",&lt;,>,+,\",\,%></param-value>
		</init-param>
		<!--  对部分页面不进行拦截过滤 -->
		<init-param>
			<param-name>unCatch</param-name>
			<param-value>/js/,/css/,/images/,/easy/js/,/easy/css/,/easy/images/,/upload/,/common/,/user/project/uploadAttachment.do,/user/project/uploadFile.do,/user/project/initWelfareProject.do,/user/project/initReturnProject.do,/user/project/initDreamProject.do,/user/project/updateWelfareProject.do,/user/project/updateReturnProject.do,/user/project/updateDreamProject.do</param-value>
		</init-param>
  </filter>
  <filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
    <!--  图片防盗链和查看过滤器，后面可以删掉    add by wangshaohua -->
    <!-- <filter>
		<filter-name>ImageFilter</filter-name>
		<filter-class>com.dimeng.front.exception.ImageFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
  </filter>
   <filter-mapping>
		<filter-name>ImageFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
  </filter-mapping>-->
   <!--  图片过滤器 *********end******* -->
  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>com.dimeng.framework.http.servlet.MultiViewResolverServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring/springMVC-servlet*.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>captcha</servlet-name>
	<servlet-class>com.dimeng.framework.http.servlet.CaptchaServlet</servlet-class>
	</servlet>
 <filter>
	<filter-name>shiroFilter</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>shiroFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>/captcha</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <taglib>
      <taglib-uri>/dimeng</taglib-uri>
      <taglib-location>/WEB-INF/tld/dimeng.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/include/common/prelude.jsp</include-prelude>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.jsp</location>
  </error-page>
   <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/500.jsp</location>
  </error-page> 
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
		<welcome-file>home/index.do</welcome-file>
  </welcome-file-list>
</web-app>