<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">
	 <!-- *********************用户统计****************** --> 
	<!-- 用户统计 -->
	<resultMap id="userStatMap" type="com.dimeng.entity.ext.statistics.UserStatResp">
		<result column="date_time" property="dateTime" jdbcType="VARCHAR" /> 
		<result column="day_regest_num" property="registerCount"
			jdbcType="VARCHAR" /> 
		<result column="login_uesr_num" property="loginUserCount"
			jdbcType="VARCHAR" />
		<result column="invest_new_num" property="newPayUserCount"
			jdbcType="VARCHAR" />
		<result column="wx_regist_num" property="regWxCount"
			jdbcType="VARCHAR" />
			<result column="app_regist_num" property="regAppCount"
			jdbcType="VARCHAR" />
			<result column="pc_regist_num" property="regPcCount"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 用户统计-->
	<select id="findUserStatList" resultMap="userStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		 SELECT
			DATE_FORMAT(t.date_time,'%Y-%m-%d') date_time,
			ifnull(t.day_regest_num, 0) day_regest_num,
			ifnull(t.login_uesr_num, 0) login_uesr_num,
			ifnull(t.invest_new_num, 0) invest_new_num,
			ifnull(t.wx_regist_num, 0) wx_regist_num, 
			ifnull(t.app_regist_num, 0) app_regist_num,
			ifnull(t.pc_regist_num, 0) pc_regist_num 
			FROM
			t_q_stats_user t
		<where>
			1 = 1
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
		order by t.date_time desc
	</select> 

	<!-- 用户统计列统计 -->
	<select id="findUserStatTotal" resultMap="userStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT
			IFNULL(sum(t.day_regest_num), 0) day_regest_num,
			IFNULL(sum(t.login_uesr_num), 0) login_uesr_num,
			IFNULL(sum(t.invest_new_num), 0) invest_new_num,
			IFNULL(sum(t.wx_regist_num), 0)  wx_regist_num,
			IFNULL(sum(t.app_regist_num), 0) app_regist_num,
			IFNULL(sum(t.pc_regist_num), 0)  pc_regist_num
		FROM
		t_q_stats_user t
		<where>
			1 = 1
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
	</select> 

	<!-- 用户统计累计统计 -->
	<select id="findUserStatInfo" resultMap="userStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT
			IFNULL(sum(t.day_regest_num), 0) day_regest_num,
			IFNULL(sum(t.invest_new_num), 0) invest_new_num,
			IFNULL(sum(t.wx_regist_num), 0)  wx_regist_num,
			IFNULL(sum(t.app_regist_num), 0) app_regist_num,
			IFNULL(sum(t.pc_regist_num), 0)  pc_regist_num
		FROM
		t_q_stats_user t
	</select>
	
	
	<!-- *********************提现统计****************** --> 
	<!-- 提现统计map-->
	<resultMap id="withdrawStatMap"
		type="com.dimeng.entity.ext.statistics.WithdrawStatResp">
		<result column="stat_date" property="statDate" jdbcType="VARCHAR" />
		<result column="withdraw_denges_amount" property="withdrawDengesAmount"
			jdbcType="VARCHAR" />
		<result column="withdraw_count" property="withdrawCount"
			jdbcType="VARCHAR" />
		<result column="withdraw_user_count" property="withdrawUserCount"
			jdbcType="VARCHAR" />
		<result column="add_withdraw_userCount" property="addWithdrawUserCount"
			jdbcType="VARCHAR" />
		<result column="withdraw_amount" property="withdrawAmount"
			jdbcType="VARCHAR" /> 
	</resultMap> 
		
	<!-- 提现统计list-->
	<select id="findWithdrawStatList" resultMap="withdrawStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT
			DATE_FORMAT(t.date_time,'%Y-%m-%d') stat_date,
			IFNULL(t.day_withdraw, 0.00) withdraw_denges_amount,
			IFNULL(t.withdraw_num, 0) withdraw_count,
			IFNULL(t.withdraw_user_num, 0) withdraw_user_count,
			IFNULL(t.withdraw_add_user_num, 0) add_withdraw_userCount
		FROM
		t_stat_withdraw t
		<where>
			1 = 1
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
		ORDER by t.date_time DESC
	</select>

	<!-- 提现统计列统计 -->
	<select id="findWithdrawStatTotal" resultMap="withdrawStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT
			IFNULL(sum(t.day_withdraw), 0.00) withdraw_denges_amount,
			IFNULL(sum(t.withdraw_num), 0) withdraw_count,
			IFNULL(sum(t.withdraw_user_num), 0) withdraw_user_count,
			IFNULL(sum(t.withdraw_add_user_num), 0) add_withdraw_userCount
		FROM
		t_stat_withdraw t
		<where>
			1 = 1
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(t.date_time,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
	</select>

	<!-- 提现统计累计统计-->
	<select id="findWithdrawStat" resultMap="withdrawStatMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">  
		SELECT
			IFNULL(sum(t.day_withdraw), 0.00) withdraw_amount,
			IFNULL(sum(t.withdraw_num), 0) withdraw_count,
			IFNULL(sum(t.withdraw_user_num), 0) withdraw_user_count 
		FROM
		t_stat_withdraw t
	</select> 
	
	<!-- *********平台统计***************** -->
	<!-- 统计管理平台收益统计结果集 -->
	<resultMap id="platformEarningsResultMap"
		type="com.dimeng.entity.ext.statistics.PlatformEarningsStatResp">
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" /> 
		<result column="withdraw_fee" property="withdrawFee" jdbcType="VARCHAR" />
		<result column="withdraw_time" property="withdrawTime" jdbcType="VARCHAR" />
	</resultMap> 
	 
	<!-- 平台收益统计累计查询 -->
	<select id="findPlatformEarningsStat" resultMap="platformEarningsResultMap"> 
		SELECT 
			 IFNULL(SUM(w.poundage),0.00) withdraw_fee 
		FROM
			t_bus_withdraw_apply w   left join t_user u on w.user_id = u.user_id
		WHERE w.withdraw_status = '2'
	</select>

	<!-- 平台收益统计列表查询 -->
	<select id="findPlatformEarningsList" resultMap="platformEarningsResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT
			  u.user_name user_name,
			 (select nick_name from t_q_user_basic where user_id = w.user_id) nick_name,
			 IFNULL(w.poundage,0.00) withdraw_fee,
			 DATE_FORMAT(w.date_loan,'%Y-%m-%d  %T') withdraw_time
		FROM
			t_bus_withdraw_apply w   left join t_user u on w.user_id = u.user_id
		<where>
			w.withdraw_status = '2'
			<if test=" userName != null and userName != ''">
				 AND  u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if>
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(w.date_loan,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(w.date_loan,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
		order by date_loan desc
	</select>

	<!-- 平台收益统计列合计查询 -->
	<select id="findPlatformEarningsTotal" resultMap="platformEarningsResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq"> 
		SELECT 
			 IFNULL(SUM(w.poundage),0.00) withdraw_fee  
		FROM
			t_bus_withdraw_apply w    left join t_user u on w.user_id = u.user_id
		<where>
			w.withdraw_status = '2'
			<if test=" userName != null and userName != ''">
				 AND  u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if>
			<if test=" startDate != null and startDate != ''">
				AND DATE_FORMAT(w.date_loan,'%Y-%m-%d') <![CDATA[ >= ]]>
				DATE_FORMAT(#{ startDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
			<if test=" endDate != null and endDate != ''">
				AND DATE_FORMAT(w.date_loan,'%Y-%m-%d') <![CDATA[ <= ]]>
				DATE_FORMAT(#{ endDate,jdbcType=VARCHAR },'%Y-%m-%d')
			</if>
		</where>
	</select>
  
  <!-- *********用户发起统计***************** -->
	<!-- 统计管理用户发起统计结果集 -->
	<resultMap id="userInitiateResultMap"
		type="com.dimeng.entity.ext.statistics.UserInitiateStatResp">
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" /> 
		<result column="initiateProCount" property="initiateProCount" jdbcType="VARCHAR" />
		<result column="successProCount" property="successProCount" jdbcType="VARCHAR" />
		<result column="failProCount" property="failProCount" jdbcType="VARCHAR" />
		<result column="deleteProCount" property="deleteProCount" jdbcType="VARCHAR" />
		<result column="initiateAmt" property="initiateAmt" jdbcType="VARCHAR" />
		<result column="refundAmt" property="refundAmt" jdbcType="VARCHAR" />
	</resultMap> 
	 
	<!-- 用户发起统计累计查询 -->
	<select id="findUserInitiateStatInfo" resultMap="userInitiateResultMap">
		SELECT
			*
		FROM (
				(select COUNT(1) AS initiateProCount FROM t_project_info  ) initiateProCount,
				(select COUNT(1) AS successProCount FROM t_project_info where  project_status = '2') successProCount,
				(select COUNT(1) AS failProCount FROM t_project_info where  project_status = '3') failProCount 
		) 
	</select>

	<!-- 用户发起统计列表查询 -->
	<select id="findUserInitiateList" resultMap="userInitiateResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		SELECT  
			 u.user_name user_name,
			(select nick_name from t_q_user_basic where user_id = u.user_id) nick_name,
			(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id ) initiateProCount,
			(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '2') successProCount,
			(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '3') failProCount,
			(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '4') deleteProCount,
			(select IFNULL(SUM(raised_amount),0.00) FROM t_project_info where project_creator_id = u.user_id and project_status = '2') initiateAmt,
			(select IFNULL(SUM(raised_amount),0.00) FROM t_project_info where project_creator_id = u.user_id and project_status in(3,4)) refundAmt 
		FROM 
		t_user u
		<where> 
			1 = 1
			<if test=" userName != null and userName != ''">
				 AND  u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if>
		</where>
		GROUP BY u.user_id 
		limit #{statIndex},#{results}
	</select>

	<!-- 用户发起统计列合计查询 -->
	<select id="findUserInitiateTotal" resultMap="userInitiateResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq"> 
		 SELECT
		  	IFNULL(SUM(T1.initiateProCount),0) initiateProCount,
			IFNULL(SUM(T1.successProCount),0) successProCount,
			IFNULL(SUM(T1.failProCount),0) failProCount,
			IFNULL(SUM(T1.deleteProCount),0) deleteProCount,
			SUM(T1.initiateAmt) initiateAmt,
			SUM(T1.refundAmt) refundAmt 
		FROM
		(
			SELECT  
				 u.user_name user_name,
				(select nick_name from t_q_user_basic where user_id = u.user_id) nick_name,
				(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id ) initiateProCount,
				(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '2') successProCount,
				(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '3') failProCount,
				(select COUNT(1) FROM t_project_info where project_creator_id = u.user_id and project_status = '4') deleteProCount,
				(select IFNULL(SUM(raised_amount),0.00) FROM t_project_info where project_creator_id = u.user_id and project_status = '2') initiateAmt,
				(select IFNULL(SUM(raised_amount),0.00) FROM t_project_info where project_creator_id = u.user_id and project_status in(3,4)) refundAmt 
			FROM 
			t_user u 
			 <where> 
			1 = 1
			<if test=" userName != null and userName != ''">
				 AND  u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if>
		</where>
			GROUP BY u.user_id
	) T1
	</select>
  
  
  <!-- *********用户支持统计***************** -->
	<!-- 统计管理用户支持统计结果集 -->
	<resultMap id="userSupportResultMap"
		type="com.dimeng.entity.ext.statistics.UserSupportStatResp">
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" /> 
		<result column="supportAmt" property="supportAmt" jdbcType="VARCHAR" />
		<result column="supportProCount" property="supportProCount" jdbcType="VARCHAR" />
		<result column="successProCount" property="successProCount" jdbcType="VARCHAR" />
		<result column="failProCount" property="failProCount" jdbcType="VARCHAR" /> 
		<result column="refundAmt" property="refundAmt" jdbcType="VARCHAR" />
	</resultMap> 
	 
	<!-- 用户支持统计累计查询 -->
	<select id="findUserSupportStatInfo" resultMap="userSupportResultMap">
		SELECT
			*
		FROM (
				(select IFNULL(sum(o.support_amount),0.00) as supportAmt FROM t_order_support o   where IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportAmt, 
				(select IFNULL(count(1),0) as supportProCount FROM t_order_support o   where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportProCount, 
				(select IFNULL(COUNT(1),0) as successProCount FROM t_order_support o where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status`  in (3,4,5,6) ) successProCount,
				(select IFNULL(COUNT(1),0) as failProCount  FROM t_order_support o where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` in (7,8)) failProCount,
				(select IFNULL(sum(o.support_amount),0.00) as refundAmt FROM t_order_support o   where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` =  8 ) refundAmt 
			) 
	</select>

	<!-- 用户支持统计列表查询 -->
	<select id="findUserSupportStatList" resultMap="userSupportResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq"> 
			 SELECT
				u.user_name user_name,
				ba.nick_name nick_name,
				(select IFNULL(sum(o.support_amount),0.00) FROM t_order_support o   where o.user_id = u.user_id and IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportAmt, 
				(select IFNULL(count(1),0) FROM t_order_support o   where o.user_id = u.user_id and IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportProCount, 
				(select IFNULL(COUNT(1),0)  FROM t_order_support o where o.user_id = u.user_id  and IFNULL(o.refund_type,0) IN(0,1,2) and o.`status`  in (3,4,5,6) ) successProCount,
				(select IFNULL(COUNT(1),0)  FROM t_order_support o where o.user_id = u.user_id  and IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` in (7,8)) failProCount,
				(select IFNULL(sum(o.support_amount),0.00) FROM t_order_support o   where o.user_id = u.user_id and IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` =  8 ) refundAmt 
			FROM
			t_user u
			LEFT JOIN t_q_user_basic ba ON u.user_id = ba.user_id  
		<where> 
			1 = 1
			<if test=" userName != null and userName != ''">
				 AND  u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if> 
		</where>
		limit #{statIndex},#{results}
	</select>

	<!-- 用户支持统计列合计查询 -->
	<select id="findUserSupportStatTotal" resultMap="userSupportResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq"> 
		SELECT
			*
		FROM (
			(select IFNULL(sum(o.support_amount),0.00) as supportAmt FROM t_order_support o   where IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportAmt, 
			(select IFNULL(count(1),0) as supportProCount FROM t_order_support o   where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` not in (1,2,9)) supportProCount, 
			(select IFNULL(COUNT(1),0) as successProCount FROM t_order_support o where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status`  in (3,4,5,6) ) successProCount,
			(select IFNULL(COUNT(1),0) as failProCount  FROM t_order_support o where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` in (7,8)) failProCount,
			(select IFNULL(sum(o.support_amount),0.00) as refundAmt FROM t_order_support o   where   IFNULL(o.refund_type,0) IN(0,1,2) and o.`status` =  8 ) refundAmt 
		) 
	</select>
	
	<!-- 用户id集合 -->
	<resultMap type="com.dimeng.entity.ext.statistics.SupportStatResp" id="FindUserIdListResultMap">
		<result column="user_id" property="userId"/> 
	</resultMap> 
	<select id="findUserIdList" resultMap="FindUserIdListResultMap"
		parameterType="com.dimeng.model.statistics.FindCommonStatReq">
		 SELECT
			u.user_id 
		FROM
			t_user u 
        WHERE  1=1 
		<if test="userName != null and userName != ''">
			and u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if> 
	</select>
	 
	
</mapper>