<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
	
	<resultMap type="com.dimeng.entity.ext.finance.FindPaymentListResp" id="FindPaymentListRespResultMap">
		<result column="order_no" property="orderId"/>
		<result column="user_name" property="supporter"/>
		<result column="nick_name" property="nickName"/>
		<result column="support_amount" property="supportAmt"/>
		<result column="date_pay" property="payTime"/>
		<result column="pay_type" property="payType"/>
		<result column="pay_source" property="paySource"/>
		<result column="status" property="payStatus"/>
		<result column="pay_flow_no" property="paySerialNo"/>
		<result column="project_id" property="projectId"/>
		<result column="project_no" property="projectNo"/>
		<result column="project_status" property="projectStatus"/>
		<result column="return_describe" property="returnDescribe"/>
		<result column="receive_name" property="receiveName"/>
		<result column="user_id" property="userId"/>
		<result column="phone" property="phone"/>
		<result column="region" property="region"/>
		<result column="address" property="address"/>
		<result column="project_type" property="projectType"/>
		<result column="project_name" property="projectName"/>
		<result column="return_amount" property="returnAmt"/>
		<result column="support_count" property="supportCount"/>
		<result column="support_total" property="supportAmtTotal"/>
	</resultMap>
	
	<!-- 订单详情 -->
	<resultMap type="com.dimeng.entity.ext.finance.SupportDetailResp" id="SupportDetailRespResultMap">
		<result column="order_id" property="orderId"/>
		<result column="project_name" property="projectTile"/>
		<result column="project_id" property="projectId"/>
		<result column="project_type" property="projectType"/>
		<result column="user_name" property="userName"/>
		<result column="nick_name" property="nickName"/>
		<result column="support_amount" property="amount"/>
		<result column="pay_type" property="payType"/>
		<result column="pay_source" property="paySource"/>
		<result column="user_id" property="userId"/>
		<result column="status" property="status"/>
		<result column="order_no" property="orderNo"/>
		<result column="date_pay" property="supportTime"/>
		<result column="pay_type" property="tradeType"/>
		<result column="return_amount" property="returnAmount"/>
		<result column="support_count" property="returnNumber"/>
		<result column="message" property="message"/>
		<result column="return_describe" property="purposeText"/>
		<result column="receive_name" property="receiverName"/>
		<result column="phone" property="receiverPhone"/>
		<result column="region" property="receiverAddr"/>
		<result column="address" property="receiverDetailAddr"/>
		<result column="is_nedd_addr" property="isLogistics"/>
		<result column="date_receive" property="receiverTime"/>
		<result column="date_send" property="sendTime"/>
		<result column="logistics_name" property="courierCompany"/>
		<result column="send_flow_no" property="courierNumber"/>
		<result column="refund_reason" property="refundReason"/>
		<result column="date_refund_finish" property="refundTime"/>
		<result column="cover_image_url" property="projectImgUrl"/>
		<result column="image_url" property="headUrl"/>
	</resultMap>
	
	
	<!-- 查询项目是否已筹满 -->
	<select id = "findRaisedIsFull" resultType="java.lang.String" parameterType="java.lang.String">
	SELECT 
		case  when (tpi.raised_amount &lt; tpi.target_amount) 
		then 2
		else 1
		end as 'is_full'
		FROM t_project_info tpi
		WHERE tpi.project_id = #{projectId,jdbcType=VARCHAR}
	</select>
	<!-- 查询回报剩余支持数 for update -->
	<select id="findByIdTProjectReturnForUpdate" resultMap="TProjectReturnResultMap" parameterType="java.lang.String" >
    select 
    return_id,surplus_count
    from t_project_return
    where return_id = #{returnId,jdbcType=VARCHAR} for update
    </select>
      <!-- 查询项目已支持金额 for update -->
    <select id="findByIdTProjectForUpdate" resultMap="TProjectInfoResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TProjectInfo_Column_List" />
    from t_project_info
    where project_id = #{projectId,jdbcType=VARCHAR} for update
  </select>
  
  <select id="findTOrderSupportForUpdate" resultMap="TOrderSupportResultMap" parameterType="java.lang.String" >
    select <include refid="TOrderSupport_Column_List" />
    from t_order_support
    where order_id = #{orderId,jdbcType=VARCHAR} for update
  </select>
  <!-- 查询用户的openId -->
  <select id="findUserOpenId" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
    open_id
    from t_user_third_party
    where user_id = #{id,jdbcType=VARCHAR} and  type = 1
  </select>
  <!-- 查询项目标题 -->
  <select id="findProjectName" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
    project_name
    from t_project_info
    where project_id = #{projectId,jdbcType=VARCHAR} 
  </select>
	
	<!-- 后台-财务管理-支付记录列表 || 后台-用户管理-用户信息-支持的订单 || 后台-项目详情-支持记录 || 后台-订单管理-所有订单|| 后台-项目管理-订单管理-->
	<select id="findPaymentList" resultMap="FindPaymentListRespResultMap" parameterType="com.dimeng.model.finance.FindPaymentListReq">
		SELECT 
		     ts.user_id,ts.order_no,tu.user_name,tub.nick_name,ts.support_amount,ts.pay_type,ts.pay_source,ts.`status`,ts.pay_flow_no,
		     tpi.project_name,tpi.project_no,tpi.project_type,tpi.project_status,tpr.return_describe,ts.receive_name,tpi.project_id,
             ts.phone,ts.address,tpr.support_amount return_amount,ts.support_count,
		     DATE_FORMAT(ts.date_pay,'%Y-%m-%d %T') date_pay,
		     CONCAT(sri.province,sri.city) region
		     FROM t_order_support ts
        LEFT JOIN t_user  tu on ts.user_id = tu.user_id
        LEFT JOIN t_q_user_basic tub on ts.user_id = tub.user_id
        LEFT JOIN t_project_info tpi on ts.project_id = tpi.project_id
        LEFT JOIN t_project_return tpr on ts.return_id = tpr.return_id
        LEFT JOIN t_system_region_info sri on ts.region = sri.region_id
        where ts.`status` not in  (1,2)
		<if test="orderId != null and orderId != ''">
			and ts.order_no LIKE CONCAT ('%',trim(#{orderId,jdbcType=VARCHAR}),'%')
		</if>
		<if test="userId != null and userId != ''">
			and ts.user_id = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="projectId != null and projectId != ''">
			and ts.project_id = #{projectId,jdbcType=VARCHAR}
			and IFNULL(ts.refund_type,0) not in (3,4,5,6)
		</if>
		 <if test="status != null and status != ''">
		    <if test="status == 0">
		        and ts.`status`  in (3,4,5,6,7,8)
			</if>
			<if test="status != 0">
				and ts.`status` = #{status,jdbcType=VARCHAR}
			</if>
		</if>
		<if test="paySource != null and paySource != ''">
			and ts.pay_source = #{paySource,jdbcType=VARCHAR}
		</if>
		<if test="projectName != null and projectName != ''">
			and tpi.project_name LIKE CONCAT ('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="paySerialNo != null and paySerialNo != ''">
			and ts.pay_flow_no LIKE CONCAT ('%',trim(#{paySerialNo,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectNo != null and projectNo != ''">
			and tpi.project_no LIKE CONCAT ('%',trim(#{projectNo,jdbcType=VARCHAR}),'%')
		</if> 
	 	<if test="projectType != null and projectType != '' and projectType == 0">
			and tpi.project_type in ('1','2','3','4','5')
		</if>
		<if test="projectType != null and projectType != '' and projectType != 0">
			and tpi.project_type = #{projectType,jdbcType=VARCHAR}
		</if> 
		<if test="supporter != null and supporter != ''">
			and tu.user_name LIKE CONCAT ('%',trim(#{supporter,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nickName != null and nickName != ''">
			and tub.nick_name LIKE CONCAT ('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="returnAmount != null and returnAmount != ''">
			and tpr.support_amount = #{returnAmount,jdbcType=VARCHAR}
		</if>
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(ts.date_pay,'%Y%m%d') &gt;= DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(ts.date_pay,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY ts.date_create DESC
	</select>
	
	<!--  后台-项目详情-支持记录 || 后台-项目管理-订单管理      支持金额合计-->
	<select id="findPaymentListTotal" resultMap="FindPaymentListRespResultMap" parameterType="com.dimeng.model.finance.FindPaymentListReq">
		SELECT 
		     IFNULL(SUM(ts.support_amount),0) support_total
		     FROM t_order_support ts
        LEFT JOIN t_user  tu on ts.user_id = tu.user_id
        LEFT JOIN t_q_user_basic tub on ts.user_id = tub.user_id
        LEFT JOIN t_project_info tpi on ts.project_id = tpi.project_id
        LEFT JOIN t_project_return tpr on ts.return_id = tpr.return_id
        LEFT JOIN t_system_region_info sri on ts.region = sri.region_id
        where ts.`status` not in  (1,2)
		<if test="orderId != null and orderId != ''">
			and ts.order_no LIKE CONCAT ('%',trim(#{orderId,jdbcType=VARCHAR}),'%')
		</if>
		<if test="userId != null and userId != ''">
			and ts.user_id = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="projectId != null and projectId != ''">
			and ts.project_id = #{projectId,jdbcType=VARCHAR}
			and IFNULL(ts.refund_type,0) not in (3,4,5,6)
		</if>
		 <if test="status != null and status != ''">
		     <if test="status == 0">
		        and ts.`status`  in (3,4,5,6,7,8)
			</if>
			<if test="status != 0">
				and ts.`status` = #{status,jdbcType=VARCHAR}
			</if>
		</if>
		<if test="paySource != null and paySource != ''">
			and ts.pay_source = #{paySource,jdbcType=VARCHAR}
		</if>
		<if test="projectName != null and projectName != ''">
			and tpi.project_name LIKE CONCAT ('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="paySerialNo != null and paySerialNo != ''">
			and ts.pay_flow_no LIKE CONCAT ('%',trim(#{paySerialNo,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectNo != null and projectNo != ''">
			and tpi.project_no LIKE CONCAT ('%',trim(#{projectNo,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectType != null and projectType != ''">
			and tpi.project_type LIKE CONCAT ('%',trim(#{projectType,jdbcType=VARCHAR}),'%')
		</if>
		<if test="supporter != null and supporter != ''">
			and tu.user_name LIKE CONCAT ('%',trim(#{supporter,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nickName != null and nickName != ''">
			and tub.nick_name LIKE CONCAT ('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="returnAmount != null and returnAmount != ''">
			and tpr.support_amount = #{returnAmount,jdbcType=VARCHAR}
		</if>
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(ts.date_pay,'%Y%m%d') &gt;= DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(ts.date_pay,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
	</select>

	<!--订单详情（前后台公用：查询用户交易明细详情、订单详情）  wenguanhai-->
	<select id="supportDetail" resultMap="SupportDetailRespResultMap" parameterType="com.dimeng.model.finance.SupportDetailReq">
			select
			tos.order_id,tpi.project_name,tpi.project_id,tpi.project_type,tqu.nick_name,tos.support_amount,tu.user_name,
			tos.`status`,tos.order_no,DATE_FORMAT(tos.date_pay,'%Y-%m-%d %T')
			date_pay,tos.pay_type,tpr.support_amount
			return_amount,tos.support_count,tos.message,
			tpr.return_describe,tos.receive_name,tos.phone,tos.region,tos.address,tpi.is_nedd_addr,
			DATE_FORMAT(tos.date_receive,'%Y-%m-%d %T')
			date_receive,DATE_FORMAT(tos.date_send,'%Y-%m-%d %T')
			date_send,tos.logistics_name,tos.send_flow_no,tos.refund_reason,DATE_FORMAT(tos.date_refund_finish,'%Y-%m-%d
			%T') date_refund_finish,tqu.image_url,tpi.cover_image_url
			from t_order_support tos INNER JOIN t_project_info tpi ON
			tos.project_id=tpi.project_id
			INNER JOIN t_q_user_basic tqu on tos.user_id=tqu.user_id INNER JOIN t_user
			tu ON tqu.user_id=tu.user_id LEFT JOIN t_project_return tpr ON
			tos.return_id=tpr.return_id
			where 1=1
			<if test="orderId != null and orderId != ''">
				and tos.order_id=#{orderId,jdbcType=VARCHAR}
			</if>
			<if test="orderNo != null and orderNo != ''">
				and tos.order_no=#{orderNo,jdbcType=VARCHAR}
			</if>
	</select>
	
	<!--订单详情（前后台公用：查询用户交易明细详情、订单详情）  wenguanhai-->
	<select id="findOrderSupportPay" resultMap="SupportDetailRespResultMap" parameterType="com.dimeng.entity.table.order.TOrderSupport">
			select T.order_id, T.order_no, T.pay_type,T.pay_source,T.user_id,T.support_amount , P.project_name  from t_order_support T  left join t_project_info P
			on 	T.project_id=P.project_id
			 
			<if test="orderId != null and orderId != ''">
				where  T.order_id=#{orderId,jdbcType=VARCHAR}
			</if>
			<if test="orderNo != null and orderNo != ''">
				where  T.order_no=#{orderNo,jdbcType=VARCHAR}
			</if>
	</select>
	
	
	<!-- 更新已付款 订单状态：1、更新为待退款状态-->
	<update id="updateOrderSupportStatus" parameterType="com.dimeng.entity.table.order.TOrderSupport">
		update t_order_support
		<set >
	      <if test="status != null  and status!=''" >
	        status = #{status,jdbcType=CHAR},
	      </if>
	      <if test="refundType != null" >
	        refund_type = #{refundType,jdbcType=CHAR},
	      </if>
	      <if test="dateRefund != null" >
	        date_refund = #{dateRefund,jdbcType=TIMESTAMP},
	      </if>
	      <if test="refundReason != null" >
	        refund_reason = #{refundReason,jdbcType=VARCHAR},
	      </if>
	      <if test="refundNo != null" >
	        refund_no = #{refundNo,jdbcType=VARCHAR},
	      </if>
	    </set>
		where project_id=#{projectId,jdbcType=VARCHAR} and status in ('3','4','5','6')
	</update>
	
	<!-- 定时任务扫描失效的订单列表-更新订单状态为已失效 -->
	<update id="overdueOrderJob">
		update t_order_support t,(
		SELECT
			o.order_id 
		FROM
			t_order_support o
		WHERE
			o.`status` = 1
		AND TIMESTAMPDIFF(MINUTE, o.date_invalid, NOW()) &gt;= 0
		) as b  
		set t.`status` = 2  WHERE t.order_id = b.order_id
	</update> 
	
	<!-- 定时任务扫描待收货的订单列表-更新订单状态为已收货 -->
	<update id="takeDeliveryJob" parameterType="java.util.Map"> 
	  UPDATE 
	  	t_order_support support
	  SET support. STATUS = 6,
 		support.date_receive = NOW()
	  WHERE
		support.order_id IN (
		SELECT
			lins.order_id orderId
		FROM
			(
				SELECT
					o.order_id
				FROM
					t_order_support o
				LEFT JOIN t_project_info p ON o.project_id = p.project_id
				WHERE
					o. STATUS = 5
				AND p.project_type IN (6, 7)
				AND TIMESTAMPDIFF(DAY, o.date_send, NOW()) &gt;= #{day}
			) lins
		)
	</update> 
	 
	 
	 <!-- 判断用户是否是第一次支付  0是   1不是-->
	<select id = "isFirstTrade" resultType="java.lang.String" parameterType="java.lang.String">
	SELECT 
		case  when (count(1) > 0) 
		then 1
		else 0
		end as 'is_first'
		FROM t_order_first_trade_record tor
		WHERE tor.user_id = #{userId}   and tor.type=#{type}
	</select>
	
	 <!-- 查询改状态的订单：  3:已支付\r\n            4:待发货\r\n            5:待收货\r\n            6:已收货\r\n  -->
	<select id = "findOrderIdListForUpdate" resultType="java.lang.String" parameterType="java.util.Map">
	SELECT 
		order_id
		FROM t_order_support
		where project_id=#{projectId,jdbcType=VARCHAR} and status in ('3','4','5','6')
	</select>
	
	<!-- 支付后查询订单状态 -->
	<select id="supportOrderStatus" resultType="com.dimeng.entity.ext.finance.SupportOrderStatusResp" 
	parameterType="com.dimeng.model.finance.SupportDetailReq">
			SELECT
			   tos.`status` orderStatus,tos.refund_reason refundReason,tos.project_id projectId,
			   tpi.project_name projectName,tos.order_no orderNo
			FROM t_order_support tos
			LEFT JOIN t_project_info tpi on tos.project_id = tpi.project_id
			where tos.order_id=#{orderId,jdbcType=VARCHAR} and  tos.user_id=#{userId,jdbcType=VARCHAR} 
	</select>
</mapper>