<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
	
	<resultMap type="com.dimeng.entity.ext.finance.FindWithdrawListResp" id="FindWithdrawListRespResultMap">
		<result column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="bank_name" property="bankName"/>
		<result column="card_number_encrypt" property="bankCardNo"/>
		<result column="withdraw_amount" property="withdrawAmt"/>
		<result column="poundage" property="poundage"/>
		<result column="actual_amt" property="actualAmt"/>
		<result column="date_create" property="applyTime"/>
		<result column="auditor" property="auditor"/>
		<result column="date_check" property="auditTime"/>
		<result column="withdraw_time" property="withdrawTime"/>
		<result column="bank_place" property="bankPlace"/>
		<result column="branch_bank" property="bankBranch"/>
		<result column="withdraw_total" property="withdrawTotal"/>
		<result column="poundage_total" property="poundageTotal"/>
		<result column="actual_total" property="actualTotal"/>
		<result column="audit_user_name" property="auditUserName"/>
		<result column="real_name" property="realName"/>
		<result column="loaner_user_name" property="loanerUserName"/>
	</resultMap>
	
	<resultMap type="com.dimeng.entity.ext.finance.AuditInfoResp" id="AuditInfoRespResultMap">
		<result column="check_opinion" property="auditInfo"/>
	</resultMap>
	
	<!-- 后台-财务管理-提现管理列表 -->
	<select id="findWithdrawList" resultMap="FindWithdrawListRespResultMap" parameterType="com.dimeng.model.finance.FindWithdrawListReq">
		SELECT * FROM (
		   SELECT twa.id,tu.user_name,tb.bank_name,tbc.card_number_encrypt,twa.withdraw_amount,tbc.branch_bank,twa.withdraw_status,
               twa.poundage,twa.withdraw_amount - twa.poundage actual_amt,tsu.user_name auditor,
               CONCAT(sri.province,sri.city) bank_place,
               DATE_FORMAT(twa.date_create,'%Y-%m-%d %T') date_create,
               DATE_FORMAT(twa.date_check,'%Y-%m-%d %T') date_check,
               case when twa.date_loan is null  then DATE_FORMAT(twa.date_check,'%Y-%m-%d %T') else DATE_FORMAT(twa.date_loan,'%Y-%m-%d %T')  end as 'withdraw_time',
								tsu.user_name audit_user_name,tbc.card_user_name real_name,tsu_l.user_name loaner_user_name
        FROM t_bus_withdraw_apply twa 
        LEFT JOIN t_user tu on twa.user_id = tu.user_id
        LEFT JOIN t_q_user_bank_card tbc  on twa.bank_card_id = tbc.id
        LEFT JOIN t_user_bank tb on tbc.bank_id = tb.id
        LEFT JOIN t_system_user  tsu on  twa.auditor = tsu.user_id 
        LEFT JOIN t_system_region_info sri on tbc.bank_region_id = sri.region_id
        LEFT JOIN t_system_user  tsu_l on  twa.loaner = tsu_l.user_id 
		)al
        where al.withdraw_status = #{type,jdbcType=VARCHAR}
		<if test="userName != null and userName != ''">
			and al.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="startApplyTime != null and startApplyTime != ''">
			and DATE_FORMAT(al.date_create,'%Y%m%d') &gt;= DATE_FORMAT(#{startApplyTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endApplyTime != null and endApplyTime != ''">
			and DATE_FORMAT(al.date_create,'%Y%m%d') &lt;= DATE_FORMAT(#{endApplyTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="startAuditTime != null and startAuditTime != ''">
			and DATE_FORMAT(al.date_check,'%Y%m%d') &gt;= DATE_FORMAT(#{startAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endAuditTime != null and endAuditTime != ''">
			and DATE_FORMAT(al.date_check,'%Y%m%d') &lt;= DATE_FORMAT(#{endAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="startWithdrawTime != null and startWithdrawTime != ''">
			and DATE_FORMAT(al.withdraw_time,'%Y%m%d') &gt;= DATE_FORMAT(#{startWithdrawTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endWithdrawTime != null and endWithdrawTime != ''">
			and DATE_FORMAT(al.withdraw_time,'%Y%m%d') &lt;= DATE_FORMAT(#{endWithdrawTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="type == 0">
			ORDER BY al.date_create DESC
		</if>
		<if test="type != 0">
			ORDER BY al.withdraw_time DESC
		</if>
	</select>
	
	<!-- 后台-财务管理-提现管理列表统计	 -->
	<select id="findWithdrawTotal" resultMap="FindWithdrawListRespResultMap" parameterType="com.dimeng.model.finance.FindWithdrawListReq">
		SELECT 
             IFNULL(SUM(al.withdraw_amount),0) withdraw_total,
		     IFNULL(SUM(al.poundage),0) poundage_total,
		     IFNULL(SUM(al.actual_amt),0) actual_total
        FROM (
		   SELECT twa.id,tu.user_name,tb.bank_name,tbc.card_number_encrypt,twa.withdraw_amount,tbc.branch_bank,twa.withdraw_status,
               twa.poundage,twa.withdraw_amount - twa.poundage actual_amt,tsu.user_name auditor,
               CONCAT(sri.province,sri.city) bank_place,
               DATE_FORMAT(twa.date_create,'%Y-%m-%d %T') date_create,
               DATE_FORMAT(twa.date_check,'%Y-%m-%d %T') date_check,
               case when twa.date_loan is null  then DATE_FORMAT(twa.date_check,'%Y-%m-%d %T') else DATE_FORMAT(twa.date_loan,'%Y-%m-%d %T')  end as 'withdraw_time'
            FROM t_bus_withdraw_apply twa 
            LEFT JOIN t_user tu on twa.user_id = tu.user_id
            LEFT JOIN t_q_user_bank_card tbc  on twa.bank_card_id = tbc.id
            LEFT JOIN t_user_bank tb on tbc.bank_id = tb.id
            LEFT JOIN t_system_user  tsu on  twa.auditor = tsu.user_id 
            LEFT JOIN t_system_region_info sri on tbc.bank_region_id = sri.region_id
		    )al
        where al.withdraw_status = #{type,jdbcType=VARCHAR}
		<if test="userName != null and userName != ''">
			and al.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="startApplyTime != null and startApplyTime != ''">
			and DATE_FORMAT(al.date_create,'%Y%m%d') &gt;= DATE_FORMAT(#{startApplyTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endApplyTime != null and endApplyTime != ''">
			and DATE_FORMAT(al.date_create,'%Y%m%d') &lt;= DATE_FORMAT(#{endApplyTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="startAuditTime != null and startAuditTime != ''">
			and DATE_FORMAT(al.date_check,'%Y%m%d') &gt;= DATE_FORMAT(#{startAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endAuditTime != null and endAuditTime != ''">
			and DATE_FORMAT(al.date_check,'%Y%m%d') &lt;= DATE_FORMAT(#{endAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="startWithdrawTime != null and startWithdrawTime != ''">
			and DATE_FORMAT(al.withdraw_time,'%Y%m%d') &gt;= DATE_FORMAT(#{startWithdrawTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endWithdrawTime != null and endWithdrawTime != ''">
			and DATE_FORMAT(al.withdraw_time,'%Y%m%d') &lt;= DATE_FORMAT(#{endWithdrawTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY al.withdraw_time DESC
	</select>
	
	<!--查看提现失败原因  -->
	<select id="findWithdrawFailReason" resultMap="AuditInfoRespResultMap" parameterType="com.dimeng.model.common.IdReq">
		SELECT 
		case  when loan_opinion is null
		then check_opinion
		else loan_opinion
		end as 'check_opinion'
        FROM t_bus_withdraw_apply 
        where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询用户资金账户 (for update)-->
	<select id="findUserCapitalAccount" resultMap="TUserCapitalAccountResultMap" parameterType="com.dimeng.entity.table.user.TUserCapitalAccount">
		select <include refid="TUserCapitalAccount_Column_List" /> from t_user_capital_account 
		where user_id = #{userId,jdbcType=VARCHAR}  for update
	</select>
</mapper>