<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TSiteHomeProjectResultMap" type="com.dimeng.entity.table.site.TSiteHomeProject" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="user_opt" property="userOpt" jdbcType="VARCHAR" />
    <result column="date_opt" property="dateOpt" jdbcType="TIMESTAMP" />
    <result column="recommend_pc" property="recommendPc" jdbcType="CHAR" />
    <result column="date_pc" property="datePc" jdbcType="TIMESTAMP" />
    <result column="recommend_app" property="recommendApp" jdbcType="CHAR" />
    <result column="date_app" property="dateApp" jdbcType="TIMESTAMP" />
    <result column="recommend_weixin" property="recommendWeixin" jdbcType="CHAR" />
    <result column="date_weixin" property="dateWeixin" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <sql id="TSiteHomeProject_Column_List" >
    id, project_id, user_opt, date_opt, recommend_pc, date_pc, recommend_app, date_app, 
    recommend_weixin, date_weixin
  </sql>
  <select id="findByIdTSiteHomeProject" resultMap="TSiteHomeProjectResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TSiteHomeProject_Column_List" />
    from t_site_home_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTSiteHomeProject" parameterType="java.lang.String" >
    delete from t_site_home_project
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTSiteHomeProject" parameterType="com.dimeng.entity.table.site.TSiteHomeProject" >
    insert into t_site_home_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="userOpt != null" >
        user_opt,
      </if>
      <if test="dateOpt != null" >
        date_opt,
      </if>
      <if test="recommendPc != null" >
        recommend_pc,
      </if>
      <if test="datePc != null" >
        date_pc,
      </if>
      <if test="recommendApp != null" >
        recommend_app,
      </if>
      <if test="dateApp != null" >
        date_app,
      </if>
      <if test="recommendWeixin != null" >
        recommend_weixin,
      </if>
      <if test="dateWeixin != null" >
        date_weixin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userOpt != null" >
        #{userOpt,jdbcType=VARCHAR},
      </if>
      <if test="dateOpt != null" >
        #{dateOpt,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendPc != null" >
        #{recommendPc,jdbcType=CHAR},
      </if>
      <if test="datePc != null" >
        #{datePc,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendApp != null" >
        #{recommendApp,jdbcType=CHAR},
      </if>
      <if test="dateApp != null" >
        #{dateApp,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendWeixin != null" >
        #{recommendWeixin,jdbcType=CHAR},
      </if>
      <if test="dateWeixin != null" >
        #{dateWeixin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateTSiteHomeProject" parameterType="com.dimeng.entity.table.site.TSiteHomeProject" >
    update t_site_home_project
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userOpt != null" >
        user_opt = #{userOpt,jdbcType=VARCHAR},
      </if>
      <if test="dateOpt != null" >
        date_opt = #{dateOpt,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendPc != null" >
        recommend_pc = #{recommendPc,jdbcType=CHAR},
      </if>
      <if test="datePc != null" >
        date_pc = #{datePc,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendApp != null" >
        recommend_app = #{recommendApp,jdbcType=CHAR},
      </if>
      <if test="dateApp != null" >
        date_app = #{dateApp,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendWeixin != null" >
        recommend_weixin = #{recommendWeixin,jdbcType=CHAR},
      </if>
      <if test="dateWeixin != null" >
        date_weixin = #{dateWeixin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>