<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TSiteTextInstructionsResultMap" type="com.dimeng.entity.table.site.TSiteTextInstructions" >
    <id column="text_id" property="textId" jdbcType="VARCHAR" />
    <result column="text_title" property="textTitle" jdbcType="VARCHAR" />
    <result column="date_update" property="dateUpdate" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
   <result column="text_context" property="textContext" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="TSiteTextInstructions_Column_List" >
    text_id, text_title, date_update, operator_id, text_context
  </sql>
  <select id="findByIdTSiteTextInstructions" resultMap="TSiteTextInstructionsResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TSiteTextInstructions_Column_List" /> 
    from t_site_text_instructions
    where text_id = #{textId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTSiteTextInstructions" parameterType="java.lang.String" >
    delete from t_site_text_instructions
    where text_id = #{textId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTSiteTextInstructions" parameterType="com.dimeng.entity.table.site.TSiteTextInstructions" >
    insert into t_site_text_instructions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="textId != null" >
        text_id,
      </if>
      <if test="textTitle != null" >
        text_title,
      </if>
      <if test="dateUpdate != null" >
        date_update,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="textContext != null" >
        text_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="textId != null" >
        #{textId,jdbcType=VARCHAR},
      </if>
      <if test="textTitle != null" >
        #{textTitle,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="textContext != null" >
        #{textContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTSiteTextInstructions" parameterType="com.dimeng.entity.table.site.TSiteTextInstructions" >
    update t_site_text_instructions
    <set >
      <if test="textTitle != null" >
        text_title = #{textTitle,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdate != null" >
        date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="textContext != null" >
        text_context = #{textContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where text_id = #{textId,jdbcType=VARCHAR}
  </update>
</mapper>