<div class="fn-s-14">
	<div id="bindList">
		<%for(var i in list){%>
		<div class="bc-white tx-c pd-bt-20" bindid="<%=list[i].id%>">
			<div class="bind_user" style="background-image: url(<%=list[i].headUrl%>);"></div>
			<div class="fn-c fn-wei pd-bt-10 fn-s-16"><%=list[i].nickName%></div>
			<div><span class="ubind" action="action:unbind">解绑</span></div>
		</div>
		<%}%>
	</div>
	<div id="tobind" class="bc-white mg-t-10 tx-c pd-bt-10 fn-s-15 <%=list.length < 1?'':'uhide'%>" action="action:bindNew">
		<span class="plusAccount"></span>
		<span>添加绑定</span>
	</div>
</div>