<div class="fn-s-14">
	<div class="ub pd-t-20">
		<div class="ub-f1 tx-c" action="user/personal/bindAccountDetail/wx">
			<div class="img-weixin width-h5 mar-auto" style="background-size:5rem 5rem;"></div>
			<div class="pd-t-10 fn-c">微信</div>
			<div class="pd-t-2"><%=wxList.length > 0?(wxList.length):"未绑定>>"%></div>
		</div>
		<div class="ub-f1 tx-c" action="user/personal/bindAccountDetail/xl">
			<div class="img-xinlang width-h5 mar-auto" style="background-size:5rem 5rem;"></div>
			<div class="pd-t-10 fn-c">新浪微博</div>
			<div class="pd-t-2"><%=wbList.length > 0?(wbList.length):"未绑定>>"%></div>
		</div>
		<div class="ub-f1 tx-c" action="user/personal/bindAccountDetail/qq">
			<div class="img-qq width-h5 mar-auto" style="background-size:5rem 5rem;"></div>
			<div class="pd-t-10 fn-c">腾讯QQ</div>
			<div class="pd-t-2"><%=qqList.length > 0?(qqList.length):"未绑定>>"%></div>
		</div>
	</div>
</div>