<!--交易详情-->
<div>
	<div class="pro-order-detail-head user-head">
		<div class="ub ub-pc ub-ac t-wh fn-s-14"><span class="fn-s-25"><%=tradeAmount%></span>元</div>
		<%if(tradeType == "1"||tradeType == "3"){%>
		  <div class="ub ub-pc ub-ac t-wh fn-s-12">支持金额</div>
		<%}else{%> 
		  <div class="ub ub-pc ub-ac t-wh fn-s-12">收入金额</div>
		<%}%> 
	</div>
	
	<div class="pro-order-detail-con">
		
		<div class="or-de-time ub or-de-item">
			<span class="til ub ub-f1 width40">交易时间</span>
			<span class="con t-9 ub ub-f1 width60"><%=dateCreate%></span>
		</div>
		<div class="or-de-trans-mode ub or-de-item">
			<span class="til ub ub-f1 width40">交易方式</span>
			<%if(tradeType == "1"||tradeType == "5"){%>
			   <span class="con t-9 ub ub-f1 width60">微信支付</span>
			<%}else{%>
			   <span class="con t-9 ub ub-f1 width60">线下转账</span>
			<%}%>
		</div>
	    
	    
	</div>
	
</div>	
	
	
	