<div class="fn-s-14">
	<div class="user-head">
		<div class="head-info-con ub ub-pc ">
			<div class="successImg"></div>
		</div>
		<div class="fn-c-white pd-bt-15 fn-s-18 ub ub-pc"><span>恭喜，您已通过实名认证！</span></div>
	</div>
	<div class="mg-t-10 bc-white">
		<div class="ub pd-all-10 bd-b">
			<div class="ub-f1  fn-c">真实姓名</div>
			<div class="ub ub-pe"><%=realName%></div>
		</div>
		<div class="ub pd-all-10 bd-b">
			<div class="ub-f1 fn-c">身份证号</div>
			<div class="ub ub-pe"><%=idNumber%></div>
		</div>
		<div class="ub pd-all-10">
			<div class="ub-f1 fn-c">认证时间</div>
			<div class="ub ub-pe"><%=auditTime%></div>
		</div>
		
	</div>
</div>