<div class="fn-s-14">
	<div class="hei-130 bg-c-blue">
		<div class="ub">
			<div class="kefu mg-l-10 ub-f1"></div>
			<div class="ub-f1 ub ub-ac">
				<div class="phone ub ub-ac ub-f1"></div>
				<div class="ub-f1 fn-c-white">
				<div class="fn-s-13">24小时在线服务</div>
				<div class="fn-s-18 mg-t-5"><a href="tel:<%=DMJS.userInfo.serviceNumber%>" class="fn-c-white"><%=DMJS.userInfo.serviceNumber%></a></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mg-t-10 bc-white pd-bt-3" id="firstQuestion">
		<div class="ub pd-all-10 bd-b" type="1">
			<div class="ub-f1 fn-c">发起项目相关问题</div>
			<div class=" ub-f1 ub ub-pe ub-ac"><div class="img-more"></div></div>
		</div>
		<div class="ub pd-all-10 bd-b" type="2">
			<div class="ub-f1 fn-c">项目管理相关问题</div>
			<div class=" ub-f1 ub ub-pe ub-ac"><div class="img-more"></div></div>
		</div>
		<div class="ub pd-all-10 bd-b" type="3">
			<div class="ub-f1 fn-c">支持项目相关问题</div>
			<div class=" ub-f1 ub ub-pe ub-ac"><div class="img-more"></div></div>
		</div>
		<div class="ub pd-all-10" type="4">
			<div class="ub-f1 fn-c">其他问题</div>
			<div class=" ub-f1 ub ub-pe ub-ac"><div class="img-more"></div></div>
		</div>
	</div>
	
</div>