<div class="fn-s-14">
	<div class="user-head">
		<div class="head-info-con ub ub-pc ">
			<div class="myAccount ub ub-ac ub-pc">
				<div class="tx-c fn-c-white">
					<span class="fn-s-20" id="availBalance"></span><br/>
					<span>可用金额 &nbsp;(元)</span>
				</div>
			</div>
		</div>
		<div class="fn-c-white pd-b-10 ub ub-ac ub-pc line-h-20">
			<span class="ub ub-ac pd-r-10">冻结金额 &nbsp;(元)</span>
			<span class="fn-s-20 ub ub-ac pd-r-10" id="freezeBalance"></span>
		    <span class="ub ub-ac order-status" style="border:1px solid #fff;" id="toFreeze">去验证 ></span>
	    </div>
		<div class="ub mg-t-10 bc-white pd-all-10">
			<div class="ub-f1 fn-wei fn-c">账户记录</div>
			<div class="ub-f1 fn-c-blue ub ub-pe">
				<select id="transStatus" class="fn-c-blue" style="border:none;">
					<option value="">所有</option>
					<option value="1">收入</option>
					<option value="2">支出</option>
				</select>
			</div>
		</div>
	</div>
	
	<div id="transList">
		
	</div>
</div>