<!--提前结束成功-->
<div class="end-succ-con">
	<div class="end-succ-icon"><i class="icon-end-succ"></i></div>
	<p class="end-succ-til t-red fn-s-16">项目提前结束成功！</p>
	<%if(tipsId == "1"){%>
	<p class="end-succ-info tx-c t-9 fn-s-14">项目的筹资金额将会转入到您账户的可用金额中，转入后您可进行提现申请。</p>
	<%}else{%>
	<p class="end-succ-info tx-c t-9 fn-s-14">项目的筹资金额将会转入冻结金额中。</p>
	<%}%>
	<!--查看项目-->
	<div class="address-keep end-succ">
    	<p class="btn-end-scuu ub ub-ac ub-pc" id="goProDetails">查看项目</p>
    </div>
	<!--查看我的账户-->
	<div class="address-keep end-succ">
    	<p class="btn-end-scuu ub ub-ac ub-pc" id="goMyAccout">查看我的账户</p>
    </div>
</div>
