<!--订单发货-->
<div class="ship-dets-con">
	<div class="ship-dets">
		<div class="ship-dets-switch ub ub-ac bd-b">
		<div class="ub-f1 hei-20 lhei-20"><span class="t-3 fn-s-14">是否需要物流</span></div>
			<div class="mint-cell-value">
				<div class="mint-switch">
					<input type="checkbox" class="mint-switch-input" checked="checked"> 
					<input type="checkbox" id="defaultLogistics" class="mint-switch-input" checked> 
					<span class="mint-switch-core"></span> 
					<div class="mint-switch-label"></div>
				</div>
			</div>
		</div>
		<div class="ship-dets-item ub ub-ac bd-b" id="courierCompany">
	    	<div class="ub ub-ac width30 fn-s-14 hei-20 lhei-20"><span class="t-3">物流公司</span></div>
	    	<div class="ub ub-ac width70 fn-s-14">
    	    	<input id="courierCompany" maxlength="30" name="courierCompany" class="input_non t-9 ub ub-ac hei-20 fn-s-14 lhei-20" nextfocus="" title="物流公司" placeholder="请填写物流公司" validator="notEmpty;"> 	
	    	</div>
	    </div>
	    <div class="ship-dets-item ub ub-ac" id="courierNumber">
	    	<div class="ub ub-ac width30 fn-s-14 hei-20 lhei-20"><span class="t-3">快递单号</span></div>
	    	<div class="ub ub-ac width70 fn-s-14">
    	    	<input id="courierNumber" maxlength="30" name="courierNumber" class="input_non t-9 ub ub-ac hei-20 fn-s-14 lhei-20" nextfocus="" title="快递单号" placeholder="请填写快递单号" validator="notEmpty;"> 	
	    	</div>
	    </div>
	</div>
	<!--确认发货-->
    <div class="address-keep">
    	<div class="btn-address-keep ub ub-ac ub-pc" action="action:confirmGoods">确认发货</div>
    </div>
</div>