<div id='orderList'>
	
	<div id="indexContent">
	
	<!--订单支持情况-->
	<div class="user-head">
		<div class="order-info-con ub ub-ac">
			<div class="order-people ub-f1 width50 tx-c bd-r">
				<p class="order-people-num"><span class="supportCount"></span>次</p>
				<p class="order-people-til">支持人次</p>
			</div>
			<div class="order-money ub-f1 width50 tx-c">
				<p class="order-people-num"><span><span class="supportAmtTotal"></span></span>元</p>
				<p class="order-people-til">支持总额</p>
			</div>
		</div>
	</div>
	
	<!--选择订单类型-->
 	<div class="order-action-til bg-c-white">
		<ul class="myLaunch-til ub ub-ac fn-s-14 t-3 JSAppointDropDown" id='indexTitleContent'>
			<li class="ub ub-pc width25 select" listType='0'>全部</li>
			<li class="ub ub-pc width25" listType='1'><span class="order-dfh order-c">待发货<span class="order-c order-til-num ub ub-ac ub-pc"></span></span></li>
			<li class="ub ub-pc width25" listType='2'>待收货</li>
			<li class="ub ub-pc width25" listType='3'>已收货</li>
	    </ul>
	</div> 
	
	</div>
	
	<div id="contentWrapper" class="">
		
		<div id="slider" class="ub-fh ub">
			<div items="0" class="c-e ub-fh JSAppointDropDownList" >
				<div class="ub-fh">
					<div class="ListArea mg-t-10">
			
					</div>
				</div>
			</div>
			<div items="1" class="c-e ub-fh JSAppointDropDownList">
				<div class='ub-fh'>
					<div class="ListArea mg-t-10">
					
					</div>
				</div>
			</div>
			<div items="2" class="c-e ub-fh JSAppointDropDownList">
				<div class=' ub-fh'>
					<div class="ListArea mg-t-10">
					
					</div>
				</div>
			</div>
			<div items="3" class="c-e ub-fh JSAppointDropDownList">
				<div class='ub-fh'>
					<div class="ListArea mg-t-10">
					
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
