<!--支持订单-->
<div>
	<!--订单支持情况-->
	<div class="user-head">
		<div class="order-info-con ub ub-ac">
			<div class="order-people ub-f1 width50 tx-c bd-r">
				<p class="order-people-num"><span class="supportCount"></span>次</p>
				<p class="order-people-til">支持人数</p>
			</div>
			<div class="order-money ub-f1 width50 tx-c">
				<p class="order-people-num"><span class="supportAmtTotal"></span>元</p>
				<p class="order-people-til">支持总额</p>
			</div>
		</div>
	</div>
	<div id="support-order">
	    <!--当前没有订单支持记录！-->
    </div>
</div>
