<div class=" fn-s-14">
	<div class=" pd-all-10 bc-white">
		<textarea id="updateContent" maxlength="100" placeholder="填写更新内容" class="width100 hei-150 pd-all-10"></textarea>
		<div class="tx-r"><span id="words">0</span><span>/100</span></div>
	</div>
	
	<div class="lpd-all-10 bd-t bc-white">
		<div class="ub pd-bt-10">
			<div>
				<div id="uploadImg" class="upload-file radius5 bd-dashed mg-t-10 mg-r-5" style="float: left;">
					<div class="add-img"></div>
					<span class="dsb ub ub-pc tx-c">上传图片</span>
					<span class="dsb ub ub-pc tx-c">(最多8张)</span>
					<input class="upload-file Upload" multiple type="file" style="opacity: 0; position: absolute; top: 0px; left: 0px;" accept="image/jpeg,image/png,image/bmp">
				</div>
			</div>
		</div>
		<span>请勿在更新内容中上传支付二维码或引导用户发微信，支付宝红包，私人账号汇款等信息，一经发现，将严肃处理。</span>
	</div>
	
	<div class="address-keep" id="updateDynamics">
    	<p class="btn-address-keep ub ub-ac ub-pc">更新</p>
    </div>
</div>