<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TQStatsUserResultMap" type="com.dimeng.entity.table.stat.TQStatsUser" >
    <result column="date_time" property="dateTime" jdbcType="TIMESTAMP" />
    <result column="day_regest_num" property="dayRegestNum" jdbcType="INTEGER" />
    <result column="login_uesr_num" property="loginUesrNum" jdbcType="INTEGER" />
    <result column="pc_regist_num" property="pcRegistNum" jdbcType="INTEGER" />
    <result column="wx_regist_num" property="wxRegistNum" jdbcType="INTEGER" />
    <result column="app_regist_num" property="appRegistNum" jdbcType="INTEGER" />
    <result column="invest_new_num" property="investNewNum" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertTQStatsUser" parameterType="com.dimeng.entity.table.stat.TQStatsUser" >
     insert into t_q_stats_user(
	        day_regest_num, 
	        login_uesr_num,
	        invest_new_num,
	        pc_regist_num,
			wx_regist_num,
			app_regist_num,
	        date_time) 
	    SELECT 
			IFNULL(t1.day_regest_num,0), 
			IFNULL(t2.login_uesr_num,0),
			IFNULL(t3.invest_new_num,0),
			IFNULL(t4.pc_regist_num,0),
		  	IFNULL(t5.wx_regist_num,0),
      		IFNULL(t6.app_regist_num,0),
			DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d') date_time
		FROM
		(
			SELECT COUNT(1) day_regest_num
			FROM t_user tu
			WHERE DATE_FORMAT(tu.date_register,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
		) t1 LEFT JOIN 
		(
			SELECT COUNT(1) login_uesr_num
			FROM t_user tu
			WHERE DATE_FORMAT(tu.date_login,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
		) t2 ON 1 = 1 LEFT JOIN

		(
			SELECT COUNT(1) invest_new_num
			FROM t_order_first_trade_record tu
			WHERE DATE_FORMAT(tu.date_trade,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d') 
		) t3 ON 1 = 1 LEFT JOIN
		(
			SELECT COUNT(1) pc_regist_num
			FROM t_user tu
			WHERE DATE_FORMAT(tu.date_register,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
			AND tu.source = '1'
		) t4 ON 1 = 1  LEFT JOIN
		(
			SELECT COUNT(1) wx_regist_num
			FROM t_user tu
			WHERE DATE_FORMAT(tu.date_register,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
			AND tu.source = '2'
		) t5 ON 1 = 1 LEFT JOIN
		(
			SELECT COUNT(1) app_regist_num
			FROM t_user tu
			WHERE DATE_FORMAT(tu.date_register,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
			AND tu.source in('3','4')
		 ) t6 ON 1 = 1 

  </insert>
</mapper>