<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TStatWithdrawResultMap" type="com.dimeng.entity.table.stat.TStatWithdraw" >
    <result column="date_time" property="dateTime" jdbcType="TIMESTAMP" />
    <result column="day_withdraw" property="dayWithdraw" jdbcType="DECIMAL" />
    <result column="withdraw_num" property="withdrawNum" jdbcType="INTEGER" />
    <result column="withdraw_user_num" property="withdrawUserNum" jdbcType="INTEGER" />
    <result column="withdraw_add_user_num" property="withdrawAddUserNum" jdbcType="INTEGER" />
  </resultMap> 
  <insert id="insertTStatWithdraw" parameterType="com.dimeng.entity.table.stat.TStatWithdraw" >
    INSERT INTO t_stat_withdraw ( 
		date_time,
		day_withdraw,
		withdraw_num,
		withdraw_user_num,
		withdraw_add_user_num 
		) 
	SELECT 
		DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d') date_time,
	    IFNULL(t1.day_withdraw,0.00),
		IFNULL(t1.withdraw_num, 0),
	    IFNULL(t2.withdraw_user_num, 0),
	    IFNULL(t3.withdraw_add_user_num,0)
	   FROM
		(
			SELECT
			 SUM(t.withdraw_amount) day_withdraw,
			 COUNT(1) withdraw_num
			FROM
				t_bus_withdraw_apply t 
			WHERE DATE_FORMAT(t.date_loan,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')  AND t.withdraw_status = '2' AND user_id != '1'
		) t1 LEFT JOIN
	 	(
			select COUNT(1) withdraw_user_num  from (
				SELECT user_id  FROM 
				t_bus_withdraw_apply t 
				where 
				DATE_FORMAT(t.date_loan,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d') AND
				 t.withdraw_status = '2' AND user_id != '1' 
				GROUP BY t.user_id
			) m
		) t2 ON 1 = 1 LEFT JOIN
		(
			SELECT COUNT(1) withdraw_add_user_num
			FROM t_order_first_trade_record toftr
			WHERE DATE_FORMAT(toftr.date_trade,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL #{ count,jdbcType=INTEGER } DAY),'%Y-%m-%d')
			AND toftr.type = '1'
		) t3 ON 1 = 1 
  </insert> 
</mapper>