<div class="fn-s-14">
	
	<ul class="myLaunch-til ub ub-ac fn-s-14 bg-c-white JSAppointDropDown" id='infomation_title'>
		<li class="ub ub-pc width50 active-blue" listType='0'>项目动态</li>
		<li class="ub ub-pc width50" listType='1'>评论留言</li>
	</ul>
	<div listItem="listItem" id="information_Article">
		<div id="slider">
		<!--项目动态-->
			<div item="item0" class="" >
				<div class="">
					<div class="ListArea">
						
					</div>
				</div>
			</div>
		<!--评论留言-->
			<div item="item1" class="hide">
				<div class="">
					<div class="ListArea">
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>