
<div class="ub ub-f1 line-h-50 ub-ver">
	  <div class="ub line-h-25 mg-l-5" id="agreementFlag">
            <input type="checkbox"  class="uhide" title="请阅读并同意协议"  id="agreement">
            <div  class="ub fn-s-13">
                <div footButton="turnRememberRido"  class="che-icon ub-img umhw2"></div>
                <div footButton="turnRememberRido" class=" ub ub-ac ub-f1" style=" margin-left:.5em;"  >我已阅读并同意</div>
                <div class=" ub ub-ac ub-f1"><div class="lc_red" footButton="gotoAgreement">《<%=text%>》</div></div>
            </div>
      </div>
      <div class="pos_re ub-f1 c-red ub" footButton="button">
			   <div class=" ub ub-pc ub-ac ub-f1 t-wh fn-s-17 " >下一步</div>
	  </div>
	</div>
		    
</div>


