
<div class="ub ub-f1 tab5 fn-c">
	<div class="pos_re ub ub-f1 uinn-a12" footButton="index">
		<input class="uhide" type="radio"   activeHash="index"  />
		<div class="ub-f1 ub ub-ver">
			<div class="ub-f1 ub-img5 tp-home"></div>
			<div class="uinn-a13 ulev-1 tx-c act-col-blu mg-t-010 line-h-20">首页</div>
		</div>
	</div>
	<div class="pos_re ub ub-f1 uinn-a12" footButton="start">
		<input class="uhide" type="radio" activeHash="start"/>
		<div class="ub-f1 ub ub-ver">
			<div class="ub-f1 ub-img5 tp-start"></div>
			<div class="uinn-a13 ulev-1 tx-c act-col-blu mg-t-010 line-h-20">发起</div>
		</div>
	</div>
	<div class="pos_re ub ub-f1 uinn-a12" footButton="trends">
		<input class="uhide" type="radio"  activeHash="trends"/>
		<div class="ub-f1 ub ub-ver">
			<div class="ub-f1 ub-img5 tp-trends"></div>
			<div class="uinn-a13 ulev-1 tx-c act-col-blu mg-t-010 line-h-20">动态</div>
		</div>
	</div>
	<div class="pos_re ub ub-f1 uinn-a12" footButton="userInfo">
		<input class="uhide" type="radio"  activeHash="userInfo" />
		<div class="ub-f1 ub ub-ver">
			<div class="ub-f1 ub-img5 tp-mine"></div>
			<div class="uinn-a13 ulev-1 tx-c act-col-blu mg-t-010 line-h-20">我的</div>
		</div>
	</div>
</div>