<!--标签页-->
<div class="label-page">
	<div class="launch-item-list">
         <div class="l-item">
         	<!--til-->
         	<div class="l-item-til ub ub-ac">
         		<p class="til ub ub-ac"><span class="t-3">锤子科技</span><sapn class="t-9">发起</sapn></p>
         		<p class="ub-f1 ub ub-ac ub-pe fn-s-12 fn-c-gold">
         			<i class="ub ub-ac icon-clock mg-r-3"></i>
         			<span>剩余18天</span>
         		</p>
         	</div>
         	<!--con-->
         	<div class="l-item-con ub bd-b">
         		<div class="item-img"><img src=""/></div>
         		<div class="ub-f1">
     				<p class="label-item-title">自家酿制蜂蜜</p>
     				<p class="label-item-content">来自吉林省的一个小山村，蜂蜜采自深山百花和椴树酿制的蜜蜂蜜采自深山百花蜂蜜采自深山百花蜂蜜采自深山百花</p>
         			<div class="ub">
         				<p class="ub ub-f1 ub-ac fn-s-12 t-3">
         					<span class="mg-r-10">#养生</span>
         					<span>#美食</span>
         				</p>
         				<p class="ub ub-f1 ub-ac ub-pe fn-s-12 t-9">进度<span class="t-3">253</span>%</p>
         			</div>
         		</div>
         	</div>
         	<!--data-->
         	<div class="l-data ub ub-ac pd-bt-10">
         		<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">目标</p>
 				</div>
 				<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">已筹</p>
 				</div>
 				<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">支持</p>
 				</div>
         	</div>
         </div>
         
          <div class="l-item">
         	<!--til-->
         	<div class="l-item-til ub ub-ac">
         		<p class="til ub ub-ac"><span class="t-3">锤子科技</span><sapn class="t-9">发起</sapn></p>
         		<p class="ub-f1 ub ub-ac ub-pe fn-s-12 fn-c-gold">
         			<i class="ub ub-ac icon-clock mg-r-3"></i>
         			<span>剩余18天</span>
         		</p>
         	</div>
         	<!--con-->
         	<div class="l-item-con ub bd-b">
         		<div class="item-img"><img src=""/></div>
         		<div class="ub-f1">
     				<p class="label-item-title">自家酿制蜂蜜</p>
     				<p class="label-item-content">来自吉林省的一个小山村，蜂蜜采自深山百花和椴树酿制的蜜蜂蜜采自深山百花蜂蜜采自深山百花蜂蜜采自深山百花</p>
         			<div class="ub">
         				<p class="ub ub-f1 ub-ac fn-s-12 t-3">
         					<span class="mg-r-10">#养生</span>
         					<span>#美食</span>
         				</p>
         				<p class="ub ub-f1 ub-ac ub-pe fn-s-12 t-9">进度<span class="t-3">253</span>%</p>
         			</div>
         		</div>
         	</div>
         	<!--data-->
         	<div class="l-data ub ub-ac pd-bt-10">
         		<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">目标</p>
 				</div>
 				<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">已筹</p>
 				</div>
 				<div class="ub-f1">
 					<p class="t-9 fn-s-12 ub ub-pc"><span class="fn-s-14 t-3 fn-wei">6000</span>元</p>
 					<p class="t-9 fn-s-12 ub ub-pc">支持</p>
 				</div>
         	</div>
         </div>
    </div>
</div>
