<!--我的标签-->
<div class="my-label">
	<div class="label-til"><p class="fn-s-14 t-3 pd-all-10">我的标签</p></div>
	<!--我的标签页-->
	<div id="newLabelList">
	   <ul class="my-label-list bg-c-white clearfix b-all-shadow l-con-list">
	   </ul>
	</div>
	
	<div class="label-tips bg-c-white"><p class="fn-s-11 t-9 ub ub-pe l-tips">最多可添加9个标签</p></div>
	<div class="label-til"><p class="fn-s-14 t-3 pd-all-10">更多标签</p></div>
	<!--标签tab-->
	<div class="label-tab b-all-shadow">
		<ul class="my-label-list label-tab-list bg-c-white clearfix">
			<li class="my-label-item label-tab-tap active">
				<span class="my-label-item-con ub ub-ac ub-pc my-label-tab">紧急项目</span>
				<span class="triangle-down"></span>
			</li>
			<li class="my-label-item label-tab-tap">
				<span class="my-label-item-con ub ub-ac ub-pc my-label-tab">实现梦想</span>
				<span class="triangle-down"></span>
			</li>
	    </ul>
	    <!--当前标签页内容-->
		<div class="label-tab-con" id="labelTab">
			
		</div>
	</div>
	
	
</div>
