<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TBusWithdrawApplyResultMap" type="com.dimeng.entity.table.bus.TBusWithdrawApply" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="withdraw_amount" property="withdrawAmount" jdbcType="DECIMAL" />
    <result column="bank_card_id" property="bankCardId" jdbcType="VARCHAR" />
    <result column="poundage" property="poundage" jdbcType="DECIMAL" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="check_opinion" property="checkOpinion" jdbcType="VARCHAR" />
    <result column="date_check" property="dateCheck" jdbcType="TIMESTAMP" />
    <result column="loaner" property="loaner" jdbcType="VARCHAR" />
    <result column="date_loan" property="dateLoan" jdbcType="TIMESTAMP" />
    <result column="loan_opinion" property="loanOpinion" jdbcType="VARCHAR" />
    <result column="withdraw_status" property="withdrawStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="TBusWithdrawApply_Column_List" >
    id, user_id, withdraw_amount, bank_card_id, poundage, date_create, auditor, check_opinion, 
    date_check, loaner, date_loan, loan_opinion, withdraw_status
  </sql>
  <select id="findByIdTBusWithdrawApply" resultMap="TBusWithdrawApplyResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TBusWithdrawApply_Column_List" />
    from t_bus_withdraw_apply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTBusWithdrawApply" parameterType="java.lang.String" >
    delete from t_bus_withdraw_apply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTBusWithdrawApply" parameterType="com.dimeng.entity.table.bus.TBusWithdrawApply" >
    insert into t_bus_withdraw_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="withdrawAmount != null" >
        withdraw_amount,
      </if>
      <if test="bankCardId != null" >
        bank_card_id,
      </if>
      <if test="poundage != null" >
        poundage,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="checkOpinion != null" >
        check_opinion,
      </if>
      <if test="dateCheck != null" >
        date_check,
      </if>
      <if test="loaner != null" >
        loaner,
      </if>
      <if test="dateLoan != null" >
        date_loan,
      </if>
      <if test="loanOpinion != null" >
        loan_opinion,
      </if>
      <if test="withdrawStatus != null" >
        withdraw_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawAmount != null" >
        #{withdrawAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankCardId != null" >
        #{bankCardId,jdbcType=VARCHAR},
      </if>
      <if test="poundage != null" >
        #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkOpinion != null" >
        #{checkOpinion,jdbcType=VARCHAR},
      </if>
      <if test="dateCheck != null" >
        #{dateCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="loaner != null" >
        #{loaner,jdbcType=VARCHAR},
      </if>
      <if test="dateLoan != null" >
        #{dateLoan,jdbcType=TIMESTAMP},
      </if>
      <if test="loanOpinion != null" >
        #{loanOpinion,jdbcType=VARCHAR},
      </if>
      <if test="withdrawStatus != null" >
        #{withdrawStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTBusWithdrawApply" parameterType="com.dimeng.entity.table.bus.TBusWithdrawApply" >
    update t_bus_withdraw_apply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawAmount != null" >
        withdraw_amount = #{withdrawAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankCardId != null" >
        bank_card_id = #{bankCardId,jdbcType=VARCHAR},
      </if>
      <if test="poundage != null" >
        poundage = #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkOpinion != null" >
        check_opinion = #{checkOpinion,jdbcType=VARCHAR},
      </if>
      <if test="dateCheck != null" >
        date_check = #{dateCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="loaner != null" >
        loaner = #{loaner,jdbcType=VARCHAR},
      </if>
      <if test="dateLoan != null" >
        date_loan = #{dateLoan,jdbcType=TIMESTAMP},
      </if>
      <if test="loanOpinion != null" >
        loan_opinion = #{loanOpinion,jdbcType=VARCHAR},
      </if>
      <if test="withdrawStatus != null" >
        withdraw_status = #{withdrawStatus,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>