<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TSystemAdjustCommentResultMap" type="com.dimeng.entity.table.bus.TSystemAdjust" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="adjust_type" property="adjustType" jdbcType="CHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="account_balance" property="accountBalance" jdbcType="DECIMAL" />
    <result column="flow_no" property="flowNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="TSystemAdjust_Column_List" >
    id, adjust_type, money, remark, creator_id, date_create, account_balance, flow_no
  </sql>
  <select id="findByIdTSystemAdjust" resultMap="TSystemAdjustCommentResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TSystemAdjust_Column_List" />
    from t_system_adjust
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTSystemAdjust" parameterType="java.lang.String" >
    delete from t_system_adjust
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTSystemAdjust" parameterType="com.dimeng.entity.table.bus.TSystemAdjust" >
    insert into t_system_adjust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adjustType != null" >
        adjust_type,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="accountBalance != null" >
        account_balance,
      </if>
      <if test="flowNo != null" >
        flow_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="adjustType != null" >
        #{adjustType,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="flowNo != null" >
        #{flowNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTSystemAdjust" parameterType="com.dimeng.entity.table.bus.TSystemAdjust" >
    update t_system_adjust
    <set >
      <if test="adjustType != null" >
        adjust_type = #{adjustType,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountBalance != null" >
        account_balance = #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="flowNo != null" >
        flow_no = #{flowNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>