<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
	
	<!--查询用户添加的银行卡列表  -->
	<resultMap type="com.dimeng.entity.ext.user.FindCardListResp" id="FindCardListRespResultMap">
		<result column="id" property="cardId"/>
		<result column="image_url" property="bankLogo"/>
		<result column="bank_name" property="bankName"/>
		<result column="card_type" property="cardType"/>
		<result column="card_number" property="cardNumber"/>
		<result column="bank_code" property="bankCode"/>
	</resultMap>
	
	<select id="findCardList" resultMap="FindCardListRespResultMap"
		parameterType="com.dimeng.model.user.NotPageUserIdReq">
		select tubc.id,tub.image_url,tub.bank_name,tubc.card_type,tubc.card_number,tub.bank_code
		from t_q_user_bank_card tubc INNER JOIN t_user_bank tub ON tubc.bank_id=tub.id
		where tubc.user_id = #{userId,jdbcType=VARCHAR}  and tubc.card_status='0'
	</select>
	
	<!-- 查询用户是否已有启用或者待审核的绑卡 -->
	<select id="findUserBankCardByCardNumber" parameterType="com.dimeng.entity.table.user.TQUserBankCard"
		resultMap="TQUserBankCardResultMap">
		SELECT
		<include refid="TQUserBankCard_Column_List" />
		FROM
		t_q_user_bank_card
		WHERE card_number_encrypt =
		#{cardNumberEncrypt,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询用户是否已绑定银行卡 -->
	<select id="findUserBankCardCount" parameterType="com.dimeng.model.user.NotPageUserIdReq"
		resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		t_q_user_bank_card
		where user_id = #{userId,jdbcType=VARCHAR}  and card_status='0'
	</select>
</mapper>