<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
	
	<resultMap type="com.dimeng.entity.ext.user.UserManageResp" id="FindUserListResqResultMap">
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="nick_name" property="nickName"/>
		<result column="real_name" property="realName"/>
		<result column="id_card" property="idCard"/>
		<result column="mobile" property="mobile"/>
		<result column="source" property="source"/> 
		<result column="date_register" property="registerTime"/>
		<result column="user_status" property="status"/> 
		<result column="sex" property="sex"/> 
		<result column="hospital_name" property="hospitalName"/>
	</resultMap>
		
	<resultMap type="com.dimeng.entity.ext.user.UserInfoQscDetailResp" id="FindUserdetailResqResultMap">
		<result column="user_id" property="userId"/>
		<result column="image_url" property="headUrl"/> 
		<result column="user_name" property="userName"/> 
		<result column="real_name" property="realName"/>
		<result column="id_card" property="idCard"/>
		<result column="mobile" property="phoneNumber"/>
		<result column="sex" property="sex"/> 
		<result column="availableMoney" property="availableMoney"/>
		<result column="freezeMoney" property="freezeMoney"/> 
		<result column="withdrawAmt" property="withdrawAmt"/> 
		<result column="supportAmt" property="supportAmt"/> 
		<result column="supportCount" property="supportCount"/> 
		<result column="crowdFundingAmt" property="crowdFundingAmt"/> 
		<result column="crowdFundingCount" property="crowdFundingCount"/> 
	</resultMap>
	
	<resultMap id="FindHospitalUserResultMap" type="com.dimeng.model.expand.HospitalBasicReq">
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="nick_name" property="nickName"/>
		<result column="hospital_id" property="hospitalId"/>
		<result column="hospital_name" property="hospitalName"/>
		<result column="hospital_num" property="hospitalNum"/>
		<result column="hospital_grade" property="hospitalGrade"/>
		<result column="hospital_type" property="hospitalType"/>
		<result column="hospital_abstract" property="hospitalAbstract"/>
		<result column="hospital_image_url" property="hospitalImageUrl"/>
		<result column="description" property="description"/>
		<result column="link_name" property="linkName"/>
		<result column="mobile_phone" property="mobilePhone"/>
		<result column="hospital_mail" property="hospitalMail"/>
		<result column="office_tel" property="officeTel"/>
		<result column="hospital_url" property="hospitalUrl"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="county" property="county"/>
		<result column="addr" property="addr"/>
		<result column="found_time" property="foundTime"/>
		<result column="source" property="source"/>
		<result column="date_register" property="registerTime"/>
		<result column="user_status" property="status"/>
	</resultMap>

	<!--后台-用户管理-医院用户信息列表-->
	<select id="findHospitalUser" resultMap="FindHospitalUserResultMap" parameterType="com.dimeng.model.expand.HospitalBasicReq">
		SELECT
			u.user_name, ba.nick_name, thb.hospital_name,thb.hospital_num,
			thb.hospital_grade,thb.hospital_type,thb.link_name,thb.mobile_phone,
			thb.hospital_mail,thb.office_tel,
			u.source,u.user_status,u.date_register
		FROM t_hospital_basic thb
		LEFT JOIN t_user u ON thb.hospital_id = t_user.user_id
		LEFT JOIN t_q_user_basic ba ON u.user_id = ba.user_id
	</select>

	<!--后台-用户管理-查看医院用户详情信息-->
	<select id="findHosUserDetails" resultMap="FindHospitalUserResultMap" parameterType="com.dimeng.model.expand.HospitalBasicReq">
		SELECT
		  u.user_id ,u.user_name, thb.hospital_name,thb.hospital_num,thb.hospital_grade,
		  thb.hospital_abstract, thb.province,thb.city,thb.found_time,
		  IFNULL(t.allRaisedAmount,0) allRaisedAmount,
		  IFNULL(t.allSupprotTimes,0) allSupprotTimes,
		  IFNULL(t.allTargetAmount,0) allTargetAmount,
		  IFNULL(LEFT(((allRaisedAmount / allTargetAmount)) ,4), 0.00 ) rate
		FROM t_hospital_basic thb
		  LEFT JOIN
		  (SELECT
			 tpi.project_creator_id proCreatorId,
			 sum(target_amount) allTargetAmount,
			 sum(raised_amount) allRaisedAmount,
			 sum((SELECT COUNT(tos.order_id) FROM t_order_support tos
			 WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id)) allSupprotTimes
		   FROM t_project_info tpi GROUP BY project_creator_id) t
			ON t.proCreatorId = thb.hospital_id
		  LEFT JOIN t_user u ON thb.hospital_id = u.user_id
		WHERE u.user_id = #{userId}
	</select>

	
	<!-- 后台-用户管理-信息列表 -->
	<select id="findUserInfoList" resultMap="FindUserListResqResultMap" parameterType="com.dimeng.model.user.FindUserListReq">
		 SELECT
			u.user_id,
			u.user_name,
			u.mobile,
			u.source,
			DATE_FORMAT(u.date_register,'%Y-%m-%d  %T') date_register,
			u.user_status,
			ba.nick_name,
			ba.real_name,
			ba.id_card,
			u.hospital_name
		FROM
			t_user u
		LEFT JOIN t_q_user_basic ba ON u.user_id = ba.user_id
        WHERE  1=1
		<if test="userName != null and userName != ''">
			and u.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		
		<if test="nickName != null and nickName != ''">
			and ba.nick_name LIKE CONCAT ('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		
		<if test="realName != null and realName != ''">
			and ba.real_name LIKE CONCAT ('%',trim(#{realName,jdbcType=VARCHAR}),'%')
		</if>
		
		 <if test="status != null and status != ''">
			and u.`user_status` = #{status,jdbcType=VARCHAR}
		</if>
		
		<if test="idCard != null and idCard != ''">
			and ba.`id_card` = #{idCard,jdbcType=VARCHAR}
		</if>
		
		<if test="source != null and source != ''">
			and u.`source` = #{source,jdbcType=VARCHAR}
		</if>
		 
		<if test="staTime != null and staTime != ''">
			and DATE_FORMAT(u.date_register,'%Y%m%d') &gt;= DATE_FORMAT(#{staTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(u.date_register,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="hospitalName != null and hospitalName != '' ">
			and u.hospital_name = #{hospitalName,jdbcType=VARCHAR}
		</if>
		ORDER BY  u.date_register DESC
	</select>
	
	<!-- 后台-用户管理-查看个人详情信息-->
	<select id="findUserDetail" resultMap="FindUserdetailResqResultMap" parameterType="com.dimeng.model.user.NotPageUserIdReq">
		 SELECT
			u.user_id ,
			u.user_name ,
			u.mobile ,
			ba.image_url ,
			ba.real_name ,
			ba.id_card,
			ba.sex ,
			IFNULL(acc.available_amount,0.00) availableMoney,
			IFNULL(acc.frozen_amount ,0.00) freezeMoney,
			(select COUNT(1) from t_project_info where project_creator_id = #{userId} and project_status = 2) crowdFundingCount,
			(select IFNULL(SUM(raised_amount),0.00) from t_project_info where project_creator_id = #{userId} and project_status = 2) crowdFundingAmt, 
			(select IFNULL(SUM(withdraw_amount),0.00) from t_bus_withdraw_apply where user_id = #{userId} and withdraw_status = 2) withdrawAmt,
			(select IFNULL(SUM(support_amount),0.00) from t_order_support where user_id = #{userId} and status in(3,4,5,6,7,8) and  IFNULL(refund_type,"2") &gt; 1) supportAmt,
			(select COUNT(1) from t_order_support where user_id = #{userId} and status in(3,4,5,6,7,8) and   IFNULL(refund_type,"2") &gt; 1) supportCount
		FROM
			t_user u
		LEFT JOIN t_q_user_basic ba ON u.user_id = ba.user_id
	    LEFT JOIN t_user_capital_account acc on u.user_id =  acc.user_id
   		WHERE u.user_id = #{userId}
	</select>
	
 <resultMap id="FrontUserLoginResultMap" type="com.dimeng.entity.ext.user.FrontUserInfo">
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
    <result column="first_login" property="firstLogin" jdbcType="VARCHAR" />
    <result column="date_last_login" property="dateLastLogin" jdbcType="VARCHAR" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_2" property="idCard2" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />   
    <result column="idcard_status" property="idcardStatus" jdbcType="VARCHAR" /> 
    <result column="fail_login_count" property="failLoginCount" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="hospital_name" property="realName" jdbcType="VARCHAR" />
    <result column="province" property="provinceId" jdbcType="VARCHAR" />
    <result column="city" property="cityId" jdbcType="VARCHAR" />
  </resultMap>






	 
	<!-- 根据手机号查询用户信息 登录用-->
	<select id="findLoginUserInfo" resultMap="FrontUserLoginResultMap" parameterType="com.dimeng.model.user.FindUserListReq">
		select 
		 	tu.user_id,
			tu.user_name,
			tub.nick_name,
			tu.user_status,
			tu.first_login,
			tu.user_type,
			tu.hospital_name,
			(select province from t_hospital_basic WHERE hospital_id=tu.user_id) province,
  			(select city from t_hospital_basic where hospital_id = tu.user_id ) city,
			date_format(
				tu.date_last_login,
				'%Y-%m-%d %H:%i:%s'
			) AS date_last_login,
			tu.last_login_ip,
			tub.real_name,
			tub.id_card,
			tub.id_card_2,
			tub.sex,  
			tub.idcard_status,   
			tu.fail_login_count,
			tub.image_url 
		from t_user tu
		    left join t_q_user_basic tub on  tu.user_id = tub.user_id
		where tu.user_name = #{userName,jdbcType=VARCHAR}
	</select> 
	
	<!-- 验证手机号的唯一性 -->
	<resultMap id="findUserUniqueRes" type="com.dimeng.entity.table.user.TUser">
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findUserUnique" resultMap="findUserUniqueRes"
		parameterType="com.dimeng.model.home.FrontRegisterReq">
		select user_id,user_name  from t_user
		where  user_name = #{phoneNumber,jdbcType=VARCHAR} 
	</select>
	
	
	<resultMap id="findUserHomeInfoRestMap" type="com.dimeng.entity.ext.user.FrontUserAccHomeResp">
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="user_status" property="userStatus" jdbcType="VARCHAR" />
		<result column="dateLastLogin" property="dateLastLogin" jdbcType="VARCHAR" />
		<result column="idcard_status" property="idcardStatus" jdbcType="VARCHAR" />
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
		<result column="available_amount" property="availableAmount" jdbcType="VARCHAR" />
		<result column="frozen_amount" property="frozenAmount" jdbcType="VARCHAR" />
		<result column="supportTimes" property="supportTimes" jdbcType="VARCHAR" />
		<result column="supportAmt" property="supportAmt" jdbcType="VARCHAR" />
		<result column="crowdfundingSuccess" property="crowdfundingSuccess" jdbcType="VARCHAR" />
		<result column="crowdfundingAmt" property="crowdfundingAmt" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 根据用户id查询用户PC端个人中心数据信息-->
	<select id="findUserHomeInfo" resultMap="findUserHomeInfoRestMap" parameterType="com.dimeng.model.user.FindByUserIdReq">
		SELECT 
		 	tu.user_id,
			tub.nick_name ,
			(case when tu.trade_pwd is not null then 1 else 2 end ) user_status , 
			date_format(
				tu.date_last_login,
				'%Y-%m-%d %H:%i:%s'
			) AS dateLastLogin,   
			tub.idcard_status ,   
			tub.image_url  ,
			acc.available_amount ,
			acc.frozen_amount , 
			(select IFNULL(count(1),0) from t_order_support where user_id = tu.user_id and status not in(1,2,9) and  IFNULL(refund_type,0) IN(0,1,2)) supportTimes,
			(select IFNULL(SUM(support_amount),0.00) from t_order_support where user_id = tu.user_id and status not in(1,2,9) and IFNULL(refund_type,0) IN(0,1,2)) supportAmt,
			(select IFNULL(count(1),0) from t_project_info where project_creator_id = tu.user_id and project_status = 2) crowdfundingSuccess,
			(select IFNULL(SUM(raised_amount),0.00) from t_project_info where project_creator_id = tu.user_id and project_status = 2) crowdfundingAmt
		FROM t_user tu 
		    left join t_q_user_basic tub on  tu.user_id = tub.user_id
		    left join t_user_capital_account acc on acc.user_id = tu.user_id 
		WHERE tu.user_id = #{userId,jdbcType=VARCHAR}
	</select> 
	
	<!-- 进入个人设置，查询用户基本信息 -->
	<resultMap type="com.dimeng.entity.ext.user.FindAccInfoResp" id="FindAccInfoRespResultMap">
		<result column="image_url" property="headUrl"/>
		<result column="nick_name" property="nickName"/> 
		<result column="user_name" property="userName"/> 
		<result column="mobile" property="phoneNumber"/>
		<result column="launch_pro_number" property="launchProNumber"/>
		<result column="support_pro_number" property="supportProNumber"/>
		<result column="focus_pro_number" property="focusProNumber"/> 
		<result column="available_amount" property="accountAmt"/>
		<result column="frozen_amount" property="frozenAmount"/> 
		<result column="user_status" property="userStatus"/> 
		<result column="idcard_status" property="idcardStatus"/> 
		<result column="trade_pwd" property="tradePwdStatus"/> 
		
	</resultMap>
	
	<select id="findAccInfo" resultMap="FindAccInfoRespResultMap"
	parameterType="com.dimeng.model.user.NotPageUserIdReq">
		select tqub.image_url,tqub.nick_name,tu.user_name,tu.mobile,
		(select count(1) from t_project_info where project_creator_id=tu.user_id and project_status!='4')
		launch_pro_number,
		(select count(1) from t_order_support where
		user_id=tu.user_id) support_pro_number,
		(select count(1) from t_project_favorites where user_id=tu.user_id)
		focus_pro_number,
		tuca.available_amount,tuca.frozen_amount,tu.user_status,tqub.idcard_status,tu.trade_pwd
		from t_q_user_basic tqub INNER JOIN t_user tu on
		tqub.user_id=tu.user_id INNER JOIN t_user_capital_account tuca on
		tu.user_id=tuca.user_id
		where tu.user_id=#{userId,jdbcType=VARCHAR}
	</select> 
	
	<!-- 实名认证-查询 -->
	<resultMap id="FindAuthenticationRespResultMap" type="com.dimeng.entity.ext.user.FindAuthenticationResp">
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="id_card_2" property="idNumber" jdbcType="VARCHAR" />
		<result column="id_card_audit_time" property="auditTime" jdbcType="VARCHAR" />
		<result column="idcard_status" property="auditStatus" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findAuthentication" resultMap="FindAuthenticationRespResultMap"
		parameterType="com.dimeng.model.user.AuthenticationReq">
		select real_name,id_card_2,idcard_status, date_format(id_card_audit_time,'%Y-%m-%d %T') id_card_audit_time
		 from t_q_user_basic
		where 
		<choose>
			<when test="idNumber!=null and idNumber!=''">id_card = #{idNumber,jdbcType=VARCHAR} </when>
			<otherwise>user_id = #{userId,jdbcType=VARCHAR} </otherwise>
		</choose>
	</select>

	<select id="isExsitIdCard" resultType="java.lang.Integer"
		parameterType="com.dimeng.model.user.IsExsitIdCardReq">
		select count(*)  from t_q_user_basic
		where id_card = #{idCardNmber,jdbcType=VARCHAR} and idcard_status='1'
			
	</select>

	<!-- 查询用户账户资金ResultMap -->
	<resultMap id="findUserAccountAmountResultMap" type="com.dimeng.entity.table.user.TUserCapitalAccount" >
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="available_amount" property="availableAmount" jdbcType="DECIMAL" />
		<result column="frozen_amount" property="frozenAmount" jdbcType="DECIMAL" />
	</resultMap>
	<!-- 查询用户账户资金 -->
	<select id="findUserAccountAmount" resultMap="findUserAccountAmountResultMap" parameterType="com.dimeng.framework.domain.BaseReq">
		SELECT 
		    user_id,available_amount,frozen_amount
		FROM t_user_capital_account
		WHERE user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询冻结金额项目ResultMap -->
	<resultMap id="findFreezeProjectListResultMap" type="com.dimeng.entity.ext.user.FindFreezeProResp" >
		<result column="project_id" property="proId" />
		<result column="validation_id" property="validId" />
		<result column="send_status" property="sendStatus" />
		<result column="valid_status" property="validStatus" />
		<result column="cover_image_url" property="proImg" />
		<result column="project_name" property="proTitle" />
		<result column="date_create" property="proCreteTime" />
		<result column="raised_amount" property="proFreezeMoney" />
		<result column="project_type" property="projectType" />
	</resultMap>
	<!-- 查询冻结金额项目 -->
	<select id="findFreezeProjectList" resultMap="findFreezeProjectListResultMap" parameterType="com.dimeng.framework.domain.BaseReq">
		SELECT
			(SELECT IF(COUNT(tos.order_id)=0,'1','2') not_send_count FROM t_order_support tos WHERE tos.`status` = '4' AND tos.project_id = tpi.project_id) send_status,
			(SELECT CASE tpv.audit_status WHEN 1 THEN '1' WHEN 3 THEN '1' ELSE '2' END) valid_status,
			tpi.project_id,
			tpv.validation_id,
			tpi.cover_image_url,
			tpi.project_name,
			DATE_FORMAT(tpi.date_create,'%Y-%m-%d %T') date_create,
			tpi.raised_amount,
			tpi.project_type
		FROM
			t_project_info tpi
		LEFT JOIN t_project_validation tpv ON tpi.project_id = tpv.project_id
		WHERE
			tpi.project_status = '2' AND tpi.project_creator_id = #{userId,jdbcType=VARCHAR}
		AND (
			tpv.audit_status IS NULL
			OR tpv.audit_status = '2'
			OR EXISTS(SELECT tos.order_id FROM t_order_support tos WHERE tos.`status` = '4' AND tos.project_id = tpi.project_id)
		)
	</select>
	
	<!-- 查询账户交易记录ResultMap -->
	<resultMap id="findAccMoneyListResultMap" type="com.dimeng.entity.ext.user.FindAccMoneyListResp" >
		<result column="trade_amount" property="tradeAmount" />
		<result column="trade_type" property="tradeType" />
		<result column="capital_direction" property="capitalDirection" />
		<result column="account_type" property="accountType" />
		<result column="date_create" property="dateCreate" />
		<result column="project_name" property="projectName" />
		<result column="cover_image_url" property="coverImage" />
		<result column="project_id" property="projectId" />
	</resultMap>
	<!-- 查询账户交易记录 -->
	<select id="findAccMoneyList" resultMap="findAccMoneyListResultMap" parameterType="com.dimeng.model.user.FindAccMoneyListReq">
		SELECT
			tpi.project_name,
			tpi.cover_image_url,
			tuar.trade_type,
			tuar.capital_direction,
			tuar.trade_amount,
			DATE_FORMAT(tuar.date_create,'%Y-%m-%d %T') date_create,
			tuar.account_type,
			tuar.project_id
		FROM
			t_user_account_record tuar
		LEFT JOIN t_project_info tpi ON tuar.project_id = tpi.project_id
		WHERE tuar.user_id = #{userId,jdbcType=VARCHAR}
		<if test="direction != null and direction != ''">
			AND tuar.capital_direction = #{direction,jdbcType=VARCHAR}
		</if>
		ORDER BY tuar.date_create DESC
	</select>
	
	<!-- 查询交易明细ResultMap -->
	<resultMap id="findTradeListResultMap" type="com.dimeng.entity.ext.user.FindTradeListResp" >
		<result column="trade_type" property="tradeType" />
		<result column="capital_direction" property="capitalDirection" />
		<result column="trade_amount" property="tradeAmount" />
		<result column="date_create" property="dateCreate" />
		<result column="order_id" property="orderId" />
		<result column="remark" property="remark" />
	</resultMap>
	<!-- 查询交易明细 -->
	<select id="findTradeList" resultMap="findTradeListResultMap" parameterType="com.dimeng.model.user.FindTradeListReq">
		SELECT
			trade_type,
			capital_direction,
			trade_amount,
			DATE_FORMAT(date_create,'%Y-%m-%d %T') date_create,
			order_id,
			remark
		FROM
			t_user_account_flow_record
		WHERE trade_type IN ('1', '2', '3', '5')
		AND user_id = #{userId,jdbcType=VARCHAR}
		<if test="tradeType != null and tradeType !=''">
			AND trade_type = #{tradeType,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null and startTime !=''">
			AND DATE_FORMAT(date_create,'%Y%m%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime !=''">
			AND DATE_FORMAT(date_create,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY date_create DESC
	</select>
	<!-- opendId查询用户信息 -->
	<resultMap id="findUserByOpendIdResultMap" type="com.dimeng.entity.table.user.TUser" >
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findUserByOpendId" parameterType="com.dimeng.model.user.FindUserByOpendIdReq" resultMap="findUserByOpendIdResultMap">
		SELECT 
		    t.user_id,u.user_name
		FROM t_user_third_party t INNER JOIN  t_user u ON t.user_id = u.user_id
		WHERE t.type = #{type,jdbcType=VARCHAR}  AND t.open_id = #{opendId,jdbcType=VARCHAR} 
	</select>
	
	<select id="findUserByUnionId" parameterType="com.dimeng.model.user.FindUserByOpendIdReq" resultMap="findUserByOpendIdResultMap">
		SELECT 
		    t.user_id,u.user_name
		FROM t_user_third_party t INNER JOIN  t_user u ON t.user_id = u.user_id
		WHERE  t.union_id = #{unionId,jdbcType=VARCHAR}  
	</select>
	
	<!-- 根据用户id和第三方授权类型获取用户的openid -->
	<resultMap id="findUserOpendIdResultMap" type="com.dimeng.entity.ext.user.UserOpenidResp" >
		<result column="open_id" property="opendId" jdbcType="VARCHAR" /> 
	</resultMap>
	<select id="findUserOpendId" parameterType="com.dimeng.model.user.FindUserByOpendIdReq" resultMap="findUserOpendIdResultMap">
		SELECT 
		    open_id 
		FROM t_user_third_party 
		WHERE  user_id = #{userId,jdbcType=VARCHAR} and type = #{type,jdbcType=VARCHAR} limit 0,1
	</select>
	
	
	<!-- opendId操作结束 -->
	
	<!-- 查询项目的所有已支付用户id： 3:已支付\r\n            4:待发货\r\n            5:待收货\r\n            6:已收货\r\n      -->
	 <select id="findProjectSupportUserPhones" resultType="java.lang.String" parameterType="java.util.Map">
		select DISTINCT tu.mobile from t_order_support tos INNER JOIN t_user tu ON tos.user_id=tu.user_id where tos.project_id= #{projectId,jdbcType=VARCHAR} and tos.`status` in ('3','4','5','6')
	</select>
	<!-- 通过用户id查询手机号码     -->
	 <select id="findUserPhoneByUserId" resultType="java.lang.String" parameterType="java.util.Map">
		select mobile from t_user where user_id=#{userId,jdbcType=VARCHAR} 
	</select>
	<!--删除项目时： 删除关注记录 -->
	<delete id="deleteUserFocusProject" parameterType="java.util.Map">
		delete from t_project_favorites where project_id=#{projectId,jdbcType=VARCHAR} AND type=#{type,jdbcType=VARCHAR}
		<if test="userId != null and userId != ''">
			AND user_id=#{userId,jdbcType=VARCHAR} 
		</if>
	</delete>
</mapper>