.center{
	background: #f7f7f7;
}

.men-dedd{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.top-ioo{
	padding: 15px 0;
}
.top-ioo>span{
	font-size: 12px;
	color: #9f9f9f;
}
.top-kos{
	width: 100%;
	height: 70px;
	background: #ffffff;
	box-sizing: border-box;
	padding: 0 25px;
	font-size: 14px;
	padding-top: 15px;
}
.top-ioo .corej{
	color: #00aaf6;
}
.setp{
	border: solid 1px #000;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333333;
    padding-left: 9px;
    border: 1px solid #c3ecff;
    background: #ffffff;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #f1f1f1 inset;
    -webkit-box-shadow: 5px 5px 5px #f1f1f1 inset;
    box-shadow: 5px 5px 5px #f1f1f1 inset;
}
.okls-b{
	position: relative;
	margin-right: 30px;
	margin-top: 10px;
}
.okls-b>span{
	padding-right: 10px;
}
.okls-b>b{
	    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 9px;
    height: 6px;
    background: url(../images/limgvv.png)no-repeat center;
}
.input-lpj>input{
	width: 348px;
    height: 42px;
    line-height: 42px;
    padding-left: 9px;
    border: 1px solid #c3ecff;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #f1f1f1 inset;
    -webkit-box-shadow: 5px 5px 5px #f1f1f1 inset;
    box-shadow: 5px 5px 5px #f1f1f1 inset;
}
.input-lpj{
	position: relative;
}
.input-lpj>button{
	position: absolute;
    top: 8px;
    left: 314px;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 26px;
    height: 24px;
    background: url(../images/cjdsdj9-2.png)no-repeat center;
}
/*左*/


.but-ab{
	width: 100%;
	text-align: center;
	padding-top: 16px;
}
.but-ab>a{
	display: inline-block;
	width: 140px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	font-weight: lighter;
	color: #ffffff;
	background: #00aaf6;
	border-radius: 4px;
}
.ul-nus{
	width: 350px;
	height: 30px;
	margin-right: -10px;
	margin-top: 12px;
	position: relative;
}
.ul-nus>li{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	font-size: 10px;
	font-size:12px;-webkit-transform:scale(0.8);
	color: #999999;
}
.ul-nus>li:nth-child(2){
	left: 74px;
}
.ul-nus>li:nth-child(3){
	left: 150px;
}
.ul-nus>li>span{
	color: #00aaf6;
	font-size:14px;
}
.im-ttxx>li:nth-child(2),.im-ttxx>li:nth-child(5),.im-ttxx>li:nth-child(8),.im-ttxx>li:nth-child(11){
	margin:0 38px ;
	margin-top: 22px;
	margin-bottom: 10px;
}
.im-ttxx>li{
	box-shadow: 0px 4px 20px #d9d9d9;
	width: 374px;
	float: left;
	margin-top: 22px;
	background: #ffffff;
	margin-bottom: 10px;
}

.im-ttxx>li>img{
	width: 374px;
	height: 210px;
}
.ti-ou>a{
	color: #1a1a1a;
	font-size: 16px;
	line-height: 26px;
}
.yi-b>u{
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #1a1a1a;
	margin: 0 10px;
	margin-bottom: -3px;
}

.im-tx>li{
	box-shadow: 0px 4px 20px #d9d9d9;
	width: 374px;
	float: left;
	margin-top: 30px;
	background: #ffffff;
}
.im-tx>li:nth-child(2),.im-tx>li:nth-child(5),.im-tx>li:nth-child(8),.im-tx>li:nth-child(11){
	margin-left: 35px;
	margin-right: 35px;
}
.im-tx>li>img{
	width: 374px;
	height: 210px;
}
.detailed{
	padding: 16px 19px;
}
.ti-m>a{
	color: #1a1a1a;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;

}
.ti-m>a:hover{
	text-decoration: underline;
}
.yi-b{
	margin-bottom: 28px;
}
.yi-b>span{
	color: #1a1a1a;
	font-size: 12px;
}
.yi-b>.bba{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../images/yiyuan2ssd5.png)no-repeat center;
	margin-bottom: -2px;
	margin-right: 9px;
}
.yi-b>b{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/cn16.png)no-repeat center;
	margin-bottom: -2px;
	margin-right: 9px;
}
.yi-b>i{
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #1a1a1a;
	margin: 0 14px;
	margin-bottom: -3px;
}
.dao-t{
	width: 100%;
	border: 1px solid #f8f7f7;
	height: 3px;
	background: #f8f7f7;
	border-radius: 4px;
	position: relative;
}
.dao-t>.dao-p,.dao-t>.dao-p>span{
	border: 1px solid #00aaf6;
	background: #00aaf6;
}
.dao-t>.dao-p>span{
	width: 34px;
	height: 16px;
	line-height: 16px;
	top: -7px;
}
.dao-t>p{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	border: 1px solid #00aaf6;
	height: 3px;
	background: #00aaf6;
	border-radius: 4px;
}
.dao-t>p>span{
	position: absolute;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	width: 40px;
	height: 18px;
	background: #00aaf6;
	border-radius: 6px;
	color: #ffffff;
	top:-8px;
	right: -5px;
	font-weight: lighter;
	font-size: 10px;
    font-size:10px;-webkit-transform:scale(0.8);
}
.ul-num{
	margin-top: 12px;
}
.ul-num>li{
	float: left;
	text-align: center;
	font-size: 12px;
	color: #999999;
}
.ul-num>li>span{
	color: #00aaf6;
	font-size: 14px;
}
.ul-num>li:nth-child(2){
	margin: 0 40px;
}
.but-a{
	width: 100%;
	text-align: center;
	padding-top: 16px;
}
.but-a>a{
	display: inline-block;
	width: 140px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	font-weight: lighter;
	color: #ffffff;
	background: #00aaf6;
	border-radius: 4px;
}
.fr-nav{
	width: 362px;
	padding-top: 52px;
	box-sizing: border-box;
}
.top-txt{
	box-sizing: border-box;
	width: 362px;
	height: 62px;
	border: 1px solid #cbefff;
	background: #f2fbff;
	text-align: center;
	line-height: 62px;
}
.top-txt>p>b{
	display: inline-block;
	width: 30px;
	height: 27px;
	background: url(../images/cn14.png)no-repeat center;
	margin-bottom: -8px;
	margin-right: 10px;
}
.top-txt>p{
	color:#00aaf6;
	font-size: 16.5px;
}
.loing{
	box-sizing: border-box;
	width: 362px;
	padding: 25px;
	background: #ffffff;
	margin-top: 20px;
}
.loing>p{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 12px;
    color: #333333;
    margin-bottom:25px;
    line-height: 25px;
}
.loing>p>a{
	color: #00aaf6;
}
.loing>div{
	width:100%;
	text-align: center;
}
.loing>div>a{
	display: inline-block;
	width: 138px;
	height: 34px;
	background: #f6635e;
	color: #ffffff;
	line-height: 34px;
	font-size: 12px;
	border-radius: 2px;
}
.problem{
	width: 362px;
	margin-top: 20px;
	padding-top:24px; 
	background: #ffffff;
}
.problem>p{
	padding-left: 24px;
	font-size: 16px;
	color: #1a1a1a;
	line-height: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
}
.problem>p>i{
	display: inline-block;
	width: 2px;
	height: 16px;
	background: #00aaf6;
	margin-bottom: -2px;
	margin-right: 10px;
}
.problem>ul{
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.problem>ul>li{
	font-size: 12px;
	color: #999999;
	line-height: 24px;
}
.problem>ul>li>span{
	color: #333333;
	margin: 0 15px;
}
.problem>ul>li>a{
	color: #666666;
}
.problem>ul>li>a:hover{
	color: #00aaf6;
}
.problem>ul>li>a>i{
	display: inline-block;
	width: 6px;
    height: 6px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #b0e7ff;
    margin-bottom: 1px;
    margin-right: 10px;
}
.asy>a{
	display: inline-block;
    padding-top: 22px;
    width: 51px;
    height: 13px;
    background: url(../images/cn17.png)no-repeat center;
    margin-bottom: -10px;
}
/*分页*/
.fen-page{
	text-align: center;
	padding-bottom: 30px;
}
 .page {
      font-weight: 600;
      height: 40px;
      text-align: center;
      color: #888;
      margin: 20px auto 0;
     background: #fff;
    }

    .pagelist span {
      font-size: 12px;
      color: #000000;
      font-weight: lighter;
      font-family: MicrosoftYaHei;
    }

    .pagelist .jump {
      border: 1px solid #ececec;
      padding: 5px 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 5px;
    }

    .pagelist .bgprimary {
      cursor: default;
      color: #fff;
      background: #00aaf6;
      border-color: #00aaf6;
    }

    .jumpinp input {
      width: 55px;
      height: 28px;
      font-size: 13px;
      border: 1px solid #ccc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-align: center;
    }
    .pagelist .left{
    	padding: 5px 10px;
    	background: url(../images/left-20l.png)no-repeat center;
    }
     .pagelist .rightl{
     	padding: 5px 10px;
    	background: url(../images/rightk-20.png)no-repeat center;
    }
    .ellipsis {
      padding: 0px 8px;
    }

    .jumppoint {
      margin-left: 30px;
    }

    .pagelist .gobtn {
      font-size: 14px;
      color: #00aaf6;
      border: 1px solid #00aaf6;
    }

    .bgprimary {
      cursor: default;
      color: #fff;
      background: #337ab7;
      border-color: #337ab7;
    }
    .pagelist .jump.disabled{
      pointer-events: none;
    }





































