<div class="fn-s-14">
	<div class="pd-all-10">
		<span>请输入新的提现密码</span>
	</div>
	
	<div class="bc-white"> 
            <div class="ub ub-ac uinput bd-b">
                <div class="pd-all-10">
                    <div class="password_img lub-img8"></div>
                </div>
                <div class="ub-f1">
                    <input id="newPasswordF" name="newPasswordF" value="" type="password" 
                    title="提现密码" maxlength="6"
                    placeholder="请输入6位数字密码"  validator="notEmpty;reg[/^[0-9]{6}$/];">
                </div>
            </div>
    </div>
    <div class="bc-white"> 
            <div class="ub ub-ac uinput">
                <div class="pd-all-10">
                    <div class="password_img lub-img8"></div>
                </div>
                <div class="ub-f1">
                    <input id="newPassword" name="newPasswordS" value="" type="password"
                    title="提现密码" maxlength="6"
                     placeholder="请再次输入密码" validator="notEmpty;reg[/^[0-9]{6}$/];">
                </div>
            </div>
    </div>
    <div class="address-keep" id="sure_password">
    	<p class="btn-address-keep ub ub-ac ub-pc">确定</p>
    </div>
	
</div>