<div class="fn-s-14">
	<div class="pd-all-10">
		<span>请输入原提现密码</span>
	</div>
	<div class="bc-white"> 
            <div class="ub ub-ac uinput bd-b">
                <div class="pd-all-10">
                    <div class="password_img lub-img8"></div>
                </div>
                <div class="ub-f1">
                    <input id="password" name="password" value="" type="password" 
                    title="提现密码" maxlength="6"
                    placeholder="请输入原提现密码"  validator="notEmpty;reg[/^[0-9]{4,6}$/];">
                </div>
            </div>
    </div>
    
    <div class="address-keep" id="next_password">
    	<p class="btn-address-keep ub ub-ac ub-pc">下一步</p>
    </div>
	
</div>