<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TQUserBasicResultMap" type="com.dimeng.entity.table.user.TQUserBasic" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="idcard_status" property="idcardStatus" jdbcType="CHAR" />
    <result column="id_card_audit_time" property="idCardAuditTime" jdbcType="CHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_2" property="idCard2" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="platform_card_bind" property="platformCardBind" jdbcType="INTEGER" /> 
  </resultMap>
  <sql id="TQUserBasic_Column_List" >
    user_id, nick_name, real_name, idcard_status, id_card, id_card_2, image_url, image_id, 
    sex, platform_card_bind,id_card_audit_time
  </sql>
  <select id="findByIdTQUserBasic" resultMap="TQUserBasicResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TQUserBasic_Column_List" />
    from t_q_user_basic
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTQUserBasic" parameterType="java.lang.String" >
    delete from t_q_user_basic
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insertTQUserBasic" parameterType="com.dimeng.entity.table.user.TQUserBasic" >
    insert into t_q_user_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="idcardStatus != null" >
        idcard_status,
      </if>
      <if test="idCardAuditTime != null" >
        id_card_audit_time,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="idCard2 != null" >
        id_card_2,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="platformCardBind != null" >
        platform_card_bind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardStatus != null" >
        #{idcardStatus,jdbcType=CHAR},
      </if>
      <if test="idCardAuditTime != null" >
        #{idCardAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCard2 != null" >
        #{idCard2,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="platformCardBind != null" >
        #{platformCardBind,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateTQUserBasic" parameterType="com.dimeng.entity.table.user.TQUserBasic" >
    update t_q_user_basic
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardStatus != null" >
        idcard_status = #{idcardStatus,jdbcType=CHAR},
      </if>
      <if test="idCardAuditTime != null" >
        id_card_audit_time = #{idCardAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCard2 != null" >
        id_card_2 = #{idCard2,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="platformCardBind != null" >
        platform_card_bind = #{platformCardBind,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
 
</mapper>