<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TUserAccountFlowRecordResultMap" type="com.dimeng.entity.table.user.TUserAccountFlowRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="CHAR" />
    <result column="capital_direction" property="capitalDirection" jdbcType="CHAR" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="account_balance" property="accountBalance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="TUserAccountFlowRecord_Column_List" >
    id, trade_type, capital_direction, trade_amount, date_create, order_id, user_id,
    account_balance, remark
  </sql>
  <select id="findByIdTUserAccountFlowRecord" resultMap="TUserAccountFlowRecordResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TUserAccountFlowRecord_Column_List" />
    from t_user_account_flow_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTUserAccountFlowRecord" parameterType="java.lang.String" >
    delete from t_user_account_flow_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTUserAccountFlowRecord" parameterType="com.dimeng.entity.table.user.TUserAccountFlowRecord" >
    insert into t_user_account_flow_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="capitalDirection != null" >
        capital_direction,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="accountBalance != null" >
        account_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=CHAR},
      </if>
      <if test="capitalDirection != null" >
        #{capitalDirection,jdbcType=CHAR},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateTUserAccountFlowRecord" parameterType="com.dimeng.entity.table.user.TUserAccountFlowRecord" >
    update t_user_account_flow_record
    <set >
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=CHAR},
      </if>
      <if test="capitalDirection != null" >
        capital_direction = #{capitalDirection,jdbcType=CHAR},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null" >
        account_balance = #{accountBalance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>