<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TUserShippingAddressResultMap" type="com.dimeng.entity.table.user.TUserShippingAddress" >
    <id column="addr_id" property="addrId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
    <result column="consignee_phone" property="consigneePhone" jdbcType="VARCHAR" />
    <result column="consignee_city" property="consigneeCity" jdbcType="VARCHAR" />
    <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="CHAR" />
  </resultMap>
  <sql id="TUserShippingAddress_Column_List" >
    addr_id, user_id, consignee_name, consignee_phone, consignee_city, consignee_address, 
    is_default
  </sql>
  <select id="findByIdTUserShippingAddress" resultMap="TUserShippingAddressResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TUserShippingAddress_Column_List" />
    from t_user_shipping_address
    where addr_id = #{addrId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTUserShippingAddress" parameterType="java.lang.String" >
    delete from t_user_shipping_address
    where addr_id = #{addrId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTUserShippingAddress" parameterType="com.dimeng.entity.table.user.TUserShippingAddress" >
    insert into t_user_shipping_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="consigneeName != null" >
        consignee_name,
      </if>
      <if test="consigneePhone != null" >
        consignee_phone,
      </if>
      <if test="consigneeCity != null" >
        consignee_city,
      </if>
      <if test="consigneeAddress != null" >
        consignee_address,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        #{addrId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consigneeName != null" >
        #{consigneeName,jdbcType=VARCHAR},
      </if>
      <if test="consigneePhone != null" >
        #{consigneePhone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCity != null" >
        #{consigneeCity,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null" >
        #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTUserShippingAddress" parameterType="com.dimeng.entity.table.user.TUserShippingAddress" >
    update t_user_shipping_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consigneeName != null" >
        consignee_name = #{consigneeName,jdbcType=VARCHAR},
      </if>
      <if test="consigneePhone != null" >
        consignee_phone = #{consigneePhone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCity != null" >
        consignee_city = #{consigneeCity,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null" >
        consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=CHAR},
      </if>
    </set>
    where addr_id = #{addrId,jdbcType=VARCHAR}
  </update>
</mapper>