<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TOrderFirstTradeRecordResultMap" type="com.dimeng.entity.table.order.TOrderFirstTradeRecord" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="date_trade" property="dateTrade" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="TOrderFirstTradeRecord_Column_List" >
    order_id, user_id, amount, type, date_trade
  </sql>
  <select id="findByIdTOrderFirstTradeRecord" resultMap="TOrderFirstTradeRecordResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TOrderFirstTradeRecord_Column_List" />
    from t_order_first_trade_record
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteTOrderFirstTradeRecord" parameterType="java.lang.String" >
    delete from t_order_first_trade_record
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete> 
  <insert id="insertTOrderFirstTradeRecord" parameterType="com.dimeng.entity.table.order.TOrderFirstTradeRecord" >
    insert into t_order_first_trade_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="dateTrade != null" >
        date_trade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="dateTrade != null" >
        #{dateTrade,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateTOrderFirstTradeRecord" parameterType="com.dimeng.entity.table.order.TOrderFirstTradeRecord" >
    update t_order_first_trade_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="dateTrade != null" >
        date_trade = #{dateTrade,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update> 
</mapper>