<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TOrderSupportResultMap" type="com.dimeng.entity.table.order.TOrderSupport" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="return_id" property="returnId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="CHAR" />
    <result column="pay_source" property="paySource" jdbcType="CHAR" />
    <result column="pay_flow_no" property="payFlowNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="support_amount" property="supportAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="date_invalid" property="dateInvalid" jdbcType="TIMESTAMP" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="refund_type" property="refundType" jdbcType="CHAR" />
    <result column="date_refund" property="dateRefund" jdbcType="TIMESTAMP" />
    <result column="refund_flow_no" property="refundFlowNo" jdbcType="VARCHAR" />
    <result column="refund_reason" property="refundReason" jdbcType="VARCHAR" />
    <result column="send_flow_no" property="sendFlowNo" jdbcType="VARCHAR" />
    <result column="logistics_name" property="logisticsName" jdbcType="VARCHAR" />
    <result column="date_send" property="dateSend" jdbcType="TIMESTAMP" />
    <result column="date_receive" property="dateReceive" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="date_pay_check" property="datePayCheck" jdbcType="TIMESTAMP" />
    <result column="pay_check_status" property="payCheckStatus" jdbcType="CHAR" />
    <result column="date_refund_check" property="dateRefundCheck" jdbcType="TIMESTAMP" />
    <result column="refund_check_status" property="refundCheckStatus" jdbcType="CHAR" />
    <result column="date_pay" property="datePay" jdbcType="TIMESTAMP" />
    <result column="date_refund_finish" property="dateRefundFinish" jdbcType="TIMESTAMP" />
    <result column="support_count" property="supportCount" jdbcType="VARCHAR" />
    <result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="TOrderRefundResultMap" type="com.dimeng.model.pay.RefundReq" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="date_refund" property="orderDatetime" jdbcType="VARCHAR" />
    <result column="support_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
 	 <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
 	  <result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="TOrderSupport_Column_List" >
    order_id, project_id, return_id, order_no, pay_type, pay_source, pay_flow_no, user_id, support_amount, 
    status, date_invalid, receive_name, region, address, phone, date_create, refund_type, 
    date_refund, refund_flow_no, refund_reason, send_flow_no, logistics_name, date_send,support_count,refund_no,message, 
    date_receive, remark, date_pay_check, pay_check_status, date_refund_check, refund_check_status, date_pay, date_refund_finish
  </sql>
  <select id="findByIdTOrderSupport" resultMap="TOrderSupportResultMap" parameterType="java.lang.String" >
    select 
    <include refid="TOrderSupport_Column_List" />
    from t_order_support
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <!-- 查询待退款的订单 -->
    <select id="findJobRefundList" resultMap="TOrderRefundResultMap" parameterType="com.dimeng.model.finance.FindRefundListReq" >
    select 
    <include refid="TOrderSupport_Column_List" />
    from t_order_support
    where 1=1
    <if test="type == 1" >
  	   and   status = 7
  	   and   ( refund_check_status is null or refund_check_status ='')
  	   
     </if>
     <if test="type == 4" >
      and   status = 7
  	  and   refund_check_status   =1
     </if>
  </select>
  
  
  <delete id="deleteTOrderSupport" parameterType="java.lang.String" >
    delete from t_order_support
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTOrderSupport" parameterType="com.dimeng.entity.table.order.TOrderSupport" >
    insert into t_order_support
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="returnId != null" >
        return_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="paySource != null" >
        pay_source,
      </if>
      <if test="payFlowNo != null" >
        pay_flow_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="supportAmount != null" >
        support_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dateInvalid != null" >
        date_invalid,
      </if>
      <if test="receiveName != null" >
        receive_name,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="refundType != null" >
        refund_type,
      </if>
      <if test="dateRefund != null" >
        date_refund,
      </if>
      <if test="refundFlowNo != null" >
        refund_flow_no,
      </if>
      <if test="refundReason != null" >
        refund_reason,
      </if>
      <if test="sendFlowNo != null" >
        send_flow_no,
      </if>
      <if test="logisticsName != null" >
        logistics_name,
      </if>
      <if test="dateSend != null" >
        date_send,
      </if>
       <if test="datePay != null" >
        date_pay,
      </if>
      <if test="dateReceive != null" >
        date_receive,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="datePayCheck != null" >
        date_pay_check,
      </if>
      <if test="payCheckStatus != null" >
        pay_check_status,
      </if>
      <if test="dateRefundCheck != null" >
        date_refund_check,
      </if>
      <if test="refundCheckStatus != null" >
        refund_check_status,
      </if>
      <if test="dateRefundFinish != null" >
        date_refund_finish,
      </if>
      <if test="supportCount != null" >
        support_count,
      </if>
      <if test="refundNo != null" >
        refund_no,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="returnId != null" >
        #{returnId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=CHAR},
      </if>
      <if test="paySource != null" >
        #{paySource,jdbcType=CHAR},
      </if>
      <if test="payFlowNo != null" >
        #{payFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supportAmount != null" >
        #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="dateInvalid != null" >
        #{dateInvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="datePay != null" >
        #{datePay,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="refundType != null" >
        #{refundType,jdbcType=CHAR},
      </if>
      <if test="dateRefund != null" >
        #{dateRefund,jdbcType=TIMESTAMP},
      </if>
      <if test="refundFlowNo != null" >
        #{refundFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null" >
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="sendFlowNo != null" >
        #{sendFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="dateSend != null" >
        #{dateSend,jdbcType=TIMESTAMP},
      </if>
      <if test="dateReceive != null" >
        #{dateReceive,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="datePayCheck != null" >
        #{datePayCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="payCheckStatus != null" >
        #{payCheckStatus,jdbcType=CHAR},
      </if>
      <if test="dateRefundCheck != null" >
        #{dateRefundCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="refundCheckStatus != null" >
        #{refundCheckStatus,jdbcType=CHAR},
      </if>
      <if test="dateRefundFinish != null" >
        #{dateRefundFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="supportCount != null" >
        #{supportCount,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTOrderSupport" parameterType="com.dimeng.entity.table.order.TOrderSupport" >
    update t_order_support
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="returnId != null" >
        return_id = #{returnId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="paySource != null" >
        pay_source = #{paySource,jdbcType=CHAR},
      </if>
      <if test="payFlowNo != null" >
        pay_flow_no = #{payFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supportAmount != null" >
        support_amount = #{supportAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="dateInvalid != null" >
        date_invalid = #{dateInvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveName != null" >
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="datePay != null" >
        date_pay = #{datePay,jdbcType=TIMESTAMP},
      </if>
      <if test="refundType != null" >
        refund_type = #{refundType,jdbcType=CHAR},
      </if>
      <if test="dateRefund != null" >
        date_refund = #{dateRefund,jdbcType=TIMESTAMP},
      </if>
      <if test="refundFlowNo != null" >
        refund_flow_no = #{refundFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null" >
        refund_reason = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="sendFlowNo != null" >
        send_flow_no = #{sendFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        logistics_name = #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="dateSend != null" >
        date_send = #{dateSend,jdbcType=TIMESTAMP},
      </if>
      <if test="dateReceive != null" >
        date_receive = #{dateReceive,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="datePayCheck != null" >
        date_pay_check = #{datePayCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="payCheckStatus != null" >
        pay_check_status = #{payCheckStatus,jdbcType=CHAR},
      </if>
      <if test="dateRefundCheck != null" >
        date_refund_check = #{dateRefundCheck,jdbcType=TIMESTAMP},
      </if>
      <if test="refundCheckStatus != null" >
        refund_check_status = #{refundCheckStatus,jdbcType=CHAR},
      </if>
      <if test="dateRefundFinish != null" >
        date_refund_finish = #{dateRefundFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="supportCount != null" >
        support_count = #{supportCount,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        refund_no = #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>