<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">

	<resultMap id="FindFeedbackListResultMap" type="com.dimeng.entity.ext.expand.FindFeedbackResp">
		<id column="feedback_id" property="feedbackId" />
		<result column="user_name" property="userName" />
		<result column="nick_name" property="nickName" />
		<result column="contact_email" property="contactEmail" />
		<result column="feedback_details" property="feedbackDetails" />
		<result column="date_commit" property="dateCommit" />
	</resultMap>

	<!-- 后台-运营管理-意见反馈列表 -->
	<select id="findFeedbackList" resultMap="FindFeedbackListResultMap" parameterType="com.dimeng.model.expand.FindFeedbackReq">
		SELECT
			tu.user_name, tqub.nick_name, tof.feedback_id, tof.contact_email, tof.feedback_details, DATE_FORMAT(tof.date_commit,'%Y-%m-%d %T') as date_commit
		FROM
			t_operate_feedback tof
		LEFT JOIN t_user tu ON tu.user_id = tof.user_id
		LEFT JOIN t_q_user_basic tqub ON tqub.user_id = tof.user_id
		<where>
			<if test="userName != null and userName != ''">
				tu.user_name LIKE CONCAT ('%',trim(#{userName,jdbcType=VARCHAR}),'%')
			</if>
			<if test="nickName != null and nickName != ''">
				AND tqub.nick_name LIKE CONCAT ('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
			</if>
			<if test="startTime != null and startTime != ''">
				AND DATE_FORMAT(tof.date_commit,'%Y%m%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=VARCHAR},'%Y%m%d')
			</if>
			<if test="endTime != null and endTime != ''">
				AND DATE_FORMAT(tof.date_commit,'%Y%m%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
			</if>
		</where>
		ORDER BY tof.date_commit DESC
	</select>

</mapper>