<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >

    <!--基金会列表-->
    <select id="findFoundationList" resultType="com.dimeng.entity.ext.expand.FindFoundationResp"
                    parameterType="com.dimeng.model.expand.FindFoundationReq">
        SELECT foundation_id foundationId, foundation_name foundationName,
          registration_institution registrationInstitution,link_name linkName,
          link_mobile linkMobile,office_tel officeTel,mail mail,create_time createTime,
          logo_url logoUrl,description description
        FROM foundation_info
        where 1 = 1
        <if test="foundationName != null and foundationName != ''">
            and foundation_info.foundation_name LIKE CONCAT
            ('%',trim(#{foundationName,jdbcType=VARCHAR}),'%')
        </if>
    </select>

    <!--基金会详细信息-->
    <select id="findFoundationDetails" resultType="com.dimeng.entity.ext.expand.FindFoundationResp"
            parameterType="com.dimeng.model.expand.FindFoundationReq">
      SELECT
        foundation_id foundationId,foundation_name foundationName, registration_institution institution,
        foundation_url foundationUrl, social_credit_code socialCreditCode, certificate_url certificateUrl,
        donations_qualification_url donationsQualificationUrl, address address, office_tel officeTel,
        mail mail, logo_url logoUrl, create_time createTime, description description, remain_property remainProperty,
        bank_info bankInfo, invoice_type invoiceType, account_info accountInfo, link_name linkName,
        link_mobile linkMobile
      FROM foundation_info
        where 1=1
        <choose>
            <when test="foundationId != null and foundationId != ''">and foundation_info.foundation_id=#{foundationId,jdbcType=VARCHAR}</when>
            <otherwise>and foundation_info.foundation_id=''</otherwise>
        </choose>
    </select>

    <!--查询基金会是否唯一-->
    <select id="findFoundationUnique" resultType="com.dimeng.entity.ext.expand.FindFoundationResp"
            parameterType="com.dimeng.model.expand.FindFoundationReq">
        SELECT foundation_id foundationId,foundation_name foundationName
        FROM foundation_info
        WHERE foundation_name = #{foundationName,jdbcType=VARCHAR}
    </select>

    <!--删除基金会信息-->
    <delete id="deleteFoundationInfo" parameterType="com.dimeng.entity.table.foundation.FoundationInfo" >
        delete from foundation_info
        where foundation_id = #{foundationId,jdbcType=VARCHAR}
    </delete>

    <!--插入基金会信息-->
    <insert id="insertAbsolutelyFoundationInfo" parameterType="com.dimeng.model.expand.FindFoundationReq">
      INSERT INTO foundation_info (
          foundation_id, foundation_name, foundation_url, registration_institution,
          social_credit_code, certificate_url, certificate_id, donations_qualification_url,
          donations_url_id, address, office_tel, mail, logo_id, logo_url, create_time,
          description, remain_property, bank_info, invoice_type, account_info,
          link_mobile, link_name
      )
      VALUES(
          #{foundationId,jdbcType=VARCHAR},#{foundationName,jdbcType=VARCHAR},#{foundationUrl,jdbcType=VARCHAR},
          #{registrationInstitution,jdbcType=VARCHAR},#{socialCreditCode,jdbcType=VARCHAR},
          #{certificateUrl,jdbcType=VARCHAR},#{certificateId,jdbcType=VARCHAR},
          #{donationsQualificationUrl,jdbcType=VARCHAR},#{donationsUrlId,jdbcType=VARCHAR},
          #{address,jdbcType=VARCHAR},#{officeTel,jdbcType=VARCHAR},#{mail,jdbcType=VARCHAR},
          #{logoId,jdbcType=VARCHAR},#{logoUrl,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},
          #{description,jdbcType=VARCHAR},#{remainProperty,jdbcType=VARCHAR},#{bankInfo,jdbcType=DATE},
          #{invoiceType,jdbcType=CHAR},#{accountInfo,jdbcType=VARCHAR},#{linkMobile,jdbcType=DATE},
          #{linkName,jdbcType=VARCHAR}
      )
    </insert>

    <insert id="insertFoundationInfo" parameterType="com.dimeng.model.expand.FindFoundationReq">
        insert into foundation_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="foundationId != null" >
                foundation_id,
            </if>
            <if test="foundationName != null" >
                foundation_name,
            </if>
            <if test="foundationUrl != null" >
                foundation_url,
            </if>
            <if test="registrationInstitution != null" >
                registration_institution,
            </if>
            <if test="socialCreditCode != null" >
                social_credit_code,
            </if>
            <if test="certificateUrl != null" >
                certificate_url,
            </if>
            <if test="certificateId != null" >
                certificate_id,
            </if>
            <if test="donationsQualificationUrl != null" >
                donations_qualification_url,
            </if>
            <if test="donationsUrlId != null" >
                donations_url_id,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="officeTel != null" >
                office_tel,
            </if>
            <if test="mail != null" >
                mail,
            </if>
            <if test="logoId != null" >
                logo_id,
            </if>
            <if test="logoUrl != null" >
                logo_url,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="remainProperty != null" >
                remain_property,
            </if>
            <if test="bankInfo != null" >
                bank_info,
            </if>
            <if test="invoiceType != null" >
                invoice_type,
            </if>
            <if test="accountInfo != null" >
                account_info,
            </if>
            <if test="linkMobile != null" >
                link_mobile,
            </if>
            <if test="linkName != null" >
                link_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="foundationId != null" >
                #{foundationId,jdbcType=VARCHAR},
            </if>
            <if test="foundationName != null" >
                #{foundationName,jdbcType=VARCHAR},
            </if>
            <if test="foundationUrl != null" >
                #{foundationUrl,jdbcType=VARCHAR},
            </if>
            <if test="registrationInstitution != null" >
                #{registrationInstitution,jdbcType=VARCHAR},
            </if>
            <if test="socialCreditCode != null" >
                #{socialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="certificateUrl != null" >
                #{certificateUrl,jdbcType=VARCHAR},
            </if>
            <if test="certificateId != null" >
                #{certificateId,jdbcType=VARCHAR},
            </if>
            <if test="donationsQualificationUrl != null" >
                #{donationsQualificationUrl,jdbcType=VARCHAR},
            </if>
            <if test="donationsUrlId != null" >
                #{donationsUrlId,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="officeTel != null" >
                #{officeTel,jdbcType=VARCHAR},
            </if>
            <if test="mail != null" >
                #{mail,jdbcType=VARCHAR},
            </if>
            <if test="logoId != null" >
                #{logoId,jdbcType=VARCHAR},
            </if>
            <if test="logoUrl != null" >
                #{logoUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=DATE},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="remainProperty != null" >
                #{remainProperty,jdbcType=VARCHAR},
            </if>
            <if test="bankInfo != null" >
                #{bankInfo,jdbcType=DATE},
            </if>
            <if test="invoiceType != null" >
                #{invoiceType,jdbcType=CHAR},
            </if>
            <if test="accountInfo != null" >
                #{accountInfo,jdbcType=VARCHAR},
            </if>
            <if test="linkMobile != null" >
                #{linkMobile,jdbcType=DATE},
            </if>
            <if test="linkName != null" >
                #{linkName,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateFoundationInfo" parameterType="com.dimeng.model.expand.FindFoundationReq">
      UPDATE foundation_info
        <set>
            <if test="foundationId != null" >
                foundation_id = #{foundationId,jdbcType=VARCHAR},
            </if>
            <if test="foundationName != null" >
                foundation_name = #{foundationName,jdbcType=VARCHAR},
            </if>
            <if test="foundationUrl != null" >
                foundation_url = #{foundationUrl,jdbcType=VARCHAR},
            </if>
            <if test="registrationInstitution != null" >
                registration_institution = #{registrationInstitution,jdbcType=VARCHAR},
            </if>
            <if test="socialCreditCode != null" >
                social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="certificateUrl != null" >
                certificate_url = #{certificateUrl,jdbcType=VARCHAR},
            </if>
            <if test="certificateId != null" >
                certificate_id = #{certificateId,jdbcType=VARCHAR},
            </if>
            <if test="donationsQualificationUrl != null" >
                donations_qualification_url = #{donationsQualificationUrl,jdbcType=VARCHAR},
            </if>
            <if test="donationsUrlId != null" >
                donations_url_id = #{donationsUrlId,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="officeTel != null" >
                office_tel = #{officeTel,jdbcType=VARCHAR},
            </if>
            <if test="mail != null" >
                mail = #{mail,jdbcType=VARCHAR},
            </if>
            <if test="logoId != null" >
                logo_id = #{logoId,jdbcType=VARCHAR},
            </if>
            <if test="logoUrl != null" >
                logo_url = #{logoUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="remainProperty != null" >
                remain_property = #{remainProperty,jdbcType=VARCHAR},
            </if>
            <if test="bankInfo != null" >
                bank_info = #{bankInfo,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null" >
                invoice_type = #{invoiceType,jdbcType=CHAR},
            </if>
            <if test="accountInfo != null" >
                account_info = #{accountInfo,jdbcType=VARCHAR},
            </if>
            <if test="linkMobile != null" >
                link_mobile = #{linkMobile,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null" >
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
        </set>
      WHERE foundation_id = #{foundationId,jdbcType=VARCHAR}
    </update>

    <update id="updateAbsolutelyFoundationInfo" parameterType="com.dimeng.model.expand.FindFoundationReq">
        UPDATE foundation_info
        SET
            foundation_id = #{foundationId,jdbcType=VARCHAR},
            foundation_name = #{foundationName,jdbcType=VARCHAR},
            foundation_url = #{foundationUrl,jdbcType=VARCHAR},
            registration_institution = #{registrationInstitution,jdbcType=VARCHAR},
            social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
            certificate_url = #{certificateUrl,jdbcType=VARCHAR},
            certificate_id = #{certificateId,jdbcType=VARCHAR},
            donations_qualification_url = #{donationsQualificationUrl,jdbcType=VARCHAR},
            donations_url_id = #{donationsUrlId,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            office_tel = #{officeTel,jdbcType=VARCHAR},
            mail = #{mail,jdbcType=VARCHAR},
            logo_id = #{logoId,jdbcType=VARCHAR},
            logo_url = #{logoUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=DATE},
            description = #{description,jdbcType=VARCHAR},
            remain_property = #{remainProperty,jdbcType=VARCHAR},
            bank_info = #{bankInfo,jdbcType=VARCHAR},
            invoice_type = #{invoiceType,jdbcType=CHAR},
            account_info = #{accountInfo,jdbcType=VARCHAR},
            link_mobile = #{linkMobile,jdbcType=VARCHAR},
            link_name = #{linkName,jdbcType=VARCHAR}
        WHERE foundation_id = #{foundationId,jdbcType=VARCHAR}
    </update>

</mapper>