<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >

    <!--基金会列表-->
    <select id="findFoundationList" resultType="com.dimeng.entity.ext.expand.FindFoundationResp"
                    parameterType="com.dimeng.model.expand.FindFoundationReq">
        SELECT foundation_id foundationId, foundation_name foundationName,
          registration_institution registrationInstitution
        FROM foundation_info

        <if test="foundationName != null and foundationName != ''">
            and foundation_info.foundation_name LIKE CONCAT
            ('%',trim(#{foundationName,jdbcType=VARCHAR}),'%')
        </if>
    </select>

    <!--基金会详细信息-->
    <select id="findFoundationDetails" resultType="com.dimeng.entity.ext.expand.FindFoundationResp"
            parameterType="com.dimeng.model.expand.FindFoundationReq">
      SELECT
        foundation_id foundationId,foundation_name foundationName, registration_institution institution,
        foundation_url foundationUrl, social_credit_code socialCreditCode, certificate_url certificateUrl,
        donations_qualification_url donationsQualificationUrl, address address, office_tel officeTel,
        mail mail, logo_url logoUrl, create_time createTime, description description, remain_property remainProperty,
        bank_info bankInfo, invoice_type invoiceType, account_info accountInfo, link_name linkName,
        link_mobile linkMobile
      FROM foundation_info
        where 1=1
        <choose>
            <when test="foundationId != null and foundationId != ''">and foundation_info.foundation_id=#{foundationId,jdbcType=VARCHAR}</when>
            <otherwise>and foundation_info.foundation_id=''</otherwise>
        </choose>
    </select>


</mapper>