<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">
	 <!-- 增加交易密码错误次数 -->
	<select id="checkSettingTradePwd" parameterType="com.dimeng.model.user.NotPageUserIdReq"
		resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM
		t_user
		WHERE
		user_id = #{userId,jdbcType=VARCHAR} and trade_pwd is not null and trade_pwd!=''
	 
  </select>
</mapper>