<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >

	<!-- 侧边栏查询推荐新闻-->
	<select id="findRecNewsList"
			resultType="com.dimeng.entity.ext.expand.RecomNewsResp"
			parameterType="com.dimeng.model.expand.RecomNewsReq">
		select
		id newsId,
		info_title newsTitle
		from
			 t_site_investment_info
		 where publish_status = '1'
		 order by date_top desc
	</select>

</mapper>