<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="TBusFeesBasicSetResultMap" type="com.dimeng.entity.table.expand.TBusFeesBasicSet" >
    <result column="min_recharg" property="minRecharg" jdbcType="DECIMAL" />
    <result column="max_recharg" property="maxRecharg" jdbcType="DECIMAL" />
    <result column="min_withdraw" property="minWithdraw" jdbcType="DECIMAL" />
    <result column="max_withdraw" property="maxWithdraw" jdbcType="DECIMAL" />
    <result column="withdraw_highest" property="withdrawHighest" jdbcType="DECIMAL" />
    <result column="withdraw_rate" property="withdrawRate" jdbcType="REAL" />
    <result column="min_recharg_fees" property="minRechargFees" jdbcType="DECIMAL" />
    <result column="min_withdraw_fees" property="minWithdrawFees" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="TBusFeesBasicSet_Column_List" >
    min_recharg, max_recharg, min_recharg_fees, min_withdraw, max_withdraw, withdraw_highest, withdraw_rate, min_withdraw_fees
  </sql>
  <select id="findByIdTBusFeesBasicSet" resultMap="TBusFeesBasicSetResultMap" parameterType="com.dimeng.entity.table.expand.TBusFeesBasicSet" >
    select 
    <include refid="TBusFeesBasicSet_Column_List" />
    from t_bus_fees_basic_set
  </select>
  <delete id="deleteTBusFeesBasicSet" parameterType="com.dimeng.entity.table.expand.TBusFeesBasicSet" >
    delete from t_bus_fees_basic_set
  </delete>
  <insert id="insertTBusFeesBasicSet" parameterType="com.dimeng.entity.table.expand.TBusFeesBasicSet" >
    insert into t_bus_fees_basic_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="minRecharg != null " >
        min_recharg,
      </if>
      <if test="maxRecharg != null " >
        max_recharg,
      </if>
      <if test="minWithdraw != null " >
        min_withdraw,
      </if>
      <if test="maxWithdraw != null " >
        max_withdraw,
      </if>
      <if test="withdrawHighest != null " >
        withdraw_highest,
      </if>
      <if test="withdrawRate != null " >
        withdraw_rate,
      </if>
      <if test="minRechargFees != null">
      	min_recharg_fees,
      </if>
      <if test="minWithdrawFees != null">
      	min_withdraw_fees
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="minRecharg != null " >
        #{minRecharg,jdbcType=DECIMAL},
      </if>
      <if test="maxRecharg != null " >
        #{maxRecharg,jdbcType=DECIMAL},
      </if>
      <if test="minWithdraw != null " >
        #{minWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="maxWithdraw != null " >
        #{maxWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="withdrawHighest != null " >
        #{withdrawHighest,jdbcType=DECIMAL},
      </if>
      <if test="withdrawRate != null " >
        #{withdrawRate,jdbcType=REAL},
      </if>
      <if test="minRechargFees != null">
      	#{minRechargFees,jdbcType=DECIMAL},
      </if>
      <if test="minWithdrawFees != null">
      	#{minWithdrawFees,jdbcType=DECIMAL}
      </if>
    </trim>
  </insert>
</mapper>