<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">

	<resultMap id="FindTextInstructListResultMap" type="com.dimeng.entity.ext.expand.FindTextInstructResp">
		<id column="text_id" property="textId" />
	    <result column="text_title" property="textTitle" />
	    <result column="date_update" property="dateUpdate" />
	    <result column="operator_name" property="operatorName" />
	    <result column="text_context" property="textContext" />
	</resultMap>

	<!-- 后台-运营管理-文本说明列表 -->
	<select id="findTextInstructList" resultMap="FindTextInstructListResultMap" parameterType="com.dimeng.model.expand.TextInstructReq">
		SELECT
			tsti.text_id,tsti.text_title,tsti.text_context,DATE_FORMAT(tsti.date_update,'%Y-%m-%d %T') as date_update,tsu.user_name as operator_name
		FROM
			t_site_text_instructions tsti
		LEFT JOIN t_system_user tsu ON tsti.operator_id = tsu.user_id
		<where>
			<if test="textId != null and textId != ''">
				tsti.text_id = #{textId,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY tsti.text_id ASC
	</select>

</mapper>