<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao" >
  <resultMap id="THospitalBasicResultMap" type="com.dimeng.model.expand.HospitalBasicReq" >
    <id column="hospital_id" property="hospitalId" jdbcType="VARCHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="hospital_num" property="hospitalNum" jdbcType="VARCHAR" />
    <result column="hospital_grade" property="hospitalGrade" jdbcType="VARCHAR" />
    <result column="hospital_Type" property="hospitalType" jdbcType="VARCHAR" />
    <result column="hospital_abstract" property="hospitalAbstract" jdbcType="VARCHAR" />
    <result column="hospital_image_url" property="hospitalImageUrl" jdbcType="VARCHAR" />
    <result column="hospital_image_id" property="hospitalImageId" jdbcType="VARCHAR" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="hospital_mail" property="hospitalMail" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="office_tel" property="officeTel" jdbcType="VARCHAR" />
    <result column="hospital_url" property="hospitalUrl" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="logo_id" property="logoId" jdbcType="VARCHAR" />
    <result column="description_image_url" property="descriptionImageUrl" jdbcType="VARCHAR" />
    <result column="description_image_id" property="descriptionImageId" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="found_time" property="foundTime" jdbcType="VARCHAR" />

    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="CHAR" />
    <result column="target_amount" property="targetAmount" jdbcType="DECIMAL" />
    <result column="raised_amount" property="raisedAmount" jdbcType="DECIMAL" />
    <result column="date_raised_end" property="dateRaisedEnd" jdbcType="TIMESTAMP" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="project_status" property="projectStatus" jdbcType="CHAR" />
    <result column="cover_image_url" property="coverImageUrl" jdbcType="VARCHAR" />
    <result column="recipient_real_name" property="recipientRealName" jdbcType="VARCHAR" />
    <result column="support_times" property="supportTimes"/>
  </resultMap>

<!--查询医院的基本信息-->
  <select id="findAllHospital" resultType="com.dimeng.entity.ext.expand.FindAllHospitalResp"
          parameterType="com.dimeng.model.expand.HospitalBasicReq">
   SELECT
      hospital_id hospitalId,
      hospital_name hospitalName,
      hospital_num hospitalNum,
      hospital_grade hospitalGrade,
      hospital_type hospitalType,
      hospital_abstract hospitalAbstract,
      logo_url logoUrl,
      logo_id logoId,
      t.allTargetAmount,t.allRaisedAmount,t.allSupprotTimes
    FROM
      t_hospital_basic
      LEFT JOIN
      (SELECT
         tpi.project_creator_id proCreatorId,
         sum(target_amount) allTargetAmount,
         sum(raised_amount) allRaisedAmount,
         sum((SELECT COUNT(tos.order_id) FROM t_order_support tos
         WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id)) allSupprotTimes
         FROM t_project_info tpi GROUP BY project_creator_id) t
      ON t.proCreatorId = t_hospital_basic.hospital_id
  </select>
<!--根据ID查找医院详细信息-->
  <select id="findHospitalDetails" resultType="com.dimeng.entity.ext.expand.FindAllHospitalResp"
          parameterType="com.dimeng.model.expand.HospitalBasicReq">
    SELECT
        hospital_id hospitalId,    hospital_name hospitalName,
        hospital_num hospitalNum,    hospital_grade hospitalGrade,
        hospital_type hospitalType,    hospital_abstract hospitalAbstract,
        hospital_image_url hospitalImageUrl,    hospital_image_id hospitalImageId,
        link_name linkName,    hospital_mail hospitalMail,
        mobile_phone mobilePhone,    office_tel officeTel,
        hospital_url hospitalUrl,    province province,
        city city,    county county,    logo_url logoUrl,
        logo_id logoId,    description_image_url descriptionImageUrl,
        description_image_id descriptionImageId,    description description,
        found_time foundTime,
        t.allRaisedAmount, t.allSupprotTimes, t.allTargetAmount,
        IFNULL(LEFT(((allRaisedAmount / allTargetAmount)) ,4), 0.00 ) rate
    FROM t_hospital_basic
    LEFT JOIN
      (SELECT
      tpi.project_creator_id proCreatorId,
      sum(target_amount) allTargetAmount,
      sum(raised_amount) allRaisedAmount,
      sum((SELECT COUNT(tos.order_id) FROM t_order_support tos
      WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id)) allSupprotTimes
      FROM t_project_info tpi GROUP BY project_creator_id) t
    ON t.proCreatorId = t_hospital_basic.hospital_id
    where 1=1
    <choose>
      <when test="hospitalId != null and hospitalId != ''">and t_hospital_basic.hospital_id=#{hospitalId,jdbcType=VARCHAR}</when>
      <otherwise>and t_hospital_basic.hospital_id=''</otherwise>
    </choose>
  </select>

  <!--根据医院查找项目-->
  <select id="findHospitalProject" resultType="com.dimeng.entity.ext.expand.FindAllHospitalResp"
          parameterType="com.dimeng.model.expand.HospitalBasicReq">
      SELECT
      thb.hospital_id hospitalId, thb.hospital_name hospitalName,
      (
      SELECT COUNT(tos.order_id) FROM t_order_support tos
      WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id
      ) supportTimes,
      tpi.project_id projectId,
      tpi.project_name projectName,
      floor(tpi.target_amount) targetAmount,
      tpi.project_type,
      floor(tpi.raised_amount) raisedAmount,
      datediff(tpi.date_raised_end, now()) remainingDay,
      tpv.foundation_name foundationName,
      tpi.project_status projectStatus,
      tpi.cover_image_url coverImageUrl,
      tpi.date_create dateCreate,
      IFNULL(LEFT(((tpi.raised_amount / tpi.target_amount)) ,4), 0.00 ) rate,
      (SELECT tpv.recipient_real_name from t_project_validation tpv WHERE tpv.project_id = tpi.project_id) recipientRealName
    FROM t_project_info tpi
    INNER JOIN t_project_info on tpi.project_status = '1'
    LEFT JOIN t_hospital_basic thb ON tpi.project_creator_id = thb.hospital_id
    LEFT JOIN t_project_validation tpv ON tpv.project_id = tpi.project_id;
    WHERE 1=1
    <choose>
      <when test="hospitalId != null and hospitalId != ''">and thb.hospital_id=#{hospitalId,jdbcType=VARCHAR}</when>
      <otherwise>and thb.hospital_id=''</otherwise>
    </choose>
    ORDER BY tpi.date_update DESC
  </select>

  <!--项目进度-->
  <select id="findHosProjectSum" resultType="com.dimeng.entity.ext.expand.FindAllHospitalResp"
          parameterType="com.dimeng.model.expand.HospitalBasicReq">
   SELECT
      thb.hospital_id hospitalId, thb.hospital_name hospitalName,
      (
      SELECT COUNT(tos.order_id) FROM t_order_support tos
      WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id
      ) supportTimes,
      tpi.project_id projectId,
      tpi.project_name projectName,
      floor(tpi.target_amount) targetAmount,
      tpi.project_type,
      floor(tpi.raised_amount) raisedAmount,
      datediff(tpi.date_raised_end, now()) remainingDay,
      tpv.foundation_name foundationName,
      tpi.project_status projectStatus,
      tpi.date_create dateCreate,
      IFNULL(LEFT(((tpi.raised_amount / tpi.target_amount)) ,4), 0.00 ) rate,
      (SELECT tpv.recipient_real_name from t_project_validation tpv WHERE tpv.project_id = tpi.project_id) recipientRealName
    FROM t_project_info tpi
    INNER JOIN t_project_info on tpi.project_status = '1'
    LEFT JOIN t_hospital_basic thb ON tpi.project_creator_id = thb.hospital_id
    LEFT JOIN t_project_validation tpv ON tpv.project_id = tpi.project_id;
    WHERE 1=1
      <choose>
          <when test="hospitalId != null and hospitalId != ''">and thb.hospital_id=#{hospitalId,jdbcType=VARCHAR}</when>
          <otherwise>and thb.hospital_id=''</otherwise>
      </choose>
    ORDER BY tpi.date_update DESC
  </select>

</mapper>


<!--
where 1=1
<choose>
<when test="hospitalId != null and hospitalId != ''">and thb.hospital_id=#{hospitalId,jdbcType=VARCHAR}</when>
<otherwise>and thb.hospital_id=''</otherwise>
</choose>
-->
