<div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-l-shadow" action="action:toStart[1]">
		<div class="line-h-60 donate_bg" style="width: .5rem;"></div>
		<div class="ub line-h-60 width80">
			<div class=" mg-l-20 mg-r-20 donate_img lwidth3"></div>
			<div class="width70 donate_color fn-s-15">个人求助</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<!--<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-l-shadow" action="action:toStart[2]">-->
		<!--<div class="line-h-60 reward_bg" style="width: .5rem;"></div>-->
		<!--<div class="ub line-h-60 width80">-->
			<!--<div class=" mg-l-20 mg-r-20 reward_img lwidth3"></div>-->
			<!--<div class="width70 reward_color fn-s-15">紧急项目</div>-->
		<!--</div>-->
		<!--<div class="into_img" style="width: 3rem;"></div>-->
	<!--</div>-->
	<!--<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-l-shadow" action="action:toStart[3]">-->
		<!--<div class="line-h-60 dream_bg" style="width: .5rem;"></div>-->
		<!--<div class="ub line-h-60 width80">-->
			<!--<div class=" mg-l-20 mg-r-20 dream_img lwidth3"></div>-->
			<!--<div class="width70 dream_color fn-s-15">实现梦想</div>-->
		<!--</div>-->
		<!--<div class="into_img" style="width: 3rem;"></div>-->
	<!--</div>-->
	<div class="mg-l-1 lmg-r-1 lmg-t-18 fn-s-12 line-h-20">
		<div class="ub fn-s-15 lblack">发起须知
			<div class="ub ub-pe ub-f1 fn-s-12 fn-c-blue">
				<span action="action:explain" class="dsb bd-red bd-radius">&nbsp;&nbsp;筹款攻略&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="mg-t-10"><%=startExp.textContext%></div>
	</div>
	<div class="hei-50"></div>
</div>