<div class="fn-s-12">
	<div class="donate_top_bgc tx-ac line-h-50 fn-s-13E t-wh ">
		<div class="donate_top"></div>
		平台公益项目属于个人救助，不违反慈善法。
	</div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-all-shadow" action="start/start/toStart/1-1">
		<div class="ub width80 hei-60">
			<div class="width25 donate_illness bd-rl-donate"></div>
			<div class="ub ub-ac width70 mg-l-20">
				<div class="line-h-20">
					<div class="lblack fn-s-15">大病救助</div>
					<div>点滴温暖，救治大病患者</div>
				</div>
			</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-all-shadow" action="start/start/toStart/1-2">
		<div class="ub hei-60 width80">
			<div class="width25 donate_bale bd-rl-donate"></div>
			<div class="ub ub-ac width70 mg-l-20">
				<div class="line-h-20">
					<div class="lblack fn-s-15">灾难救助</div>
					<div>八方支援，抵抗天灾人祸</div>
				</div>
			</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-all-shadow" action="start/start/toStart/1-3">
		<div class="ub hei-60 width80">
			<div class="width25 donate_animal bd-rl-donate"></div>
			<div class="ub ub-ac width70 mg-l-20">
				<div class="line-h-20">
					<div class="lblack fn-s-15">动物保护</div>
					<div>传递爱心，拯救人类伙伴</div>
				</div>
			</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-all-shadow" action="start/start/toStart/1-4">
		<div class="ub hei-60 width80">
			<div class="width25 donate_helpStu bd-rl-donate"></div>
			<div class="ub ub-ac width70 mg-l-20">
				<div class="line-h-20">
					<div class="lblack fn-s-15">扶贫助学</div>
					<div>伸出双手，支援偏远贫穷</div>
				</div>
			</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<div class="ub mg-l-1 lmg-r-1 lmg-t-18 b-all-shadow" action="start/start/toStart/1-5">
		<div class="ub hei-60 width80">
			<div class="width25 donate_other bd-rl-donate"></div>
			<div class="ub ub-ac width70 mg-l-20">
				<div class="line-h-20">
					<div class="lblack fn-s-15">其他</div>
					<div>其他特殊爱心救助</div>
				</div>
			</div>
		</div>
		<div class="into_img" style="width: 3rem;"></div>
	</div>
	<div class="hei-50"></div>
</div>