<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 后台-业务管理-审核管理：项目验证审核、项目动态审核、评论审核、举报审核 -->
<mapper namespace="com.dimeng.framework.mybatis.dao">
	<!-- 项目验证审核列表 -->
	<resultMap type="com.dimeng.entity.ext.bus.FindProjectAuditListResp"
		id="FindProjectAuditListRespResultMap">
		<result column="validation_id" property="id" />
		<result column="project_id" property="projectId" />
		<result column="project_no" property="projectNo" />
		<result column="project_name" property="projectName" />
		<result column="user_name" property="originator" />
		<result column="nick_name" property="nickName" />
		<result column="project_type" property="projectType" />
		<result column="project_status" property="projectStatus" />
		<result column="validation_type" property="validationType" />
		<result column="date_update" property="submitTime" />
		<result column="audit_status" property="auditStatus" />
		<result column="auditor" property="auditor" />
		<result column="date_aduit" property="auditTime" />
	</resultMap>

	<!-- 项目动态列表：后台审核列表和前台共用 -->
	<resultMap type="com.dimeng.entity.ext.bus.FindDynamicsListResp"
		id="FindDynamicsListRespResultMap">
		<result column="dynamic_id" property="id" />
		<result column="creator" property="userName" />
		<result column="nick_name" property="nickName" />
		<result column="project_id" property="projectId" />
		<result column="project_no" property="projectNo" />
		<result column="project_name" property="projectName" />
		<result column="dynamic_info" property="content" />
		<result column="date_create" property="time" />
	</resultMap>


	<!-- 项目评论列表：后台审核列表和前台共用 -->
	<resultMap type="com.dimeng.entity.ext.bus.FindCommentListResp"
		id="FindCommentListRespResultMap">
		<result column="order_id" property="orderId" />
		<result column="user_name" property="userName" />
		<result column="project_name" property="projectName" />
		<result column="count" property="count" />
		<result column="date_comment" property="dateNewst" />
		<result column="image_url" property="headPicUrl" />
		<result column="date_pay" property="datePay" />
		<result column="comment_content" property="commentContent" />
	</resultMap>

	<!-- 评论详情实体（前后台公用） -->
	<resultMap type="com.dimeng.entity.ext.bus.FindCommentDetailListResp"
		id="FindCommentDetailListRespResultMap">
		<result column="comment_id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="reply_user_name" property="replyUserName" />
		<result column="nick_name" property="nickName" />
		<result column="reply_nick_name" property="replyNickName" />
		<result column="comment_content" property="content" />
		<result column="date_comment" property="time" />
		<result column="support_amount" property="supportAmount" />
		<result column="reply_user_id" property="replyUserId" />
	</resultMap>


	<!-- 审核管理-查询举报列表 -->
	<resultMap type="com.dimeng.entity.ext.bus.FindInformantListResp"
		id="FindInformantListRespResultMap">
		<result column="project_id" property="id" />
		<result column="project_no" property="projectNo" />
		<result column="project_name" property="projectName" />
		<result column="user_name" property="originator" />
		<result column="nick_name" property="nickName" />
		<result column="project_type" property="projectType" />
		<result column="raised_amount" property="fundraisedAmt" />
		<result column="project_status" property="projectStatus" />
		<result column="total_count" property="totalCount" />
		<result column="current_count" property="currentCount" />
		<result column="time" property="time" />
	</resultMap>
	
	<!--审核管理-查询举报详情列表 -->
	<resultMap type="com.dimeng.entity.ext.bus.FindInformantDetailListResp"
		id="FindInformantDetailListRespResultMap">
		<result column="report_id" property="id" />
		<result column="user_name" property="complainant" />
		<result column="nick_name" property="nickname" />
		<result column="report_name" property="name" />
		<result column="report_phone" property="contact" />
		<result column="report_reason" property="reason" />
		<result column="date_report" property="time" />
	</resultMap>
	
	<!-- 验证审核记录 -->
	<resultMap type="com.dimeng.entity.ext.bus.AuthenticatedRecordResp"
		id="AuthenticatedRecordRespResultMap">
		<result column="aduit_id" property="id" />
		<result column="validation_id" property="authorId" />
		<result column="date_aduit" property="dateCheck" />
		<result column="user_name" property="author" />
		<result column="aduit_result" property="status" />
		<result column="aduit_option" property="opinion" />
		<result column="date_format" property="dateFormat" />
	</resultMap>
	
	<!-- 后台-业务管理-审核管理-项目验证审核-列表 -->
	<select id="findProjectAuditList" resultMap="FindProjectAuditListRespResultMap"
		parameterType="com.dimeng.model.bus.FindProjectAuditListReq">
		select tpv.validation_id,tpi.project_id,
		tpi.project_no,tpi.project_name,tu.user_name,tqub.nick_name,
		tpi.project_type,tpv.validation_type,
		tpi.project_status,DATE_FORMAT(tpv.date_update,'%Y-%m-%d %T') date_update,
		DATE_FORMAT(tpv.date_aduit,'%Y-%m-%d %T')
		date_aduit,tpv.audit_status,tsu.user_name
		as auditor
		from
		t_project_info tpi INNER JOIN t_user tu on
		tpi.project_creator_id=tu.user_id
		INNER JOIN t_q_user_basic tqub ON
		tu.user_id=tqub.user_id INNER JOIN
		t_project_validation tpv ON
		tpi.project_id=tpv.project_id left JOIN
		t_system_user tsu on
		tpv.aduit_user_id=tsu.user_id
		where 1=1
		<if test="projectNo != null and projectNo != ''">
			and tpi.project_no LIKE CONCAT('%',trim(#{projectNo,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectName != null and projectName != ''">
			and tpi.project_name LIKE CONCAT
			('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="originator != null and originator != ''">
			and tu.user_name LIKE CONCAT
			('%',trim(#{originator,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nickName != null and nickName != ''">
			and tqub.nick_name LIKE CONCAT
			('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectType != null and projectType != ''">
			<choose>
				<when test="projectType == 0">and tpi.project_type in ('1','2','3','4','5')</when>
				<when test="projectType == 6">and tpi.project_type='6'</when>
				<when test="projectType == 7">and tpi.project_type='7'</when>
			</choose>

		</if>
		<if test="projectStatus != null and projectStatus != ''">
			and tpi.project_status=#{projectStatus,jdbcType=VARCHAR}
		</if>
		<if test="validationType != null and validationType != ''">
			and tpv.validation_type = #{validationType,jdbcType=VARCHAR}
		</if>
		<if test="auditStatus != null and auditStatus != ''">
			and tpv.audit_status=#{auditStatus,jdbcType=VARCHAR}
		</if>

		<if test="startSubmitTime != null and startSubmitTime != ''">
			and DATE_FORMAT(tpv.date_update,'%Y%m%d') &gt;=
			DATE_FORMAT(#{startSubmitTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endSubmitTime != null and endSubmitTime != ''">
			and DATE_FORMAT(tpv.date_update,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endSubmitTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>

		<if test="startAuditTime != null and startAuditTime != ''">
			and DATE_FORMAT(tpv.date_update,'%Y%m%d') &gt;=
			DATE_FORMAT(#{startAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endAuditTime != null and endAuditTime != ''">
			and DATE_FORMAT(tpv.date_update,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endAuditTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY tpv.audit_status  ASC,tpv.date_update DESC
	</select>

	<!-- 项目动态列表：后台审核列表 -->
	<select id="findDynamicsList" resultMap="FindDynamicsListRespResultMap"
		parameterType="com.dimeng.model.bus.FindDynamicsListReq">
		select
		tpd.dynamic_id,tu.user_name creator,tqu.nick_name,tpd.project_id,tpi.project_no,tpi.project_name,tpd.dynamic_info,DATE_FORMAT(tpd.date_create,'%Y-%m-%d %T') date_create
		from t_project_dynamic tpd INNER JOIN t_project_info tpi ON tpd.project_id=tpi.project_id LEFT JOIN t_user tu ON tpd.creator=tu.user_id LEFT JOIN t_q_user_basic tqu ON tqu.user_id=tu.user_id
		where tpd.dynamic_type in ('3','6')
		<if test="userName != null and userName != ''">
			and tu.user_name LIKE CONCAT
			('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectName != null and projectName != ''">
			and tpi.project_name LIKE CONCAT
			('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>

		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(tpd.date_create,'%Y%m%d') &gt;=
			DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(tpd.date_create,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY tpd.date_create DESC
	</select>

	<!-- 项目评论列表：后台审核列表 -->
	<select id="findCommentList" resultMap="FindCommentListRespResultMap"
		parameterType="com.dimeng.model.bus.FindCommentListReq">
		select
		tos.order_id,tu.user_name,tpi.project_name,tqub.image_url,DATE_FORMAT(tos.date_pay
		,'%Y-%m-%d %T') date_pay,
		(SELECT count(*)
		from
		t_q_bus_project_comment where
		order_id=tos.order_id and support_amount is null) count,
		DATE_FORMAT(tqbpc.date_comment,'%Y-%m-%d %T') date_comment,
		tqbpc.comment_content
		from
		t_order_support tos INNER JOIN
		t_project_info tpi ON
		tos.project_id=tpi.project_id INNER JOIN t_user
		tu on
		tos.user_id=tu.user_id INNER JOIN t_q_user_basic tqub ON
		tu.user_id=tqub.user_id INNER JOIN t_q_bus_project_comment tqbpc ON tos.order_id=tqbpc.order_id
		where tos.`status` NOT IN(1,2)
				AND  IFNULL(tos.refund_type,0) IN(0,1,2) and tqbpc.support_amount is not null

		<if test="userName != null and userName != ''">
			and tu.user_name LIKE CONCAT
			('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectName != null and projectName != ''">
			and tpi.project_name LIKE CONCAT
			('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>
		
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(tqbpc.date_comment,'%Y%m%d') &gt;=
			DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(tqbpc.date_comment,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY tqbpc.date_comment DESC
	</select>

		<!-- 评论详情列表（前后台公用） -->
	<select id="findCommentDetailList" resultMap="FindCommentDetailListRespResultMap"
		parameterType="com.dimeng.model.common.IdReq">
		select tqbpc.comment_id,tu_s.user_id,tu_s.user_name,tu_r.user_name
		reply_user_name,tqub_s.nick_name,tqub_r.nick_name
		reply_nick_name,tqbpc.comment_content, DATE_FORMAT(tqbpc.date_comment
		,'%Y-%m-%d %T') date_comment, tqbpc.support_amount,tqbpc.reply_id reply_user_id
		from
		t_q_bus_project_comment tqbpc INNER
		JOIN t_user tu_s on
		tqbpc.user_id=tu_s.user_id INNER JOIN
		t_q_user_basic tqub_s ON
		tu_s.user_id=tqub_s.user_id
		LEFT JOIN t_user
		tu_r ON
		tqbpc.reply_id=tu_r.user_id LEFT JOIN t_q_user_basic tqub_r ON
		tu_r.user_id=tqub_r.user_id
		where tqbpc.order_id=#{id,jdbcType=VARCHAR}
		ORDER BY tqbpc.date_comment ASC
	</select>

	<!-- 删除评论 -->
	<delete id="deleteComment" parameterType="com.dimeng.model.bus.DeleteCommentReq">
		delete from t_q_bus_project_comment
		where
		<if test="id != null and id != ''">
			 comment_id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="orderId != null and orderId != ''">
			 order_id = #{orderId,jdbcType=VARCHAR}
		</if>
	</delete>

	<!-- 审核管理-查询举报列表 -->
	<select id="findInformantList" resultMap="FindInformantListRespResultMap"
		parameterType="com.dimeng.model.bus.FindInformantListReq">
		select * from (select
		tpi.project_id,tpi.project_no,tpi.project_name,tu.user_name,tqub.nick_name,tpi.project_type,
		tpi.raised_amount,tpi.project_status,(select count(*) from
		t_project_report where project_id=tpi.project_id) total_count,
		(select count(*) from t_project_report where project_id=tpi.project_id and
		date_report &gt;=DATE_ADD(NOW(),INTERVAL -7 DAY) and date_report &lt;=NOW())
		current_count,
		 DATE_FORMAT((select max(date_report) from t_project_report where
		project_id=tpi.project_id),'%Y-%m-%d %T') time
		from t_project_info tpi
		INNER JOIN t_user tu on tpi.project_creator_id=tu.user_id INNER JOIN
		t_q_user_basic tqub ON tu.user_id=tqub.user_id
		) t
		where 1=1
		<if test="projectNo != null and projectNo != ''">
			and t.project_no LIKE CONCAT('%',trim(#{projectNo,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectName != null and projectName != ''">
			and t.project_name LIKE CONCAT
			('%',trim(#{projectName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="originator != null and originator != ''">
			and t.user_name LIKE CONCAT
			('%',trim(#{originator,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nickName != null and nickName != ''">
			and t.nick_name LIKE CONCAT
			('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="userName != null and userName != ''">
			and t.project_type LIKE CONCAT
			('%',trim(#{userName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="projectStatus != null and projectStatus != ''">
			and t.project_status =#{projectStatus,jdbcType=VARCHAR}
		</if>
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(t.time,'%Y%m%d') &gt;=
			DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(t.time,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="projectType != null and projectType != '' and projectType == 0">
			and t.project_type in ('1','2','3','4','5')
		</if>
		<if test="projectType != null and projectType != '' and projectType != 0">
			and t.project_type = #{projectType,jdbcType=VARCHAR}
		</if>
		order by
		<choose>
			<when test="sortKey!=null and sortKey!=''">
				 ${sortKey} 
			</when>
			<otherwise>
				current_count 
			</otherwise>
		</choose>
		<choose>
			<when test="sortValue!=null and sortValue!=''">
				${sortValue},
			</when>
			<otherwise>
				desc,
			</otherwise>
		</choose>
		
		<choose>
			<when test="sortKey!=null and sortKey=='current_count'">
				 total_count desc
			</when>
			<otherwise>
				 current_count desc
			</otherwise>
		</choose>
	</select>
	
	<select id="FindInformantDetailList" resultMap="FindInformantDetailListRespResultMap"
		parameterType="com.dimeng.model.bus.FindInformantDetailListReq">
		select tpr.report_id,tu.user_name,tqub.nick_name,tpr.report_name,tpr.report_phone,tpr.report_reason, DATE_FORMAT(tpr.date_report,'%Y-%m-%d %T') date_report
		from t_project_report tpr INNER JOIN t_user tu ON tpr.report_user_id=tu.user_id INNER JOIN t_q_user_basic tqub ON tu.user_id=tqub.user_id
		where 1=1
		<if test="id != null and id != ''">
			and tpr.project_id =#{id,jdbcType=VARCHAR}
		</if>
		<if test="complainant != null and complainant != ''">
			and tu.user_name LIKE CONCAT
			('%',trim(#{complainant,jdbcType=VARCHAR}),'%')
		</if>
		<if test="nickName != null and nickName != ''">
			and tqub.nick_name LIKE CONCAT
			('%',trim(#{nickName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="name != null and name != ''">
			and tpr.report_name LIKE CONCAT
			('%',trim(#{name,jdbcType=VARCHAR}),'%')
		</if>
		<if test="contact != null and contact != ''">
			and tpr.report_phone LIKE CONCAT
			('%',trim(#{contact,jdbcType=VARCHAR}),'%')
		</if>
		
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(tpr.date_report,'%Y%m%d') &gt;=
			DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(tpr.date_report,'%Y%m%d') &lt;=
			DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y%m%d')
		</if>
		ORDER BY tpr.date_report DESC
	</select>
	
		<!-- 后台-业务管理-审核管理-项目验证审核-验证详情-审核记录列表 -->
	<select id="authenticatedRecord" resultMap="AuthenticatedRecordRespResultMap"
	parameterType="com.dimeng.model.bus.FindAuthenRecordReq">
		select
		tpar.aduit_id,tpar.validation_id,DATE_FORMAT(tpar.date_aduit,'%Y-%m-%d %T') date_aduit,DATE_FORMAT(tpar.date_aduit,'%m月%d日') date_format,tsu.user_name,tpar.aduit_result,tpar.aduit_option
		from t_project_aduit_record tpar INNER JOIN t_system_user tsu ON
		tpar.aduit_user_id=tsu.user_id
		WHERE tpar.validation_id=#{id,jdbcType=VARCHAR}
		ORDER BY tpar.date_aduit DESC
	</select>

</mapper>