<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">

	<resultMap id="findMyProjectListResultMap" type="com.dimeng.entity.ext.bus.FindProjectBaseResp" >
		<id column="project_id" property="projectId" />
		<result column="project_name" property="title" />
		<result column="target_amount" property="facTarget" />
		<result column="raised_amount" property="supportAmt" />
		<result column="supprot_times" property="supportTimes" />
		<result column="remaining_day" property="remainingDay" />
		<result column="project_status" property="projectStatus" />
		<result column="cover_image_url" property="coverImgUrl" />
		<result column="failure_reason" property="failReason" />
		<result column="favorite_id" property="favoriteId" />
		<result column="project_type" property="projectType" />
	</resultMap>

	<!-- 查询项目 -->
	<select id="findByIdQProjectForUpdate" resultMap="TProjectInfoResultMap" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
		SELECT 
	    <include refid="TProjectInfo_Column_List" />
	    FROM t_project_info
	    WHERE project_id = #{projectId,jdbcType=VARCHAR} FOR UPDATE 
	</select>
	
	<!-- 查询项目是否存在-->
	<select id="findQProjectCount" resultType="java.lang.Integer" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
		SELECT 
		COUNT(1)
		FROM t_project_info
		WHERE project_id = #{projectId,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询项目是否已验证-->
	<select id="findQProjectValidStatus" resultType="java.lang.String" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
		SELECT audit_status FROM t_project_validation
		WHERE project_id = #{projectId,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询项目是否已全部发货完毕-->
	<select id="findQProjectNotSendCount" resultType="java.lang.Integer" parameterType="com.dimeng.entity.table.project.TProjectInfo" >
		SELECT count(1) FROM t_order_support WHERE project_id=#{projectId,jdbcType=VARCHAR} AND `status`='4'
	</select>
	
	<!-- 查询项目回报信息 -->
	<select id="findTProjectReturnList" resultMap="TProjectReturnResultMap" parameterType="com.dimeng.model.bus.ProjectReturnReq">
		SELECT
		<include refid="TProjectReturn_Column_List" />
		FROM t_project_return
		WHERE 1=1
		<if test="projectId != null and projectId != ''">
			AND project_id = #{projectId,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- 项目提前结束-更新待支付订单为已取消 -->
	<update id="updateOrderToFail" parameterType="com.dimeng.entity.table.order.TOrderSupport">
		UPDATE t_order_support
		SET `status`='2'
		WHERE `status`=1 AND project_id = #{projectId,jdbcType=VARCHAR}
	</update>
	
	<!-- 项目众筹成功-更新成功订单为待发货 -->
	<update id="updateOrderToBeShipped" parameterType="com.dimeng.entity.table.order.TOrderSupport">
		UPDATE t_order_support
		SET `status`= 4  
		WHERE `status`=3 AND project_id = #{projectId,jdbcType=VARCHAR}
	</update>
	
	<!-- 项目众筹失败-更新成功订单为待退款 -->
	<update id="updateOrderToRefund" parameterType="com.dimeng.entity.table.order.TOrderSupport">
		UPDATE t_order_support
		SET `status`=7 ,refund_type = #{refundType},date_refund = now(),refund_no = #{refundNo}
		WHERE `status`=3 AND project_id = #{projectId,jdbcType=VARCHAR}
	</update>
	 
	<!-- 前台-查询我发起的项目列表 -->
	<select id="findMyInitProjectList" resultMap="findMyProjectListResultMap" parameterType="com.dimeng.model.bus.FindProjectBaseReq" >
		SELECT
			(
				SELECT COUNT(tos.order_id) FROM t_order_support tos 
				WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id
			) supprot_times,
			tpi.project_id,
			tpi.project_name,
			floor(tpi.target_amount) target_amount,
			tpi.project_type,
			floor(tpi.raised_amount) raised_amount,
			datediff(tpi.date_raised_end, now()) remaining_day,
			tpi.project_status,
			tpi.cover_image_url,
			tpi.failure_reason
		FROM t_project_info tpi
		WHERE tpi.project_creator_id = #{userId,jdbcType=VARCHAR} AND tpi.project_status!='4'
		<if test="projectStatus != null and projectStatus != ''">
			AND tpi.project_status = #{projectStatus,jdbcType=VARCHAR}
		</if>
		ORDER BY tpi.date_update DESC
	</select>
	
	<!-- 前台-查询我关注的项目列表 -->
	<select id="findMyCollectionList" resultMap="findMyProjectListResultMap" parameterType="com.dimeng.model.bus.FindCollectionListReq" >
		SELECT
			(
				SELECT COUNT(tos.order_id) FROM t_order_support tos
				WHERE tos.`status` not in ('1','2') AND IFNULL(tos.refund_type,0) in ('0','1','2') AND tos.project_id = tpi.project_id
			) supprot_times,
			tpi.project_id,
			tpi.project_name,
			floor(tpi.target_amount) target_amount,
			floor(tpi.raised_amount) raised_amount,
			datediff(tpi.date_raised_end, now()) remaining_day,
			tpi.project_status,
			tpi.cover_image_url,
			tpi.failure_reason,
			tpf.favorite_id
		FROM
			t_project_favorites tpf
		LEFT JOIN t_project_info tpi ON tpf.project_id = tpi.project_id
		WHERE tpf.type = '1' AND tpf.user_id = #{userId,jdbcType=VARCHAR} AND tpi.project_status!='4'
	</select>
	
	<!-- 是否关注了项目 -->
	<select id="findProFavoriteCount" resultType="java.lang.Integer" parameterType="com.dimeng.entity.table.expand.TProjectFavorites" >
		SELECT IFNULL(count(1),0) FROM t_project_favorites
		WHERE project_id = #{projectId,jdbcType=VARCHAR} AND user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<!-- 取消关注项目 -->
	<delete id="deleteProjectFavorite" parameterType="com.dimeng.entity.table.expand.TProjectFavorites" >
		DELETE FROM t_project_favorites
		WHERE project_id = #{projectId,jdbcType=VARCHAR} AND user_id = #{userId,jdbcType=VARCHAR}
	</delete>

	<!-- 查询项目状态 -->
	<select id="findProjectStatus" resultType="java.lang.String" parameterType="com.dimeng.model.common.IdReq" >
		SELECT 
	    project_status
	    FROM t_project_info
	    WHERE project_id = #{id,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询项目标题 -->
	<select id="findProjectTitle" resultType="java.lang.String" parameterType="com.dimeng.model.common.IdReq" >
		SELECT 
	    project_name
	    FROM t_project_info
	    WHERE project_id = #{id,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询项目存在基本信息 -->
	<select id="findExsitProjectInfo" resultMap="TProjectInfoResultMap" parameterType="com.dimeng.model.common.IdReq" >
		SELECT 
	    project_creator_id,project_status,project_type,raised_amount
	    FROM t_project_info
	    WHERE project_id = #{id,jdbcType=VARCHAR} limit 1
	</select>
</mapper>