<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimeng.framework.mybatis.dao">

    <!-- 项目列表 -->
    <resultMap type="com.dimeng.entity.ext.bus.FindQscProjectListResp"
               id="FindProjectListRespResultMap">
        <result column="project_id" property="projectId"/>
        <result column="project_no" property="projectNo"/>
        <result column="project_name" property="title"/>
        <result column="user_name" property="initiator"/>
        <result column="nick_name" property="initiatorNickName"/>
        <result column="project_type" property="type"/>
        <result column="project_status" property="projectStatus"/>
        <result column="target_amount" property="facTarget"/>
        <result column="raised_amount" property="supportAmt"/>
        <result column="financing_days" property="timeLimit"/>
        <result column="support_number" property="supportNumber"/>
        <result column="remaining_day" property="remainingDay"/>
        <result column="factInvest_days" property="factInvestDays"/>
        <result column="operator" property="author"/>
        <result column="date_create" property="beginTime"/>
        <result column="date_success" property="successTime"/>
        <result column="date_project_failure" property="failTime"/>
        <result column="date_project_delete" property="delTime"/>
        <result column="recommendStatus" property="recommendStatus"/>
        <!-- 推荐项目需要，项目推荐id -->
        <result column="recommendId" property="recommendId"/>
        <result column="shield_status" property="shieldStatus"/>
        <result column="real_name" property="initiatorRealName"/>
        <result column="hospital_name" property="hospitalName"/>
        <result column="hospital_id" property="hospitalId"/>
        <result column="foundation_name" property="foundationName"/>
    </resultMap>

    <!-- 项目详细信息 -->
    <resultMap type="com.dimeng.entity.ext.bus.ProjectDetailsResp"
               id="ProjectDetailsRespResultMap">
        <result column="project_id" property="id"/>
        <result column="project_name" property="title"/>
        <result column="user_name" property="initiator"/>
        <result column="nick_name" property="initiatorNickName"/>
        <result column="image_url" property="initiatorImgUrl"/>
        <result column="cover_image_url" property="coverImgUrl"/>
        <result column="support_times" property="supportTimes"/>
        <result column="remaining_day" property="remainingDay"/>
        <result column="date_create" property="dateCreate"/>
        <result column="project_status" property="projectStatus"/>
        <result column="project_label" property="label"/>
        <result column="project_type" property="type"/>
        <result column="target_amount" property="facTarget"/>
        <result column="raised_amount" property="supportAmt"/>
        <result column="project_details" property="content"/>
        <result column="freight_describe" property="freight"/>
        <result column="deliver_describe" property="postTimeText"/>
        <result column="qr_code_addr" property="qrcodeImg"/>
        <result column="validation_type" property="validationType"/>
        <result column="audit_status" property="validationStatus"/>
        <result column="financing_days" property="timeLimit"/>
        <result column="is_nedd_addr" property="isNeddAddr"/>
        <result column="project_intro" property="projectIntro"/>
        <result column="dynamic_count" property="dynamicCount"/>
        <result column="is_focus" property="isFocus"/>
        <result column="cover_image_id" property="coverImageId"/>
        <result column="shield_status" property="shieldStatus"/>
        <result column="foundation_name" property="foundationName"/>

        <result column="logo_url" property="logoUrl"/>
        <result column="bank_info" property="bankInfo"/>
        <result column="account_info" property="accountInfo"/>
        <result column="social_credit_code" property="socialCreditCode"/>
        <result column="office_tel" property="officeTel"/>
        <result column="link_name" property="linkName"/>
        <result column="hospital_mail" property="hospitalMail"/>
        <result column="recipient_real_name" property="recRealName"/>
        <result column="project_record" property="projectRecord"/>
    </resultMap>

    <!-- 项目内容 -->
    <resultMap type="com.dimeng.entity.ext.bus.ProjectContentResp"
               id="ProjectContentRespResultMap">
        <result column="project_details" property="content"/>
    </resultMap>
    <!-- 项目回报列表 -->
    <resultMap type="com.dimeng.entity.ext.bus.FindProjectReturnListResp"
               id="FindProjectReturnListRespResultMap">
        <result column="return_id" property="id"/>
        <result column="support_amount" property="amount"/>
        <result column="upper_count" property="returnNum"/>
        <result column="return_describe" property="content"/>
        <result column="image_url" property="imgUrl"/>
        <result column="surplus_count" property="remainingNum"/>
        <result column="support_amount" property="targetAmount"/>
        <result column="return_describe" property="purposeText"/>
        <result column="support_count" property="supportCount"/>
        <result column="image_id" property="imgId"/>
    </resultMap>

    <!-- 项目验证列表 -->
    <resultMap type="com.dimeng.entity.ext.bus.ProjectAuthenticatedDetailResp"
               id="ProjectAuthenticatedDetailRespResultMap">
        <result column="validation_id" property="id"/>
        <result column="project_name" property="title"/>
        <result column="project_type" property="projecType"/>
        <result column="validation_type" property="type"/>
        <result column="receive_real_name" property="realName"/>
        <result column="receive_id_card2" property="idcard"/>
        <result column="receive_phone" property="phone"/>
        <result column="receive_card_image_url" property="identityPhtoUrl"/>
        <result column="recipient_real_name" property="behelpRealName"/>
        <result column="recipient_id_card" property="behelpIdcard"/>
        <result column="recipient_card_image_url" property="behelpIdentityPhtoUrl"/>
        <result column="organization_name" property="orgName"/>
        <result column="organization_phone" property="orgPhone"/>
        <result column="organization_aptitude_url" property="credentialsPhtoUrl"/>
        <result column="wedding_picture_url" property="marrCertificatePhtoUrls"/>
        <result column="disease" property="disease"/>
        <result column="support_amount" property="hospitalAddr"/>
        <result column="hospital_name" property="hospitalName"/>
        <result column="license_img_url" property="licenseImgUrl"/>
        <result column="audit_status" property="status"/>
    </resultMap>

    <!-- 项目动态列表 -->
    <resultMap type="com.dimeng.entity.ext.bus.ProjectDynamicResp"
               id="ProjectDynamicRespResultMap">
        <result column="dynamic_id" property="id"/>
        <result column="dynamic_info" property="content"/>
        <result column="date_create" property="dateCreate"/>
        <result column="nick_name" property="nickName"/>
        <result column="head_pic" property="headPic"/>
        <result column="project_name" property="projectName"/>
        <result column="cover_image_url" property="coverImgUrl"/>
        <result column="dynamic_type" property="dynamicType"/>
        <result column="support_amount" property="supportAmount"/>
        <result column="order_no" property="orderNo"/>
        <result column="target_amount" property="targetAmount"/>
        <result column="project_id" property="projectId"/>
        <collection property="imgsUrl" column="dynamic_id" select="getProjectDynamicImgUrls"></collection>
    </resultMap>

    <!-- 后台-业务管理-项目管理-项目列表 -->
    <select id="findProjectList" resultMap="FindProjectListRespResultMap"
            parameterType="com.dimeng.model.bus.FindProjectListReq">
        select tpi.project_id,tpi.project_no,tpi.project_name,tpi.shield_status,
        tqub.nick_name,tu.user_name,
        tu.hospital_id, tu.hospital_name,
        tpv.foundation_name,
        tpi.project_type,tpi.project_status,floor(tpi.target_amount) target_amount,floor(tpi.raised_amount)
        raised_amount,
        IFNULL(LEFT(((tpi.raised_amount / tpi.target_amount)) ,4), 0.00 ) rate,
        (select count(*) support_count from t_order_support where project_id=tpi.project_id
        and status NOT IN(1,2)
        AND IFNULL(refund_type,0) IN(0,1,2)) as support_number,
        (
        case
        when tpi.date_raised_end<![CDATA[>]]>NOW()
        then datediff(tpi.date_raised_end,NOW())
        else 0
        end
        )
        as remaining_day,
        tpi.financing_days,
        (
        case tpi.project_status
        when 2 then (case when datediff(tpi.date_success,tpi.date_create)<![CDATA[>]]>0 then
        datediff(tpi.date_success,tpi.date_create) else 0 end)
        when 3 then (case when datediff(tpi.date_project_failure,tpi.date_create)<![CDATA[>]]>0 then
        datediff(tpi.date_project_failure,tpi.date_create) else 0 end)
        else tpi.financing_days
        end
        ) as factInvest_days,
        (case tpi.project_status
        when 3 then tpi.operator_failure_id
        when 4 then tpi.operator_delete_id
        end)
        as operator,
        DATE_FORMAT(tpi.date_create,'%Y-%m-%d %T') date_create, DATE_FORMAT(tpi.date_success,'%Y-%m-%d %T')
        date_success,
        DATE_FORMAT(tpi.date_project_failure,'%Y-%m-%d %T')
        date_project_failure,DATE_FORMAT(tpi.date_project_delete,'%Y-%m-%d %T') date_project_delete,
        tqub.real_name
        from t_project_info tpi INNER JOIN t_q_user_basic tqub ON
        tpi.project_creator_id=tqub.user_id INNER JOIN t_user tu on
        tqub.user_id = tu.user_id
        LEFT JOIN t_project_validation tpv ON tpv.project_id = tpi.project_id
        where 1 = 1
        <if test="projectNo != null and projectNo != ''">
            and tpi.project_no LIKE CONCAT('%',trim(#{projectNo,jdbcType=VARCHAR}),'%')
        </if>
        <if test="title != null and title != ''">
            and tpi.project_name LIKE CONCAT
            ('%',trim(#{title,jdbcType=VARCHAR}),'%')
        </if>
        <if test="initiator != null and initiator != ''">
            and tu.user_name LIKE CONCAT
            ('%',trim(#{initiator,jdbcType=VARCHAR}),'%')
        </if>
        <if test="initiatorNickName != null and initiatorNickName != ''">
            and tqub.nick_name LIKE CONCAT
            ('%',trim(#{initiatorNickName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="type != null and type != '' and type == 0">
            and tpi.project_type in ('1','2','3','4','5')
        </if>
        <if test="type != null and type != '' and type != 0">
            and tpi.project_type = #{type,jdbcType=VARCHAR}
        </if>


        <if test="projectStatus != null and projectStatus != ''">
            and tpi.project_status=#{projectStatus,jdbcType=VARCHAR}
        </if>
        <if test="beginTimeStart != null and beginTimeStart != ''">
            and DATE_FORMAT(tpi.date_create,'%Y%m%d') &gt;=
            DATE_FORMAT(#{beginTimeStart,jdbcType=VARCHAR},'%Y%m%d')
        </if>
        <if test="beginTimeEnd != null and beginTimeEnd != ''">
            and DATE_FORMAT(tpi.date_create,'%Y%m%d') &lt;=
            DATE_FORMAT(#{beginTimeEnd,jdbcType=VARCHAR},'%Y%m%d')
        </if>

        <if test="successTimeStart != null and successTimeStart != ''">
            and DATE_FORMAT(tpi.date_success,'%Y%m%d') &gt;=
            DATE_FORMAT(#{successTimeStart,jdbcType=VARCHAR},'%Y%m%d')
        </if>
        <if test="successTimeEnd != null and successTimeEnd != ''">
            and DATE_FORMAT(tpi.date_success,'%Y%m%d') &lt;=
            DATE_FORMAT(#{successTimeEnd,jdbcType=VARCHAR},'%Y%m%d')
        </if>

        <if test="failTimeStart != null and failTimeStart != ''">
            and DATE_FORMAT(tpi.date_project_failure,'%Y%m%d') &gt;=
            DATE_FORMAT(#{failTimeStart,jdbcType=VARCHAR},'%Y%m%d')
        </if>
        <if test="failTimeEnd != null and failTimeEnd != ''">
            and DATE_FORMAT(tpi.date_project_failure,'%Y%m%d') &lt;=
            DATE_FORMAT(#{failTimeEnd,jdbcType=VARCHAR},'%Y%m%d')
        </if>

        <if test="delTimeStart != null and delTimeStart != ''">
            and DATE_FORMAT(tpi.date_project_delete,'%Y%m%d') &gt;=
            DATE_FORMAT(#{delTimeStart,jdbcType=VARCHAR},'%Y%m%d')
        </if>
        <if test="delTimeEnd != null and delTimeEnd != ''">
            and DATE_FORMAT(tpi.date_project_delete,'%Y%m%d') &lt;=
            DATE_FORMAT(#{delTimeEnd,jdbcType=VARCHAR},'%Y%m%d')
        </if>
        ORDER BY tpi.project_status ASC,tpi.date_update DESC
    </select>


    <!-- 后台-业务管理-项目管理-查看项目-项目详情 -->
    <select id="projectDetails" resultMap="ProjectDetailsRespResultMap"
            parameterType="com.dimeng.model.bus.ProjectDetailsReq">
        select
        tpv.foundation_name, fi.logo_url, fi.bank_info,fi.account_info,
        fi.social_credit_code, thb.office_tel,thb.link_name,thb.hospital_mail,
        tpv.recipient_real_name,tpv.project_record,

        tpi.project_id,tpi.project_name,tqub.nick_name,t.user_name,tqub.image_url,tpi.cover_image_url,tpi.shield_status,
        (select count(*) from t_order_support where project_id=tpi.project_id
        and status NOT IN(1,2) AND IFNULL(refund_type,0) IN(0,1,2)) as support_times,tpi.cover_image_id,
        datediff(tpi.date_raised_end,NOW()) remaining_day,tpi.financing_days,tpi.is_nedd_addr,
        DATE_FORMAT(tpi.date_create,'%Y-%m-%d %T')
        date_create,tpi.project_status,tpi.project_label,tpi.project_type,floor(tpi.target_amount)
        target_amount,floor(tpi.raised_amount) raised_amount,tpi.project_details,tpi.project_intro,
        tpi.freight_describe, tpi.deliver_describe,tpi.qr_code_addr,tpv.validation_type,tpv.audit_status,
        (select count(*) from t_project_dynamic where project_id=tpi.project_id AND dynamic_type in ('3','6'))
        dynamic_count
        <if test="userId != null and userId != ''">
            ,(select count(DISTINCT user_id) from t_project_favorites where user_id = #{userId,jdbcType=VARCHAR} and
            project_id=tpi.project_id) is_focus
        </if>
        from
        t_project_info tpi INNER JOIN
        t_q_user_basic tqub ON
        tpi.project_creator_id=tqub.user_id INNER JOIN
        t_user t on
        tqub.user_id
        = t.user_id
        LEFT JOIN t_project_validation tpv   on   tpi.project_id=tpv.project_id
        LEFT JOIN foundation_info fi ON fi.foundation_name = tpv.foundation_name
        LEFT JOIN t_hospital_basic thb ON thb.user_id = tqub.user_id
        where 1=1
        <choose>
            <when test="projectId != null and projectId != ''">and tpi.project_id=#{projectId,jdbcType=VARCHAR}</when>
            <when test="projectNo != null and projectNo != ''">and tpi.project_no=#{projectNo,jdbcType=VARCHAR}</when>
            <otherwise>and tpi.project_id=''</otherwise>
        </choose>
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情-附件 -->
    <select id="getProjectAttachments" resultMap="TProjectAttachmentResultMap"
            parameterType="com.dimeng.entity.table.project.TProjectAttachment">
        select
        <include refid="TProjectAttachment_Column_List"/>
        from t_project_attachment where associated_id =
        #{associatedId,jdbcType=VARCHAR} and type =#{type,jdbcType=VARCHAR}
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情-项目动态图片 -->
    <select id="getProjectDynamicImgUrls" resultType="com.dimeng.entity.ext.bus.ProjectAttachmentResp"
            parameterType="java.util.Map">
        SELECT addr
        FROM t_project_attachment
        WHERE associated_id =
        #{associatedId,jdbcType=VARCHAR} AND type = 6
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情 -->
    <select id="getProjectContent" resultMap="ProjectContentRespResultMap"
            parameterType="com.dimeng.model.bus.ProjectDetailsReq">
        select project_details from t_project_info where 1=1
        <if test="projectId != null and projectId != ''">
            and project_id=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="projectNo != null and projectNo != ''">
            and project_no=#{projectNo,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情-回报列表 -->
    <select id="findProjectReturnList" resultMap="FindProjectReturnListRespResultMap"
            parameterType="com.dimeng.model.common.IdPageReq">
        SELECT
        return_id,
        support_amount,
        return_describe,
        upper_count,
        image_url,
        surplus_count
        FROM t_project_return
        WHERE project_id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情-->
    <select id="findProjectReturnOrDreamList" resultMap="FindProjectReturnListRespResultMap"
            parameterType="com.dimeng.model.common.IdPageReq">
        SELECT
        tpr.return_id,
        floor(tpr.support_amount)                   support_amount,
        tpr.return_describe,
        tpr.image_url,
        tpr.image_id,
        tpr.surplus_count,
        (SELECT IFNULL(SUM(support_count), 0)
        FROM t_order_support
        WHERE return_id = tpr.return_id AND status NOT IN (1, 2) AND
        IFNULL(refund_type, 0) IN (0, 1, 2)) support_count
        FROM t_project_return tpr
        WHERE tpr.project_id = #{id,jdbcType=VARCHAR}
    </select>

    <!--前台-查询项目是否存在-->
    <select id="findProjectId" parameterType="com.dimeng.entity.table.project.TProjectInfo"
                            resultType="com.dimeng.entity.table.project.TProjectInfo">
        SELECT project_id projectId
        FROM t_project_info
        WHERE project_id =#{projectId,jdbcType=VARCHAR}
    </select>

    <!-- 前台查询项目动态 -->
    <select id="getProjectDynamicList" resultMap="ProjectDynamicRespResultMap"
            parameterType="com.dimeng.model.bus.DynamicListReq">
        select distinct tpd.dynamic_id,tpd.dynamic_info, DATE_FORMAT(tpd.date_create,'%Y-%m-%d %T')
        date_create,tpi.project_name,tpi.cover_image_url
        <if test="userId!=null and userId!=''">
            ,tqub.nick_name,tqub.image_url
            head_pic,tpd.dynamic_type,tpd.support_amount,tpd.order_no,tpi.target_amount,tpd.project_id
        </if>
        from t_project_dynamic tpd INNER JOIN t_project_info tpi ON tpd.project_id=tpi.project_id
        <if test="projectId!=null and projectId!=''">
            where tpd.project_id=#{projectId,jdbcType=VARCHAR} and tpd.dynamic_type in ('3','6')
        </if>
        <if test="userId!=null and userId!=''">
            LEFT JOIN t_order_support tos ON tpd.order_no=tos.order_no LEFT JOIN t_q_user_basic tqub ON
            tqub.user_id=tpd.creator
            where (tpi.project_creator_id=#{userId,jdbcType=VARCHAR} AND tpd.dynamic_type!='2')
            OR (tos.user_id=#{userId,jdbcType=VARCHAR} AND tos.`status` IN (3,4,5,6))
            OR (tpi.project_id in (SELECT project_id FROM t_order_support WHERE user_id=#{userId,jdbcType=VARCHAR} AND
            `status` IN (3,4,5,6)) AND tpd.dynamic_type!='2')
        </if>
        ORDER BY tpd.date_create DESC
    </select>
    <select id="findByIdTProjectInfoForUpdate" resultMap="TProjectInfoResultMap"
            parameterType="com.dimeng.model.common.IdReq">
        select
        <include refid="TProjectInfo_Column_List"/>
        from t_project_info
        where project_id = #{id,jdbcType=VARCHAR} for update
    </select>


    <!-- 后台-站点管理-推荐管理-项目列表 -->
    <select id="findRecommendProList" resultMap="FindProjectListRespResultMap"
            parameterType="com.dimeng.model.bus.FindProjectListReq">
        SELECT * FROM(
        SELECT
        tpv.foundation_name,
        tpi.project_id,
        tpi.project_no,
        hp.date_opt,
        tpi.project_name,
        tpi.project_type type,
        tpi.target_amount facTarget,
        tpi.raised_amount supportAmt,
        tpi.date_create,
        (select user_name from t_user where user_id = tpi.project_creator_id ) user_name,
        (select nick_name from t_q_user_basic where user_id = tpi.project_creator_id ) nick_name,
        tpi.financing_days financingDays,
        (select COUNT(1) from t_order_support where `status` in (3,4,5,6,7,8) and refund_type != 1 AND project_id =
        tpi.project_id) support_number,
        IF(IFNULL(hp.id,'-1') &lt; 0,'未推荐','已推荐') recommendStatus,
        hp.id recommendId
        FROM
        t_project_info tpi LEFT JOIN t_site_home_project hp on tpi.project_id = hp.project_id
        LEFT JOIN t_project_validation tpv ON tpv.project_id = tpi.project_id
        where tpi.project_status = 1 and tpi.shield_status = 2
        <if test="projectNo != null and projectNo != ''">
            and tpi.project_no=#{projectNo,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            and tpi.project_name LIKE CONCAT
            ('%',trim(#{title,jdbcType=VARCHAR}),'%')
        </if>
        <if test="type != null and type != '' and type ==  0">
            and tpi.project_type in ('1','6','7')
        </if>
        <if test="type != null and type != '' and type != 0">
            and tpi.project_type = #{type,jdbcType=VARCHAR}
        </if>
        ) t WHERE 1= 1
        <if test="projectStatus != null and projectStatus != ''">
            and t.recommendStatus =#{projectStatus,jdbcType=VARCHAR}
        </if>
        <if test="initiator != null and initiator != ''">
            and t.user_name LIKE CONCAT
            ('%',trim(#{initiator,jdbcType=VARCHAR}),'%')
        </if>
        <if test="initiatorNickName != null and initiatorNickName != ''">
            and t.nick_name LIKE CONCAT
            ('%',trim(#{initiatorNickName,jdbcType=VARCHAR}),'%')
        </if>
        ORDER BY t.recommendStatus desc,t.date_create desc,t.date_opt desc
    </select>

    <!-- 后台-用户管理-个人信息-我的发起的项目列表 -->
    <!-- 项目详细信息 -->
    <resultMap type="com.dimeng.entity.ext.bus.FindInitiateProListResp"
               id="FindInitiateProListRespResultMap">
        <result column="project_id" property="proId"/>
        <result column="project_no" property="proNum"/>
        <result column="project_name" property="title"/>
        <result column="date_create" property="createTime"/>
        <result column="project_status" property="proStatus"/>
        <result column="project_type" property="type"/>
        <result column="target_amount" property="targetAmount"/>
        <result column="raised_amount" property="raisedAmount"/>
        <result column="financing_days" property="financingDays"/>
        <result column="supportNumber" property="supportNumber"/>
        <result column="project_creator_id" property="userId"/>
    </resultMap>

    <select id="findInitiateProList" resultMap="FindInitiateProListRespResultMap"
            parameterType="com.dimeng.model.bus.FindProListByUserIdReq">
        SELECT
        tpi.project_id,
        tpi.project_no,
        tpi.project_name,
        tpi.project_type,
        tpi.target_amount,
        tpi.raised_amount,
        tpi.project_status,
        tpi.financing_days,
        DATE_FORMAT(tpi.date_create,'%Y-%m-%d %T') date_create,
        tpi.project_creator_id,
        (select count(1) from t_order_support where project_id = tpi.project_id ) supportNumber
        FROM
        t_project_info tpi
        where tpi.project_creator_id = #{id}
        <if test="proNum != null and proNum != ''">
            and tpi.project_no=#{proNum,jdbcType=VARCHAR}
        </if>
        <if test="proName != null and proName != ''">
            and tpi.project_name LIKE CONCAT
            ('%',trim(#{proName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="proType != null and proType != '' and proType == 0">
            and tpi.project_type in ('1','2','3','4','5')
        </if>
        <if test="proType != null and proType != '' and proType != 0">
            and tpi.project_type = #{proType,jdbcType=VARCHAR}
        </if>
        <if test="proStatus != null and proStatus != ''">
            and tpi.project_status=#{proStatus,jdbcType=VARCHAR}
        </if>
        ORDER BY tpi.date_create DESC
    </select>

    <!-- 后台-业务管理-项目管理-查看项目-项目详情-项目动态 -->
    <select id="findDynamicsDetails" resultMap="ProjectDynamicRespResultMap"
            parameterType="com.dimeng.model.common.IdPageReq">
        SELECT
            dynamic_id,
            dynamic_info,
            DATE_FORMAT(date_create, '%Y年%m月%d日  %T') date_create
        FROM t_project_dynamic
        WHERE project_id = #{id,jdbcType=VARCHAR} AND dynamic_type IN ('3', '6')
        ORDER BY date_create DESC
    </select>

    <!-- 前台查询评论ResultMap -->
    <resultMap id="findUserCommentListResultMap" type="com.dimeng.entity.ext.bus.FindUserCommentResp">
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="cover_image_url" property="coverImageUrl"/>
        <result column="order_id" property="orderId"/>
        <result column="support_amount" property="supportAmount"/>
        <result column="date_create" property="supportTime"/>
        <result column="nick_name" property="nickName"/>
        <result column="image_url" property="imageUrl"/>
    </resultMap>

    <!-- 前台查询评论 -->
    <select id="findUserCommentList" resultMap="findUserCommentListResultMap"
            parameterType="com.dimeng.model.bus.FindUserCommentReq">
        SELECT
        <if test="userId != null and userId != ''">
            tpi.project_id,
            tpi.project_name,
            tpi.cover_image_url,
        </if>
        tos.order_id,
        tos.support_amount,
        DATE_FORMAT(tqpc.date_comment, '%Y-%m-%d %T') date_create,
        tqub.nick_name,
        tqub.image_url
        FROM
        t_order_support tos
        INNER JOIN t_q_bus_project_comment tqpc ON tos.order_id=tqpc.order_id
        LEFT JOIN t_project_info tpi ON tos.project_id = tpi.project_id
        LEFT JOIN t_q_user_basic tqub ON tos.user_id=tqub.user_id
        WHERE tos.`status` NOT IN(1,2) AND IFNULL(tos.refund_type,0) IN(0,1,2) AND tqpc.support_amount > 0
        <if test="projectId != null and projectId != ''">
            AND tos.project_id=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="userId != null and userId != ''">
            AND tos.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        ORDER BY tqpc.date_comment DESC
    </select>

    <!-- 前台查询用户是否已支持该项目 -->
    <select id="findUserSupportCount" resultType="java.lang.Integer"
            parameterType="com.dimeng.model.bus.InsertUserCommentReq">
        SELECT count(*)
        FROM t_order_support
        WHERE
            project_id = (
                SELECT project_id
                FROM t_order_support
                WHERE order_id = #{orderId,jdbcType=VARCHAR} AND `status` IN ('3', '4', '5', '6', '7', '8') AND
                      IFNULL(refund_type, 0) NOT IN ('3', '4', '5', '6')
            )
            AND user_id = #{userId,jdbcType=VARCHAR} AND `status` IN ('3', '4', '5', '6', '7', '8') AND
            IFNULL(refund_type, 0) NOT IN ('3', '4', '5', '6')
    </select>

    <!-- 评论留言详情 -->
    <select id="findByIdComment" resultMap="FindCommentDetailListRespResultMap"
            parameterType="com.dimeng.model.common.IdReq">
        SELECT
            tqbpc.comment_id,
            tu_s.user_id,
            tu_s.user_name,
            tu_r.user_name                                 reply_user_name,
            tu_r.user_id                                   reply_user_id,
            tqub_s.nick_name,
            tqub_r.nick_name                               reply_nick_name,
            tqbpc.comment_content,
            DATE_FORMAT(tqbpc.date_comment, '%Y-%m-%d %T') date_comment
        FROM
            t_q_bus_project_comment tqbpc
            INNER JOIN t_user tu_s ON tqbpc.user_id = tu_s.user_id
            INNER JOIN t_q_user_basic tqub_s ON tu_s.user_id = tqub_s.user_id
            LEFT JOIN t_user tu_r ON tqbpc.reply_id = tu_r.user_id
            LEFT JOIN t_q_user_basic tqub_r ON tu_r.user_id = tqub_r.user_id
        WHERE tqbpc.comment_id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- start定时任务-查询筹资期限当日到期的项目列表 -->
    <resultMap type="com.dimeng.entity.ext.bus.FindQscProjectListResp"
               id="findExpireProListResultMap">
        <result column="project_id" property="projectId"/>
        <result column="project_no" property="projectNo"/>
        <result column="project_name" property="title"/>
        <result column="project_creator_id" property="userId"/>
        <result column="target_amount" property="facTarget"/>
        <result column="raised_amount" property="supportAmt"/>
        <result column="pro_validate" property="proValidate"/>
        <result column="project_type" property="type"/>
        <result column="recommendStatus" property="recommendStatus"/>
    </resultMap>
    <select id="findExpireProList" resultMap="findExpireProListResultMap">
        SELECT
            tpi.project_id,
            tpi.project_name,
            tpi.project_no,
            tpi.project_type,
            tpi.target_amount,
            tpi.raised_amount,
            tpi.project_creator_id,
            IF(IFNULL(hto.id, '-1') > 0, hto.id, "N")                      recommendStatus,
            (SELECT COUNT(1)
             FROM t_project_validation va
             WHERE va.project_id = tpi.project_id AND va.audit_status = 3) pro_validate
        FROM
            t_project_info tpi LEFT JOIN t_site_home_project hto ON tpi.project_id = hto.project_id
        WHERE tpi.date_raised_end &lt; DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00')
              AND tpi.project_status = 1 FOR UPDATE
    </select>

    <!--定时任务修改项目的状态 -->
    <update id="updateProStatus" parameterType="java.util.Map">
        update t_project_info t
        set
        t.`project_status` = #{status}
        <if test="status != null and status != '' and status == 2">
            ,t.date_success = now()
        </if>
        <!--<if test="status != null and status != '' and status == 3">-->
        <!--,t.date_success = now(),t.failure_reason="项目期限到达，未达到筹资目标金额。"-->
        <!--</if>-->
        where t.project_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.projectId,jdbcType=VARCHAR}
        </foreach>
    </update>
    <!-- end -->

</mapper>