
		<div class="bshare-custom">
		   <a title="分享到" href="http://www.bshare.cn/share" id="bshare-shareto" class="bshare-more"></a>
		
		   <a title="分享到腾讯朋友" class="bshare-qqxiaoyou"></a>
		   <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
		   <a title="分享到人人网" class="bshare-renren"></a>
		   <a title="分享到开心网" class="bshare-kaixin001"></a>
		   <a title="分享到豆瓣" class="bshare-douban"></a>
		   <!-- 在这里添加更多平台 -->
		
		   <a title="更多平台" id="bshare-more-icon" class="bshare-more"></a>
		</div>



