<!-- <div id="optionMenuTip" class="ub ub-ver pt-page-moveFromRight" style="position: fixed; bottom: 0px; right: 0px; height: 585px;background: #f3f3f3;min-width: 60%;max-width:40em; z-index: 41;overflow-y:scroll"> -->

					 <div class="uinn-a22  ub c-wh list_item b_b " action="action:goHash['user/business/myTranLog']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_tranLog"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									交易记录
								</div>
							</div>
					</div>
					<div class="uinn-a22  ub c-wh list_item b_b " action="action:goHash['user/business/myBonds']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_MyBond"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									我的债权
								</div>
							</div>
					</div>
					<div class="uinn-a22  ub c-wh list_item b_b " action="action:goHash['user/business/myLoan']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_MyLoan"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									我的借款
								</div>
							</div>
					</div>
					
					<div class="uinn-a22  ub c-wh list_item b_b border_topd umar-at2" action="action:goHash['user/payment/cardManager']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_mybank"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									银行卡管理
								</div>
							</div>
					</div>
					<div class="uinn-a22  ub c-wh list_item b_b " action="action:goHash['other/message/messageList']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_message"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									站内消息
								</div>
							</div>
					</div>
					
					<div class="uinn-a22  ub c-wh list_item b_b border_topd umar-at2" action="action:goHash['user/password/setLoginPassword']">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_password"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									修改登录密码
								</div>
							</div>
					</div>
				<!-- 	<%if(!DMJS.userInfo.tg||Config.logic("tranPasswordWithDM")){%>
						<div class="uinn-a22  ub c-wh list_item b_b " action="action:setTranPassword">
								<div class="  umar-ar6 ub">
									<div class="che-icon  umhw3 img_password"></div>
									<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
										<%if(!DMJS.currentView.data.withdrawPsw){%>设置<%}else{%>修改<%}%>交易密码
									</div>
								</div>
						</div>
					<%}%> -->
					<div class="uinn-a22  ub c-wh list_item b_b " action="action:logout">
							<div class="  umar-ar6 ub">
								<div class="che-icon  umhw3 img_logout"></div>
								<div class="uinn-a7 ub ub-pc ub-ver ulev-app5">
									退出登录
								</div>
							</div>
					</div>
				
<!-- </div> -->