<div id="page_0" class="up ub ub-ver uof" tabindex="0">
    <!--header开始-->
    <div id="header" class="uh t-wh ub c-red ub-ver">
        <div class="uh t-wh ub c-red">
            <div id="header_left" class="umw4 ub ub-ac uinn-al1 fn-s-15"  >
                <!--  					<div class="t-btn-ds1 ub-img uwh-tBtn"></div> -->
            </div> 

            <div id="header_title" class="ut ub-f1 ut-s tx-c fn-s-15" tabindex="0"></div>
            <div id="header_right" class="umw4 ub ub-ac ub-pe uinn-ar1 fn-s-15" >
                <!--  					<div class="t-btn-ds2 ub-img uwh-tBtn"></div> -->
            </div>
        </div>
    </div>
    <!--header结束--><!--content开始-->
    <div id="content" class="ub-f1 tx-l t-bla  pt-perspective">
    </div>
    <!--content结束-->
    <div id="footer" class="uf t-bla ub ubt b-gra4 uhide">
        <div class="ub ub-f1 tab5">
        </div>     
    </div>
</div>